@media print{
        // slick slider
    .slick-slide {
        display: none !important;
        &.slick-active {
            display: block !important;
        }
    }
    .slick-list {
        height: auto !important;
    }
    .slick-track {
        width: auto !important;
        height: auto !important;
        transform: none !important;
        .slick-slide {
            width: auto !important;
        }
    }
    // slick slider
    a:not(.btn) {
        text-decoration: none !important;
    }
    .container{
        &.nav-tab-wrap{
            display: none !important;
        }
    }
    .slide-arrow{
        display: none !important;
    }
    .stay-up{
        display: none !important;
    }
    .logo-thumbnail{
        height: 60px;
    }
    // speciality pages
    #testimonials{
        display: none !important;
    }
    .share-wrap{
        display: none !important;
    }
    .form-panel{
        display: none !important;
    }
    // find a doctor
    @media (min-width: 1200px){
        .find-doctor-wrap {
            display: none !important;
        }
    }
    .sidebar-cols{
        .title-col{
            &:before{
                top: -100px !important;
            }
        }
    }
    .sidebar-cols{
        .content-col{
            .content{
                ul.pagination{
                    display: none;
                }
            }
        }
    }
    // patient experience
    #video-slider{
        display: none;
    }
    pre, blockquote{
        border: none;
    }
    // package detail
    .appintment-cta-wrap{
        display: none !important;
    }
    .overlay-card{
        border: 1px solid #6e6179;
    }
    // governance
    .governance-group.hilite{
        .members{
            border: none;
            .card-body{
                padding: 15px;
            }
        }
    }
    .governance-group{
        .members{
            border: 1px solid #6e6179;
        }
    }
    // insurance affiliates
    .form-panel{
        &.form-inline{
            &.insurance-form-panel{
                display: none !important;
            }
        }
    }
    // online appointment
    form{
        .nav-content-tab{
            display: none !important;
        }
    }
    // contact us
    .direction{
        & + .inner-content{
            display: none !important;
        }
    }
    // feedback
    .form-desc {
        & + form{
            display: none !important;
        }
    }
    // create your package
    .simple-form-wrap{
        display: none !important;
    }
    .ch-packages{
        display: none !important;
    }
    // register
    .reg-form{
        display: none !important;
    }
    // second opinion
    .request-works{
        .col-md-6{
            display: none !important;
            & + .col-md-6{
                display: block !important;
            }
        }
    }
    // search lnding
    .bg-color-banner{
        &:before{
            height: 370px !important;
        }
        hr{
            display: none !important;;
        }
        .srh-row{
            display: none !important;
        }
    }
    // .common
    .top-nav {
        display: none !important;
    }
    #doctors{
        page-break-inside: avoid !important;
    }
    #catheterization{
        page-break-inside: avoid !important;
    }
    .grid-img-layout{
        page-break-inside: avoid !important;
    }
    .info-box-slider{
        page-break-inside: avoid !important;
    }
    footer{
        page-break-inside: avoid !important;
    }
    .customize-package{
        page-break-inside: avoid !important;
    }
    .governance-group{
        &.top-space{
            page-break-inside: avoid !important;
        }
    }
    #accordion1{
        page-break-inside: avoid !important;
    }
    .inner-content{
        &.first-group{
            page-break-inside: avoid !important;
        }
    }
    .your-packages{
        #accordion1{
            page-break-inside: unset !important;
        }
    }
    .request-works{
        page-break-inside: avoid !important;
    }
    .thumbnail-caption{
        page-break-inside: avoid !important;
    }
    .multyple-color-bg{
        page-break-inside: avoid !important;
    }
   #cardSpecialists .slick-slide{
       page-break-inside: avoid !important;
       border: 1px solid #6e6179;
   }
    #allPackages-card-slider .slick-slide{
       page-break-inside: avoid !important;
       border: 1px solid #6e6179;
   }
   .simple-card-booking .simple-card-slider .slick-slide {
        border: 1px solid #6e6179;
    }
    #bestSellers-card-slider .slick-slide{
       page-break-inside: avoid !important;
       border: 1px solid #6e6179;
   }
    .text-over-img{
        page-break-inside: avoid !important;    
    }
    .overlay-card{
        page-break-inside: avoid !important;    
        height: auto !important;    
    }
    .simple-card-booking.columns-4{
        page-break-inside: avoid !important;   
    }
    .simple-card-booking.columns-4 .simple-card{
        page-break-inside: avoid !important;   
        border: 1px solid #6e6179; 
    }
    .checkbox-flex.checkbox-flex-body{
         page-break-inside: avoid !important;   
    }
    .card {
        page-break-inside: avoid !important;  
    }
    .doctors-list .col-md-4 .card{
        page-break-inside: avoid !important;  
    }
    .card-slider{
        .card{
            height: 480px !important;
            &:nth-child(3n+3){
                display: none !important;
            }
        }
    }
    .logo-thumbnail{
        height: 90px !important;
    }
    .thumbnail-slider{
        .logo-thumbnail{
            &:nth-child(4n+4){
                display: none !important;
            }
        }
    }
    .card{
        &.card-body{
            padding: 15px 30px !important;
        }
    }
    .card.events{
        page-break-inside: avoid !important;
    }
    
}
