section.banner{
  padding: 40px 0px;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $white;
  @media(max-width: 991px){
    background-position: center;
    padding: 20px 0px;
  }
  &.banner-about-resp{
    @media(max-width: 736px){
        background-position: -425px;
    }
  }
  .container{
    position: relative;
    z-index: 1;
  }
  &.add-overlay{
    position: relative;
    &:after{
      content: "";
      display: block;
      background-color: rgba(0,0,0,0.6);
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      bottom: 0px;
    }
  }
  h1{
    font-size: 80px;
    color: white;
    margin-top: 160px;
    margin-bottom: 45px;
    @media(max-width: 736px){
        font-size: 35px;
        margin-top: 80px;
        margin-bottom: 25px;
    }
  }
  &.white-fill{
    &.add-overlay{
      &:after{
        // background-color: white;
        display: none;
      }
    }
    .breadcrumb{
      li, a{
        color: #000;
        text-shadow: 1px 1px #d2d2d2;
        // color: $scarpa_flow;
        // text-shadow: 1px 1px $white;
      }
    }
  }
  &.size-s{
    height: 250px;
    @media(max-width: 1200px){
      height: 230px;
    }
    @media(max-width: 991px){
      height: 180px;
    }
    h1{
      font-size: 60px;
      margin-top: 75px;
      color: $lucky_point;
      margin-bottom: 0px;
      font-family: $open_sansregular;
      font-weight: 400;
      @media(max-width: 1200px){
        font-size: 50px;
      }
      @media(max-width: 991px){
        font-size: 34px;
      }
      @media(max-width: 736px){
        font-size: 30px;
      }
      @media(max-width: 320px){
        font-size: 28px;
      }
    }
  }
  &.size-m{
    @media(min-width: 1367px){
       height: 400px;
    }
    h1{
        font-size: 60px;
        margin-top: 160px;
        margin-bottom: 0px;
        color: $lucky_point;
        font-family: $open_sansregular;
        font-weight: 400;
        @media(min-width: 1367px){
           position: absolute;
           top: 220px;
           margin-top: 0;
           margin-bottom: 0;
       }
        @media(max-width: 1200px){
            font-size: 50px;
        }
        @media(max-width: 991px){
            margin-top: 80px;
            margin-bottom: 25px;
            font-size: 35px;
        }
        @media(max-width: 991px){
            margin-top: 80px;
            margin-bottom: 0px;
            font-size: 28px;
        }
    }
  }

  .banner-header-wrap{
    //   max-width: 700px;
  }

  &.head-description{
    h1{
        margin-top: 160px;
        margin-bottom: 25px;
        color: $lucky_point;
        font-family: $open_sanssemibold;
        font-weight: 600;
        font-size : 48px;
        @media(max-width: 1200px){
            font-size: 50px;
        }
        @media(max-width: 991px){
            margin-top: 40px;
            margin-bottom: 15px;
            font-size: 35px;
        }
    }
    p{
        font-family : $open_sansregular;
        font-weight: 400;
        font-size : 16px;
        line-height: 26px;
        color : $gun_powder;
        max-width: 650px;;
    }
  }
  &.size-lg{
      height: 500px;
      @media(max-width: 736px){
          height: auto;
      }

    h1{
        font-size: 48px;
        margin-top: 44px;
        margin-bottom: 25px;
        color: $lucky_point;
        font-family: $open_sanssemibold;
        font-weight: 600;
        @media(max-width: 1200px){
            font-size: 50px;
        }
        @media(max-width: 991px){
            margin-top:30px;
            margin-bottom: 25px;
            font-size: 35px;
        }
    }
     p{
        font-family : $open_sansregular;
        font-weight: 400;
        font-size : 16px;
        line-height: 26px;
        color : $gun_powder;
        max-width: 770px;;
    }
  }
  &.size-clg{
      height: 400px;
      @media(max-width: 736px){
          height: auto;
      }

    h1{
        font-size: 48px;
        margin-top: 44px;
        margin-bottom: 25px;
        color: $lucky_point;
        font-family: $open_sanssemibold;
        font-weight: 600;
        @media(max-width: 1200px){
            font-size: 50px;
        }
        @media(max-width: 991px){
            margin-top:30px;
            margin-bottom: 25px;
            font-size: 35px;
        }
    }
     p{
        font-family : $open_sansregular;
        font-weight: 400;
        font-size : 16px;
        line-height: 26px;
        color : $gun_powder;
        max-width: 770px;;
    }
  }
  &.pl-banner{
    height: 500px;
    @media(max-width: 991px){
        height: auto;
    }
    h1{
        position: absolute;
        top: 150px;
        @media(max-width: 991px){
            position: unset;
        }
    }
  }
  &.right-content{
      @media(max-width: 1200px){
            background-position: 35%;
        }
        @media(max-width: 1200px){
            background-position: bottom;
        }
    .banner-header-wrap{
        max-width: 670px;
        margin-left: auto;
        @media(max-width: 1200px){
            max-width: 470px;
        }
        h1{
            font-size: 48px;
            margin-top: 44px;
            margin-bottom: 20px;
            color: $lucky_point;
            font-family: $open_sanssemibold;
            font-weight: 600;
            @media(max-width: 1200px){
                font-size: 42px;
            }
            @media(max-width: 991px){
                margin-top:30px;
                margin-bottom: 15px;
                font-size: 35px;
            }
        }
        h5{
        font-size: 21px;
         color: $lucky_point;
        font-family: $open_sansregular;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 30px;
        @media(max-width: 991px){
            font-size: 19px;
            margin-bottom: 15px;
        }
        @media(max-width: 768px){
            font-size: 17px;
        }
    }
     p{
        font-family : $open_sansregular;
        font-weight: 400;
        font-size : 16px;
        line-height: 26px;
        color : $gun_powder;
        max-width: 770px;;
    }
    .btn-wrap{
        padding-top: 20px;
    }
    }
  }
}
.plain-banner{
    padding: 100px 0px;
    background-size: cover;
    @media(max-width: 1200px){
        padding: 60px 0px;
    }
    @media(max-width: 991px){
        padding: 30px 0px;
    }
    &.head-description{
        h1{
            margin-top: 0px;
            margin-bottom: 0px;
            color: $lucky_point;
            font-family: $open_sanssemibold;
            font-weight: 600;
            font-size : 48px;
            @media(max-width: 1200px){
              font-size: 38px;
              line-height: 42px;
            }
            @media(max-width: 991px){
              font-size: 32px;
              line-height: 36px;
            }
            @media(max-width: 768px){
              font-size: 26px;
              line-height: 32px;
            }
        }
        p{
            font-family : $open_sansregular;
            font-weight: 400;
            font-size : 16px;
            line-height: 26px;
            color : $gun_powder;
            max-width: 850px;;
            margin: 30px 0px 0px 0px;
            @media(max-width: 768px){
              margin-top: 15px;
            }
        }
    }
}
.banner-clip{
    position: absolute;
    right: 0;
    top: -40px;
    @media(max-width: 991px){
        top: -20px;
        width: 300px;
    }
    @media(max-width: 736px){
        display: none;
    }
}

section.banner{
    &.size-wol{
        @media(min-width: 1367px){
            height: 400px;
        }
        h1{
        @media(min-width: 1367px){
            position: absolute;
            bottom: -278px;
            margin-top: 0;
            margin-bottom: 0;
        }
        }
    }

}

.bg-color-banner{
    background-color: $snuff;
    padding: 40px 0px;
    @media(max-width: 1200px){
        padding: 20px 0px;
    }
    .breadcrumb-item{
         color: $gun_powder;
         a{
             color: $gun_powder;
         }
        &.active{
            color: $gun_powder;
        }
    }
    h1{
        position: unset;
        font-size: 60px;
        line-height: 60px;
        color: $lucky_point;
        font-family: $open_sansregular;
        font-weight: 400;
        margin-top: 40px;
        @media(max-width: 1200px){
            font-size: 45px;
            line-height: 32px;
            margin-top: 20px;
        }
        @media(max-width: 768px){
            font-size: 40px;
        }
        @media(max-width: 736px){
            font-size: 35px;
            line-height: 28px;
        }
    }
    hr{
        margin-top: 40px;
        margin-bottom: 40px;
        border-top: 1px solid $white;
         @media(max-width: 1200px){
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

