// Footer styles go here
.footer-nav{
    background-color: $gun_powder;
    padding: 100px 0;
    @media(max-width: 1200px){
        padding: 80px 0;
    }
    @media(max-width: 768px){
        padding: 60px 0;
    }
    @media(max-width: 736px){
        padding: 40px 0 25px;
    }
    .col-md-2{
        @media(max-width: 736px){
            max-width: 50%;
        }
    }
    .blue-haze{
        @media(max-width: 736px){
            padding-top: 40px;
        }
        .title{
            h5{
                font-family: $open_sansregular;
                font-weight: 400;
            }
        }
    }
    .flex-vertical{
        @media(max-width: 991px) and (orientation: landscape){
            display: block;
        }
        &.blue-haze{
            .flex-row{
                a{
                    pointer-events: none;
                }
            }
        }
    }
    .licence-no{
        padding-top: 30px;
    }
}
.footer-cluster{
    background-color: $gun_powder_1;
    padding: 60px 0 45px;
    @media(max-width: 736px){
        padding: 40px 0 25px;
    }
    .offset-md-2{
        margin-right: 16.666667%;
        margin-left: 0;
        @media(max-width: 736px){
            margin-right: 0;
        }
    }
    .blue_bell{
        .col-md-5{
            p{
                font-size: 14px;
                &:hover{
                    color: $white;
                }
            }
        }
        .ex-link{
            font-size: 14px;
            &:hover{
                color: $white;
            }
        }
    }
}
.ft-menu{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    a{
        color: $lavender-grey;
        line-height: 30px;
        font-size: 16px;
        font-family: $open_sansregular;
        font-weight: 400;
        &:hover{
            color: $white;
        }
        @media(max-width: 991px){
            font-size: 14px;
            line-height: 14px;
        }
    }
}
.ft-menu{
    a{
        color: $lavender-grey;
        line-height: 28px;
        font-size: 16px;
        font-family: $open_sansregular;
        font-weight: 400;
        &:hover{
            color: $white;
        }
        @media(max-width: 991px){
            font-size: 14px;
            line-height: 14px;
        }
    }
    &.ft-menu-lg{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        a{
           line-height: 32px;
        }
    }
}
.blue-haze{
    h5,address,a,p{
        color: $lavender-grey;
    }
}
.blue_bell{
    h4{
        font-family: $open_sansregular;
        font-weight: 400;
    }
    h4,address,a,p{
        color: $lavender-grey;
    }
}
.title + address{
    padding-top: 22px;
}
.footer-cluster{
    .col-md-5{
        & + .col-md-5{
            @media(max-width: 736px){
                padding-top: 40px;
            }
        }
    }
    .top-space{
        padding-top: 100px;
        @media(max-width: 768px){
            padding-top: 60px;
        }
        @media(max-width: 736px){
            padding-top: 40px;
        }
    }
    .space-sm{
        padding-top: 28px;
        @media(max-width: 736px){
            padding-top: 14px;
        }
    }
    .blue_bell{
        &.top-space{
        .col-md-6{
                & + .col-md-6{
                    @media(max-width: 736px){
                        padding-top: 25px;
                    }
                }
            }
        }
    }
}
.ex-link{
    li{
        & + li{
            margin-left: 15px;
        }
    }
}
