//Form styles go here
.form-control{
	-webkit-appearance: none;
}
.form-control-md{
	-webkit-appearance: none;
}

.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
    color: #D8000C;
    background-color: #FFBABA;
    border: 0;
    padding: 10px;
}
.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
    color: #4F8A10;
    background-color: #DFF2BF;
    border: 0;
    padding: 10px;
}
div.wpcf7-mail-sent-ok:before,div.wpcf7-validation-errors:before {
    font: 26px/30px FontAwesome;
    margin-right: 16px;
    vertical-align: middle;
}
div.wpcf7-mail-sent-ok:before {
    content:'\f00c';
}
div.wpcf7-validation-errors:before {
    content:'\f057';
}
// select{
//     max-width: 100%;
// }
    .select2-container--default{
        .select2-selection--single{
            border-radius: 0;
            border: none;
            .select2-selection__rendered{
                line-height: 55px;
                padding-left: 15px;
            }
            .select2-selection__arrow{
                top: 0;
                right: -1px;
                width: 70px;
                height: 60px;
                background: $blue_bell;
                 b {
                    border-color: $white !important;
                    border-style: solid;
                    border-width: 0 2px 2px 0 !important;
                    height: 15px;
                    left: 50%;
                    margin-left: -10%;
                    margin-top: -16%;
                    position: absolute;
                    top: 50%;
                    width: 15px;
                    // background-color: #4F8A10;
                    @include rotate(45);
                }
            }
        }
    }
    .select2-container{
        font-family: $open_sanssemibold;
        font-weight: 600;
        color: $gun_powder;
        // width: 420px !important;
        .select2-selection--single{
            // width: 420px;
            height: 60px;
        }
    }
    .select2-container--open .select2-dropdown--above {
        width: 421px;
    }

.select2-container--open{
    .select2-dropdown--below{
        border: none;
        border-radius: 0;
    }
    .select2-dropdown--above{
        border: none;
        border-radius: 0;
    }
}
.select2-container--default{
    .select2-results__option--highlighted[aria-selected]{
        background-color: $blue_bell;
        color: $white;
    }
}
span.select2-selection.select2-selection--single {
        outline: none;
    }
.input-dropdown{
    width: 50%;
}
.select2-search--dropdown{
    padding: 0px;
}
.select2-results__option{
    padding: 10px 20px;
}

.form-flex{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    .form-group{
        margin-bottom: 15px;
        width: 100%;
    }
}
.form-group{
    &.flex-row{
        button{
            margin-left: 30px;
            height: 60px;
            @media(max-width: 768px){
              height: 50px;
            }
        }
    }

}
.form-control {
    display: block;
    width: 100%;
    height: 60px;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid $white;
    // color: #495057;
    background-clip: inherit;
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    @media(max-width: 768px){
      height: 50px;
      line-height: 50px;
    }
    &.form-control-outline{
        background-color: transparent;
        border: 2px solid $blue_haze_1;
        color: $white;
    }
}
.form-control-md {
    display: block;
    width: 100%;
    height: 50px;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5;
    border:1px solid $white;
    // color: #495057;
    background-clip: inherit;
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    &.form-control-outline{
        background-color: transparent;
        border: 2px solid $blue_haze_1;
        color: $white;
    }
}
textarea.text-area-md{
    min-height: 100px;
}

.form-control,.form-control-md{
  &::placeholder{
    color: $blue_haze_1 !important;
  }
  &:focus{
    outline: 0px !important;
    box-shadow: none !important;
  }
}

.select2-search--dropdown{
  padding: 10px 15px;
}
.select2-container--open .select2-dropdown--below{
  //border: 1px solid rgba($blue_bell, 0.2);
  box-shadow: 0px 5px 5px #ccc;
  border-top: 0px;
}

.select2-container--default .select2-search--dropdown .select2-search__field{
  border: 1px solid rgba($blue_bell, 0.5);
  font-family: $open_sansregular;
  font-weight: 400;
  padding: 10px;
  box-shadow: none;
  outline: 0;
}

.form-group{
  .form-control-sm{
    height: 50px;
    & + .select2-container .select2-selection--single{
        height: 50px;
        .select2-selection__arrow{
          width: 60px;
          height: 100%;
          b{
            margin-left: -7px;
            margin-top: -12px;
          }
        }
    }

  }
}

.form-panel{
  .form-control-sm, .btn-wrap .btn-control-sm{
    height: 55px;
    & + .select2-container .select2-selection--single{
        height: 55px;
    }
  }
}

// .form-control-sm{
//     &.thin{
//         .select2-container--default .select2-selection--single .select2-selection__rendered{
//             font-family: $open_sansregular!important;
//              font-weight: 400;
//             font-size: 16px !important;
//         }
//     }
// }
.btn-wrap{
  .btn-control-sm{
    height: 50px;
  }
}

.form-group{
    label{
        font-family : $open_sansregular;
        font-weight: 400;
        font-size : 16px;
        color : $gun_powder;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .checkbox-group{
        label{
            margin-bottom: 0;
        }
    }
}
////////////////////////
.form-wrap{
    background-color: $snuff;
    border-top: 5px solid $lavender-grey;
    margin-top: 30px;
    .form-content{
        padding: 50px 40px;
        @media(max-width: 736px){
            padding: 20px;
        }
        .row{
            align-items: center;
            @media(max-width: 1200px){
                display: block;
            }
            .col-md-6{

                @media(max-width: 1200px){
                    max-width: 100%;
                }
                .single-item{
                    label{
                        width: 100%;
                    }
                }
            }
        }
        .title{
            h4{
                line-height: 20px;
            }
        }
        .form-group{
            margin-top: 27px;
            margin-bottom: 0;
            @media(max-width: 736px){
                margin-top: 12px;
            }
            .input-group{
                .form-control{
                    // display: block;
                    // width: 100%;
                    height: 50px;
                    // padding: 20px;
                    // font-size: 1rem;
                    // line-height: 1.5;
                    border:1px solid $white;
                    // // color: #495057;
                    background-clip: inherit;
                    // border-radius: 0;
                    // -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                    // transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                    // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                    // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                    &.form-control-outline{
                        background-color: transparent;
                        border: 2px solid $blue_haze_1;
                        color: $white;
                    }
                }
                &.date-picker{
                    .input-group-text{
                        display: flex;
                        align-items: center;
                        padding: 4px 12px;
                        margin-bottom: 0;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 15px;
                        color: $lucky_point;
                        text-align: center;
                        white-space: nowrap;
                        background-color: transparent;
                        border: 1px solid transparent;
                        border-radius: 0;
                        top: 1px;
                    }
                }
            }
        }
        .select2-container--default{
            .select2-selection--single{
                .select2-selection__rendered{
                    color: $gun_powder;
                    font-family : $open_sansregular;
                    font-weight: 400;
                    font-size : 16px;
                    line-height: 50px;
                }
            }
        }
    }
    .form-group{
        &.form-recaptcha{
            margin-top: 0;
            label.bold{
                font-family : $open_sansbold;
                font-weight: 700;
                font-size : 16px;
                color : $gun_powder;
                margin-bottom: 0;
                @media(max-width: 736px){
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
            &.flex-row{
                justify-content: space-between;
                align-items: center;
                @media(max-width: 1200px){
                    justify-content: flex-start;
                    margin-top: 30px;
                }
                @media(max-width: 736px){
                    display: block;
                    margin-top: 0;
                }
                .form-control-md{
                    width: 240px;
                    margin-left: 25px;
                    @media(max-width: 736px){
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
        }

    }
}

.date-picker{
    background-color: $white;
    .icon{
        font-size: 40px;
    }
    .form-control{
        background: transparent;
        z-index: 1;
        cursor: pointer;
    }
    .input-group-text{
        display: flex;
        align-items: center;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 15px;
        color: $lucky_point;
        text-align: center;
        white-space: nowrap;
        background-color: $white;
        border: 1px solid transparent;
        border-radius: 0;
        position: absolute;
        right: 0;
        top: 8px;
        @media(max-width: 736px){
            top: 0;
        }
    }
}
.select2-results__option{
    font-family : $open_sansregular;
    font-weight: 400;
    font-size : 16px;
    color : $gun_powder;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background-color: $blue_haze_1;
}


.disable-fieldgroup{
  &.form-content {
    padding: 40px;
    @media(max-width: 991px){
      padding: 30px;
    }
    @media(max-width: 768px){
      padding: 15px;
    }
    .form-group{
      margin: 0px;
      margin-bottom: 30px;
      @media(max-width: 768px){
        margin-bottom: 15px;
      }
      .form-control-sm + .select2-container .select2-selection--single .select2-selection__arrow{
        width: 50px;
      }
      .form-control-sm + .select2-container .select2-selection--single{
        height: 50px;
      }
    }
    .btn-wrap{
      margin-top: 50px;
      margin-bottom: 15px;
      @media(max-width: 991px){
          margin-top: 30px;
      }
    }
    .select2-container--default{
      .select2-selection--single{
        .select2-selection__rendered{
          line-height: 50px;
        }
      }
   }
  }
}

.disable-fieldgroup.form-content .select2-container--default .select2-selection--single .select2-selection__rendered{
  padding-left: 15px;
  padding-right: 15px;
}
.form-control-md, .form-control{
  padding: 12px 15px;
}
.select2-search--dropdown{
  padding: 0px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  padding: 10px 15px;
}
.select2-results__option[aria-selected]{
  font-size: 15px;
  padding: 8px 15px;
}

textarea{
  min-height: 150px;
}

.form-group {
    &.single-item{
        label{
          width: 100%;
        }
    }
}
// .form-control{
//   outline: 0;
//   box-shadow: none;
//   border: 0px;
//   &:hover, &:focus{
//     outline: 0;
//     box-shadow: none;
//     border: 0px;
//     border-color: transparent;
//   }
// }
// .form-control[type='file']{
//   padding: 5px 10px;
//   display: inline-block;
//   height: 50px;
//   line-height: 34px;
//   max-width: 325px;
// }
input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: 50px;
    padding: 5px 10px;
    line-height: 38px;
    width: 100%;
    background-color: $white;
    text-align: center;
    @media(max-width: 736px){
        width: 100%;
    }
}
.file-upload-label{
    font-family: $open_sansregular;
    font-weight: 400;
    font-size: 16px;
    color: $gun_powder;
    line-height: 22px;
    margin-bottom: 10px;
}
.form-control-xs{
    display: block;
    width: 100%;
    height: 40px;
    padding: 15px;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid $blue_haze_1 ;
    // color: #495057;
    background-clip: inherit;
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    &.form-control-outline{
        background-color: transparent;
        border: 2px solid $blue_haze_1;
        color: $white;
    }
}
.form-control-55{
    display: block;
    width: 100%;
    height: 55px;
    padding: 15px;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid $white ;
    // color: #495057;
    background-clip: inherit;
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    box-shadow: none;
    outline: none;
    &:focus{
        box-shadow: none;
        outline: none;
    }
    &.form-control-outline{
        background-color: transparent;
        border: 2px solid $blue_haze_1;
        color: $white;
    }
}
select, .select2-container{
  width: 100% !important;
  z-index: 9999;
}
textarea {
  resize: none;
}
.select2-container{
    &.select2-container--default{
        &.select2-container--open{
            @media(max-width: 991px){

            }
        }
    }
}
.selectpicker-xs{
    .select2-container{
        height: 40px;
        // padding: 15px;
        .select2-selection--single {
            border: 1px solid $blue_haze_1;
            height: 40px;
        }
    }
    .select2-container--default{
        .select2-selection--single{
            .select2-selection__arrow{
                width: 44px;
                height: 40px;
            }
            .select2-selection__rendered{
                font-family: $open_sansregular;
                font-weight: 400;
                line-height: 38px;
                padding-left: 15px;
            }
        }
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b{
        border-color: #ffffff !important;
        border-style: solid;
        border-width: 0 2px 2px 0 !important;
        height: 15px;
        left: 50%;
        margin-left: -7px;
        margin-top: -25%;
        position: absolute;
        top: 50%;
        width: 15px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .select2{
    &.select2-container{
        &.select2-container--default{
            &.select2-container--below{
                &.select2-container--open{
                    .select2-selection__arrow{
                        b{
                            transform: rotate(-135deg);
                            margin-top: -6px;
                        }
                    }
                }
            }
        }
    }
}
.select2{
    &.select2-container{
        &.select2-container--default{
            &.select2-container--above{
                &.select2-container--open{
                    .select2-selection__arrow{
                        b{
                            transform: rotate(-135deg);
                            margin-top: -7px;
                        }
                    }
                }
            }
        }
    }
}
}
.select2{
    &.select2-container{
        &.select2-container--default{
            &.select2-container--below{
                &.select2-container--open{
                    .select2-selection__arrow{
                        b{
                            transform: rotate(-135deg);
                            margin-top: -4px;
                            margin-left: -6px;
                        }
                    }
                }
            }
        }
    }
}

.form-group{
    .form-control-xs{
        width: 100% !important;
        border-radius: 0!important;
        padding: 15px!important;
  }
  .form-control-sm{
      width: 100%!important;
      border-radius: 0!important;
      padding: 15px!important;
  }
  .form-control-md{
      width: 100%!important;
      border-radius: 0!important;
      padding: 15px!important;
  }
  .form-control-lg{
      width: 100%!important;
      border-radius: 0!important;
      padding: 15px!important;
  }
}
#selectedFile{
    font-size: 14px;
    line-height: 18px;
    margin-top: 15px;
    text-align: left;
}
// .selectpicker-xs{
//     .select2-container{
//         .select2-selection--single{
//             height: 45px !important;
//         }
//     }
// }
// .selectpicker{
//     // &.selectpicker-xs{
//         .select2-container{
//             .select2-selection--single{
//                 height: 45px !important;
//             }
//         }
//     // }
//     &.selectpicker-sm{
//         &.select2-container{
//             &.select2-selection--single{
//                 height: 50px !important;
//             }
//         }
//     }
//     &.selectpicker-md{
//         &.select2-container{
//             &.select2-selection--single{
//                 height: 55px !important;
//             }
//         }
//     }
//     &.selectpicker-lg{
//         &.select2-container{
//             &.select2-selection--single{
//                 height: 60px !important;
//             }
//         }
//     }
// }
