//Header styles go here
// header{
//     @media(max-width: 768px){
//         display: none;
//     }
// }
.top-header{
    background-color: $athens_gray_1;
    padding: 35px 0;
    .row{
        align-items: center;
        .col-md-6{
            .flex-row{
                &.float-right{
                    height: 45px;
                }
            }
            @media(max-width: 1200px){
                flex: 0 0 40%;
                max-width: 40%;
            }
            // @media(max-width: 1200px) and (orientation: landscape){
            //     flex: 0 0 35%;
            //     max-width: 35%;
            // }
            @media(max-width: 991px){
                flex: 0 0 50%;
                max-width: 50%;
            }
            @media(max-width: 736px){
                flex: 0 0 100%;
                max-width: 100%;
            }
            & + .col-md-6{
                @media(max-width: 1200px){
                    flex: 0 0 60%;
                    max-width: 60%;
                }
                // @media(max-width: 1200px) and (orientation: landscape){
                //     flex: 0 0 65%;
                //     max-width: 65%;
                // }
                @media(max-width: 991px){
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @media(max-width: 736px){
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }
}
.logo-wrap{
    display: flex;
    .member-logo{
        padding-left: 20px;
        border-left: 1px solid $athens_gray;
        margin-left: 20px;
    }
}
.flex-row{
    display: flex;
    align-items: center;
    height: auto;
}
.top-nav{
    .container{
        padding: 0;
        @media(max-width: 991px){
            padding: 0 15px;
        }
    }
}
.accessibility{
    ul{
        li{
            & + li{
                // padding-left: 12px;
            }
        }
    }
    .icon-wrap{
      font-size: 25px;
      line-height: 26px;
      margin-right: 15px;
      position: relative;
      top: 6px;
      color: #C6C4DE;
    }
}

.contact-info{
    .contact-no{
        label{
            color: $blue_bell ;
        }
    }
    font-size: 14px;
    color: $lucky_point;
    @media(max-width: 1200px){
        font-size: 12px;
    }
    @media(max-width: 991px){
        font-size: 14px;
    }
    .phone-number{
        font-family: $open_sansbold;
        font-weight: 700;
        a{
            color: $lucky_point;
            font-family: $open_sansbold;
            font-weight: 700;
            font-size: 14px;
            @media(max-width: 1200px){
                font-size: 12px;
            }
            @media(max-width: 991px){
                font-size: 14px;
            }
        }
    //     b{
    //             display: block;
    // color: #000;
    //     }
    }
    .icon-wrap{
        padding: 7px 15px 7px 0;
        margin-left: 30px;
        height: 40px;
        @media(max-width: 991px){
            margin-left: 0;
        }
        .icon{
            font-size: 25px;
            &.rotate{
                transform: rotate(90deg);
            }
        }
    }
}
header{
    a{
        color: $white;
         &:hover{
            text-decoration: none;
        }
    }
}


@media(max-width: 991px){
  .dropdown-menu-items li:hover a:before{display: none;}
}
.nav-items > li{
    // position: relative;
}
.nav-items > li.active > a{
    color: $white;
}
.nav-items > li.current-active{
    a{
        margin-left: 5px;
        padding-left: 0;
        @media(max-width: 991px){
            margin-left: 0;
            padding-left: 15px;
        }
    }
}
// .nav-items > li.current-active > a:after{
//     position: absolute;
//     content: "";
//     left: 0;
//     bottom: 0;
//     background-color: #c4151c;
//     height: 5px;
//     width: 100%;
//     @media(max-width: 991px){
//         display: none;
//     }
// }
