//Navigation styles go here
.bg-primary{
    background-color: $lucky_point !important;
    color: $white;
    position: relative;
    // &:before{
    //   @include transition(all, 0.5s, ease-in-out);
    //   position: absolute;
    //   content: "";
    //   height: 1px;
    //   background-color: $danger;
    //   width: 0%;
    //   bottom: 0;
    //   left: 0px;
    // z-index: 999;
    // }
    &.active{
      &:before{
        left: 0;
        width: 100%
      }
    }
}
.navbar-default{
    display: flex;
    justify-content: space-between;
}
.nav-items{
    display: flex;
    @media(max-width: 768px){
        display: none;
    }
    li{
        & + li{
            // margin-left: 20px;
            a{
                display: inline-block;
                // padding-left: 5px;
                position: relative;
                @media(max-width: 991px){
                    // padding-left: 15px;
                }
            }
        }
    }
    .nav-dropdown{
    & > a::after{
      z-index: 3;
      width: 0;
      bottom: 0;
      left: 0;
      transition: all 0.3s ease-in-out;
      border-bottom: 0px solid transparent;
      position: absolute;
      content: "";
    }
    & > a{
        &:hover{
            // &:after{
            //     background-color: $danger;
            //     height: 5px;
            //     width: 100%;
            //     @media(max-width: 991px){
            //         display: none;
            //     }
            // }
        }
    }
    &.active{
        .nav-dropdown-row-bg, .nav-dropdown-row,.nav-dropdown-visibility{
            visibility: visible;
            opacity: 1;
        }
    }
    .nav-dropdown-row-bg, .nav-dropdown-row,.nav-dropdown-visibility{
    //   transition: opacity 0.3s ease-in-out;
    }
    .nav-dropdown-row-bg.active, .nav-dropdown-row.active,.nav-dropdown-visibility.active{
        visibility: visible;
        opacity: 1;
    }
}

}

.nav-dropdown-row{
  z-index: 999999 !important;
}

.nav-dropdown{
    position: unset;
    &.simple-dropdown{
      position: relative;
    }
    &:hover{
      & > a{
        // color: $primary;
      }
    }
}
.wide-dropdown {
    .nav-dropdown-row{
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        background-color: $astral;
        min-width: 1000px;
        min-height: 600px;
        top: 63px;
        left: 0;
        right: 0;
        z-index: 2;
        // @media(max-width: 1200px){
        //     top: 196px;;
        // }
        @media(max-width: 991px){
            min-width: 100%;
            top: 0;
        }
        .container{
            @media(max-width: 991px){
                max-width: 100%;
            }
            .row{
                display: inline-block;
            }
        }
        .dropdown-img{
            position: absolute;
            width: 400px;
            overflow: hidden;
            height: 600px;
            right: 0;
            @media(max-width: 1700px){
                width: 300px;
            }
            @media(max-width: 1200px){
                width: 300px;
            }
            @media(max-width: 991px){
                display: none;
                position: unset;
            }
            img{
                height: 100%;
            }
        }
    }
    .dropdown-menu-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        max-width: 1080px;
        padding-top: 50px;
        @media(max-width: 1700px){
            max-width: 975px;
            max-width: calc(975px - 14px);
        }
        @media(max-width: 1400px){
            max-width: 935px;
            max-width: calc(935px - 14px);
        }
        @media(max-width: 1300px){
            max-width: 894px;
            max-width: calc(894px - 14px);
        }
        @media(max-width: 1200px){
            max-width: 894px;
            max-width: calc(894px - 14px);
        }
        @media(max-width: 1200px){
            max-width: 735px;
            max-width: calc(735px - 14px);
        }
        @media(max-width: 1200px) and (orientation: landscape){
             justify-content: flex-start;
        }
        // @media(max-width: 1400px){
        //     max-width: 700px;
        // }
        // @media(max-width: 1200px){
        //     justify-content: flex-start;
        // }
        .nav-dropdown{
            max-width: 275px;
            @media(max-width: 1700px){
                max-width: 240px;
            }
            @media(max-width: 1400px){
                max-width: 230px;
            }
            @media(max-width: 1300px){
                max-width: 220px;
            }
            @media(max-width: 1200px){
                max-width: 245px;
            }
            @media(max-width: 991px){
                max-width: 100%;
            }
            &:nth-child(5){
                margin-top: -140px;
                max-width: 288px;
                position: relative;
                left: 5px;
                @media(max-width: 1400px){
                    left: 15px;
                }
                @media(max-width: 1200px){
                    margin-top: 0;
                }
                @media(max-width: 991px){
                   max-width: 100%;
                   position: unset;
                }
            }
        }
            a{
                font-size: 14px;
                line-height: 30px;
                font-family: $open_sansregular;
                font-weight: 400;
                display: inline-block;
                &:hover{
                    color: Red;
                }
            }
        li{
            & + li{
                margin-left: 0;

            }
        }
        .nav-dropdown{
            @media(max-width: 991px){
                    &:after{
                        display: none;
                    }
                }
           a{
                font-size : 21px;
                color : $anakiwa;
                font-family : $open_sansregular;
                font-weight: 400;
                @media(max-width: 1700px){
                    font-size : 19px;
                }
                @media(max-width: 991px){
                    margin: 15px 0 10px;
                    font-size : 18px;
                    color : $white;
                }
            }
            ul{
                width: 270px;
                padding-top: 15px;
                overflow: hidden;
                @media(max-width: 1700px){
                    width: 240px;
                }
                @media(max-width: 991px){
                    padding-top: 0;
                }
                li{
                    @media(max-width: 991px){
                        padding: 3px 0;
                    }
                    a{
                        color: $white;
                        font-family : $open_sansregular;
                        font-weight: 400;
                        font-size : 14px;
                        line-height: 30px;
                        position: relative;
                        @include transition (all, 0.3s, ease-in-out);
                        @media(max-width: 1400px){
                            font-size: 13px;
                        }
                        @media(max-width: 1300px){
                            font-size: 12px;
                        }
                        @media(max-width: 1200px){
                           line-height: 24px;
                        }
                        @media(max-width: 991px){
                            margin: 0;
                            line-height: 20px;
                        }
                        &:before{
                            font-family: 'icomoon' !important;
                            position: absolute;
                            content: "\e911";
                            left: -30px;
                            opacity: 0;
                            color: $white;
                            font-size: 22px;
                             @include transition (all, 0.4s, ease-in-out);
                        }
                        &:hover{
                            @media(min-width: 991px){
                                padding-left: 30px;
                                // color: $danger;
                                &:before{
                                    opacity: 1;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav-dropdown > a::after{
            display: none;
        }
    }
}
.simple-dropdown {
    .nav-dropdown-row{
        background-color: $astral;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        z-index: 2;
        position: fixed;
        min-width: 1000px;
        left: -115px;
        top: 188px;
        right: 0;
        min-height: 455px;
        width: 800px;
        position: absolute;
        top: 63px;
        padding-left: 100px;
        @media(max-width: 1200px){
            min-width: 800px;
            padding-left: 50px;
            min-height: 343px;
            left: 0px;
            right: auto;
        }
        @media(max-width: 991px){
            min-height: auto;
            top: 0;
            left: 0;
            padding-left: 0;
        }
        .dropdown-img{
            position: absolute;
            right: 0;
            @media(max-width: 1200px){
                width: 400px;
                overflow: hidden;
            }
            @media(max-width: 991px){
                display: none;
            }
            img{
                @media(max-width: 1200px){
                    max-width: 100%;
                }
            }
        }
        .container{
            @media(max-width: 991px){
                max-width: 100%;
                padding: 0 15px;
            }
        }
    }
    .dropdown-menu-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        max-width: 1016px;
        padding-top: 38px;
        overflow: hidden;
            a{
                font-size: 14px;
                line-height: 30px;
                font-family: $open_sansregular;
                font-weight: 400;
                display: inline-block;
            }
        li{
            & + li{
                margin-left: 0;

            }
        }
        .nav-dropdown{
            @media(max-width: 991px){
                &:after{
                    display: none;
                }
            }
           a{
                font-size : 21px;
                color : $anakiwa;
                font-family : $open_sansregular;
                font-weight: 400;
                @media(max-width: 991px){
                    margin: 15px 0 10px;
                    font-size : 18px;
                    color : $white;
                }
            }
            ul{
                width: 300px;
                padding-top: 15px;
                @media(max-width: 991px){
                    padding-top: 0;
                }
                li{
                    @media(max-width: 991px){
                        padding: 3px 0;
                    }
                    a{
                        color: $white;
                        font-family : $open_sansregular;
                        font-weight: 400;
                        font-size : 14px;
                        line-height: 30px;
                        position: relative;
                        @include transition (all, 0.3s, ease-in-out);
                        @media(max-width: 991px){
                            margin: 0;
                            line-height: 20px;
                        }
                        &:before{
                            @include transition (all, 0.4s, ease-in-out);
                            font-family: 'icomoon' !important;
                            position: absolute;
                            content: "\e911";
                            left: -30px;
                            opacity: 0;
                            color: $white;
                            font-size: 22px;
                        }
                        &:hover{
                            padding-left: 30px;
                            @media(min-width: 991px){
                                // margin-left: 30px;
                                // color: $danger;
                                 &:before{
                                    opacity: 1;
                                    left: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .nav-dropdown > a::after{
            display: none;
        }
}

.nav-dropdown-visibility{
    position: absolute;
    z-index: 2;
    display: flex;
    min-width: 100%;
    left: 0;
    background-color: $astral;
    padding: 60px;
    z-index: 99999;
    .icon-top-space{
        margin-top: 60px;
    }
    .menu-title{
        h4{
            color: $anakiwa;
            font-family : $open_sansregular;
            font-weight: 400;
            font-size : 21px;
            margin-bottom: 30px;
        }
    }
    .content{
        .right-icon{
            .icomoon{
                height: 20px;
                bottom: -15px;
            }
        }
    }
}
.nav-dropdown-row-bg, .nav-dropdown-row,.nav-dropdown-visibility{
    opacity: 0;
    visibility: hidden;
    // display: none;
    &.active{
        display: block;
        // border-bottom: 2px solid $danger;
    }
}



.nav-dropdown,.nav-dropdown-full-panel{
    // & > a::after{
    //   z-index: 3;
    //   width: 0;
    //   bottom: 0;
    //   left: 0;
    //   transition: all 0.3s ease-in-out;
    //   border-bottom: 0px solid transparent;
    //   position: absolute;
    //   content: "";
    // }
    // & > a{
    //     &:hover{
    //         &:after{
    //             background-color: $danger;
    //             height: 5px;
    //             width: 100%;
    //         }
    //     }
    // }
    &.active{
        background-color: $astral;
        .nav-dropdown-row-bg, .nav-dropdown-row,.nav-dropdown-visibility{
            visibility: visible;
            opacity: 1;
        }
    }
    .nav-dropdown-row-bg, .nav-dropdown-row,.nav-dropdown-visibility{
      transition: all 0.3s linear;
    }
    .nav-dropdown-row-bg.active, .nav-dropdown-row.active,.nav-dropdown-visibility.active{
        visibility: visible;
        opacity: 1;
    }
}





.nav-items{
    a{
        padding: 16px 15px;
        line-height: 30px;
        font-family: $open_sanssemibold;
        font-weight: 600;
        display: block;
        line-height: 31px;
        &:hover{
            background-color: $astral;
            color: $white;
        }
        @media(max-width: 1400px){
            font-size: 15px;
        }
        @media(max-width: 1200px){
            font-size: 14px;
            padding: 16px 8px;
        }
        @media(max-width: 991px){
          font-size: 16px;
        }
    }
}
.accessibility{
    a{
        font-family: $open_sanssemibold;
        font-weight: 600;
        padding: 15px 15px 15px 15px;
        line-height: 31px;
        display: block;
        &:hover,&:focus{
            color: $white;
            background-color: $astral;
        }
        & + a{
            padding: 15px 0 15px 15px;
        }
        @media(max-width: 1400px){
            font-size: 15px;
        }
        @media(max-width: 1200px){
            font-size: 14px;
        }
        @media(max-width: 991px){
          font-size: 16px;
        }
        &.active-danger{
            padding: 16px 15px;
            background-color: $danger;
            line-height: 31px;
        }
    }
    li{
        margin-right: 15px;
        & + li{
            margin-left: 25px;
        }
    }
}
.dropdown-menu-items,.nav-dropdown-visibility{
    a{
        padding: 0;
        display: flex;
    }
}
.nav-items,.accessibility{
    @media(max-width: 768px){
        display: none;
    }
}
// .nav-dropdown{
//     max-width: 275px;
//     // @media(max-width: 1700px){
//     //     width: 240px;
//     // }
//     &:nth-child(5){
//         margin-top: -112px;
//     }
// }


.wide-dropdown .nav-dropdown-row .container .row, .simple-dropdown .nav-dropdown-row .row{
  margin-left: 15px;
  margin-right: 15px;
}


@media(min-width: 1701px){
  .wide-dropdown .dropdown-menu-items{
    justify-content: flex-start;
    .nav-dropdown{
      max-width: 250px;
    }
    .nav-dropdown:nth-child(5){
      max-width: 288px;
      position: relative;
      right: -750px;
      left: auto;
    }
  }
}

.nav-items a{
  &:focus, &:hover{
    color: white !important;
  }
}
