.sidebar-inner{
  position: relative;
  padding-bottom: 100px;
  @media(max-width: 1200px){
    padding-bottom: 80px;
  }
  @media(max-width: 991px){
    padding-bottom: 30px;
    .info-box-slider{
        display: none;
    }
  }
  @media(max-width: 768px){
    padding-bottom: 0px;
  }
  & > .bottom-space-sm{
      @media(max-width:991px){
          padding-bottom: 30px;
      }
  }
  .info-box{
    border-top: 5px solid $lucky_point;
    @media(max-width: 991px){
      display: none;
    }
    img{
      margin-bottom: 0px;
      & + h4{
        margin-top: 20px
      }
    }
    h4{
      color: $lucky_point;
      font-family: $open_sanssemibold;
      font-weight: 600;
      margin-bottom: 15px;
    }
    // .btn-wrap{
    //     .btn{
    //         margin-top: 30px;
    //     }
    // }
    .btn{
      margin-top: 30px;
      @media(max-width: 736px){
          margin-top: 15px;
      }
    }
  }
  @media(max-width: 991px){
    padding-bottom: 0px;
    & > .bottom-space-sm{
      // padding-bottom: 0px;
    }
  }
}

.content-col{
  .info-box{
    margin-top: 30px;
    border-top: 5px solid $lucky_point;
    display: none;
    @media(max-width: 991px){
      display: block;
    }
    img{
      margin-bottom: 0px;
      width: 100%;
      & + h4{
        margin-top: 20px
      }
    }
    h4{
      color: $lucky_point;
      font-family: $open_sanssemibold;
      font-weight: 600;
      margin-bottom: 15px;
    }
    .btn{
      margin-top: 30px;
      @media(max-width: 736px){
          margin-top: 15px;
      }
    }
  }
  .info-box-slider{
    display: none;
    @media(max-width: 991px){
      display: block;
    }
  }
}

.sidebar-menu{
  border-top: 5px solid $lucky_point;
  @media(max-width: 991px){
    display: none;
  }
  li{
    display: inline-block;
    width: 100%;
    a{
      padding: 12px 15px;
      display: inline-block;
      width: 100%;
      background-color: $blue_bell;
      color: $white;
      padding-left: 50px;
       &:before{
          font-family: 'icomoon' !important;
          position: absolute;
            content: "\e911";
            font-size: 22px;
            left: 15px;
            line-height: 22px;
      }
    }
    & + li{
      border-top: 1px solid $white;
    }
  }
}

.sidebar-menu{
  & + .info-box-slider{
    margin-top: 60px;
    @media(max-width: 991px){
      margin-top: 30px;
    }
  }
  & + .info-box{
    margin-top: 60px;
    @media(max-width: 991px){
      margin-top: 30px;
    }
  }
}

.sidebar-right{
  padding-top: 50px;
  @media(max-width: 768px){
    padding-top: 30px;
  }
}

.well{
  border-top: 5px solid $lavender-grey;
  background: $blue_bell;
  padding: 15px;
  color: white;
  h4{
    font-size: 21px;
    line-height: 28px;
    border-bottom: 1px solid rgba($white, 0.5);
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .card-desp{
    border-bottom: 1px solid rgba($white, 0.5);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    padding: 0px 0px 15px 0px;
  }
  & +.well{
    margin-top: 30px;
    @media(max-width: 768px){
      margin-top: 15px;
    }
  }
  &.light{
    background: $lavender-grey;
    border-top: 5px solid $blue_bell;
  }
}


.sidebar-inner{
  .btn-wrap{
    .btn{
      height: auto;
      margin-top: -10px;
    }
  }
}


@media(max-width: 991px) {
  .sidebar-link li.hidden{
    display: none;
  }

  .sidebar-link li.active a:before{
    content: "\e910";
    font-size: 18px;
    right: 15px;
    left: auto;
  }
  .sidebar-link li.show-mobile-navs.active a:before{
    content: "";
    border: 1px solid white;
    height: 20px;
    width: 20px;
    top: 15px;
  }
  .sidebar-link li.show-mobile-navs.active a:after{
    content: "";
    display: block;
    position: absolute;
    border-top: 1px solid white;
    height: 1px;
    width: 10px;
    top: 25px;
    right: 20px;
  }
}


.sidebar-inner .btn-wrap .btn.reverse-icon{
  margin-left: -15px;
}