
body.aminus{
    .title{
        h2{
            font-size: 59px;
            @media(max-width: 768px){
                font-size: 39px;
            }
        }
        h3{
            font-size: 35px;
            @media(max-width: 768px){
                font-size: 25px;
            }
        }
        h4{
            font-size: 23px;
            @media(max-width: 768px){
                font-size: 19px;
            }
        }
        h5{
            font-size: 20px;
            @media(max-width: 991px){
                font-size: 18px;
            }
            @media(max-width: 768px){
                font-size: 16px;
            }
        }
    }
    .title-thin{
        h4{
            font-size: 20px;
            @media(max-width: 991px){
                font-size: 18px;
            }
            @media(max-width: 768px){
                font-size: 16px;
            }
        }
    }
    .title-md{
        h2{
            font-size : 47px;
            @media(max-width: 991px){
                font-size: 33px;
            }
        }
    }
    // title-component end
    .accordion{
        .card-header{
            font-size: 20px;
            &.collapsed{
                font-size: 19px;
                    &:after{
                    font-size: 14px;
                }
            }
        }
        .collapse, .collapsing{
            .collapse-body{
                h5{
                    font-size : 15px;
                }
                h4{
                    font-size : 15px;
                }
            }
        }
    }
    .accordion{
        &.accordion-checkbox{
            .card-header{
                font-size: 20px;
                @media(max-width: 736px){
                    font-size: 17px;
                }
                    &.collapsed{
                        font-size: 18px;
                        @media(max-width: 736px){
                        font-size: 15px;
                    }
                    &:after{
                        font-size: 14px;
                    }
                }
            }
            .collapse, .collapsing{
                .collapse-body{
                    h5{
                        font-size : 15px;
                    }
                    h4{
                        font-size : 15px;
                    }
                }
            }
        }
    }
    // accordian component end
    .blockquote-img{
        .quote{
            blockquote{
                font-size : 17px;
                @media(max-width: 1200px){
                    font-size : 13px;
                }
                @media(max-width: 991px){
                    font-size : 17px;
                }
                @media(max-width: 768px){
                    font-size : 13px;
                }
                @media(max-width: 736px){
                    font-size : 15px;
                }
            }
        }
        .quote{
            .block-head, .block-body{
                font-size: 17px;
            }
        }
    }
    .blockquote-img{
        .quote-desc{
            h2{
                font-size: 31px;
                @media(max-width: 991px){
                    font-size: 27px;
                }
                @media(max-width: 991px){
                    font-size: 23px;
                }
            }
            p{
                font-size: 20px;
                @media(max-width: 991px){
                    font-size: 17px;
                }
                @media(max-width: 991px){
                    font-size: 15px;
                }
            }
        }
    }
    // blockquote component end
    .breadcrumb{
        font-size: 11px;
    }
    // breadcrumb component end
    .btn {
        font-size: 15px;
        @media(max-width: 320px){
            font-size: 13px;
        }
    }
    .btn{
        &.btn-icon{
            font-size: 17px;
            &.btn-sm{
            font-size: 15px;
                .icon-arrow:before {
                    font-size: 15px;
                }
            }
            .icomoon{
                font-size: 21px;
            }
            &.right-icon{
                .icomoon{
                    @media(max-width: 1200px){
                    font-size: 17px;
                    }
                }
            }
            &.btn-sml{
                font-size: 15px;
            }
        }
    }
    .btn-speaker,.btn-print{
        font-size: 49px;
    }
    .btn-sm{
        font-size: 15px;
    }
    // button component end
    .card{
        &.content-header{
            .content-card-body{
                .date{
                    font-size: 15px;
                }
                h3{
                    font-size: 20px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
// card content header component end
    .card {
        &.events{
            .card-header{
            .point-wrap{
                .count{
                font-size: 59px;
                @media(max-width: 768px){
                    font-size: 29px;
                }
                &.sml{
                    font-size: 31px;
                    @media(max-width: 768px){
                        font-size: 29px;
                    }
                }
                }
                .point-label{
                font-size: 9px;
                @media(max-width: 768px){
                    font-size: 9px;
                }
                }
            }
            }
            .info-row{
                span{
                    font-size: 15px;
                }
            }
        }
    }
    .events-details{
        .card.events {
            .card-header {
                .point-wrap{
                    .count{
                        font-size: 79px;
                        @media(max-width: 768px){
                            font-size: 31px;
                        }
                    }
                    .point-label{
                        font-size: 15px;
                        @media(max-width: 768px){
                            font-size: 11px;
                        }
                    }
                }
                .header-title{
                    h2{
                        font-size: 39px;
                        @media(max-width: 991px){
                            font-size: 27px;
                        }
                        @media(max-width: 768px){
                            font-size: 21px;
                        }
                    }
                }
            }
            .card-footer{
                .info-row{
                    span{
                        font-size: 17px;
                        @media(max-width: 768px){
                            font-size: 15px;
                        }
                        small{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .events-info{
            h4{
                font-size: 20px;
                @media(max-width: 991px){
                    margin-bottom: 19px;
                }
                @media(max-width: 768px){
                    font-size: 15px;
                }
            }
        }
    }
    // card events end
    .card-img-text{
        .card-img-text-body{
            .card-img-text-title{
                font-size : 33px;
                @media(max-width: 991px){
                    font-size : 27px;
                }
            }
            .card-img-desc{
                font-size: 17px;
                @media(max-width: 991px){
                    margin-bottom: 14px;
                }
            }
        }
    }
    // card img text end
    .card{
        &.insurance{
            .cta-row{
                a{
                    .icomoon{
                        font-size: 21px;
                    }
                    @media(max-width: 1200px){
                        font-size: 15px;
                    }
                }
            }
            .popup-over{
                .contact-row{
                    .right-icon{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .table-offers-wrap{
        .table-offers{
            font-size: 12px;
        }
    }
    // card insurance component end
    .card{
        &.partners{
            .cta-row{
                a.btn{
                    font-size: 15px;
                    .icomoon{
                        font-size: 19px;
                    }
                    @media(max-width: 1200px){
                        font-size: 13px;
                    }
                }
            }
        }
    }
    // card partners component end
    .card{
        &.simple{
            .date{
                font-size: 15px;
            }
            h4{
                font-size: 17px;
            }
            p{
                font-size: 15px;
            }
        }
    }
    //  card simple component end
    .card {
        .card-body {
            h5.card-title{
                font-size: 19px !important;
            }
            .search-link-wrap{
                .btn{
                font-size: 15px;
                }
            }
        }

    }
    .simple-card {
        .card-body {
            h5.card-title{
                font-size: 19px !important;
            }
            h5.card-data{
                font-size: 19px !important;
            }
            .search-link-wrap{
                .btn{
                font-size: 17px;
                }
            }
        }
    }
    .card{
        &.contact{
            .contact-txt{
                .label-wrap{
                    font-size: 17px;
                }
                .contact-num{
                    font-size: 17px;
                }
            }
        }
    }
    // card component end
    .hero-header{
        .mark-danger{
            font-size : 35px;
        }
        label{
            font-size : 11px;
        }
        &.hero-header-sm{
            .hero-title{
                h3{
                    font-size : 39px;
                }
                p{
                    font-size : 17px;
                }
                h2{
                    font-size : 47px;
                }
                h4{
                    font-size : 39px;
                }
            }

        }
        &.hero-header-md{
            .hero-title{
                h2{
                    font-size : 59px;
                    @media(max-width: 991px){
                        font-size : 51px;
                    }
                }
                p{
                    font-size : 17px;
                    @media(max-width: 991px){
                        font-size : 15px;
                    }
                }
            }
        }
    }
    .card-slider{
        .slide-arrow{
            font-size: 29px;
            @media(max-width: 1200px){
                font-size: 23px;
            }
        }
    }
    .hero-banner-sm{
        .btn-danger-outline{
            font-size : 13px;
        }
        h2{
            @media(max-width: 991px){
                font-size : 29px;
            }
        }
        .mark-danger{
            @media(max-width: 991px){
                font-size: 25px;
            }
        }
        .hero-header-sm{
            .hero-title{
                h3{
                    @media(max-width: 991px){
                            font-size : 23px;
                    }
                }
                p{
                    @media(max-width: 991px){
                        font-size : 15px;
                    }
                }
                h2{
                    @media(max-width: 991px){
                        font-size : 29px;
                    }
                }
                h4{
                    @media(max-width: 991px){
                        font-size : 17px;
                    }
                }
            }
        }
        .hero-header-md{
            .hero-title{
                h2{
                    @media(max-width: 991px){
                        font-size : 29px;
                    }
                }
                p{
                    @media(max-width: 991px){
                        font-size : 13px;
                        }
                    }
                }
            }
            .hero-header{
                .btn-wrap{
                    .btn{
                        &.btn-danger-outline{
                            &.btn-lg{
                                @media(max-width: 320px){
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }
        }
        // carousel component css
    .checkbox-flex label {
        font-size : 15px;
        @media(max-width: 736px){
            font-size: 13px;
        }
    }
    .checkbox-flex{
        .value{
            font-size : 15px;
            @media(max-width: 736px){
                font-size: 12px;
            }
        }
        .val-note{
            .note{
                font-size : 11px;
            }
        }
    }
    // check box end
    .content-inner{
        h5{
            font-size: 15px;
        }
    }
    .inner-content{
        .content-title-desc{
            .cnt-content{
                & + .cnt-content{
                    @media(max-width: 768px){
                        font-size: 11px;
                    }
                }
            }
        }
        .content-body{
            h4.highlight{
            font-size: 19px;
            }
        }
    }
    // content component end
    .counter-up{
        .icon-wrap{
            font-size: 59px;
            @media(max-width: 1200px){
                font-size: 45px;
            }
            @media(max-width: 768px){
                font-size: 39px;
            }
        }
        span{
            font-size: 59px;
            @media(max-width: 1200px){
                font-size: 39px;
            }
        }
        .caption{
            color: $white;
            font-size: 27px;
            @media(max-width: 1200px){
                font-size: 23px;
            }
            h4{
                font-size: 27px;
            }
            @media(max-width: 768px){
                font-size: 21px;
            }
        }
    }
    // counter up component end

    .thumbnail-bordered{
      .fig-overlay{
        font-size : 31px;
        @media(max-width: 1200px){
            font-size : 27px;
        }
        @media(max-width: 768px){
            font-size : 23px;
        }
      }
    }
    // figure component end
    .select2-results__option{
        font-size: 15px;
    }
    // form panel component end
    .grid-lay-out{
        .grid-img-sm,.grid-img-md,.grid-img-xxs,.grid-img-xs{
            .search-link-wrap{
                h5{
                    font-size: 17px;
                }
            }
        }
    }
    // grid layout component end
    .icon-head-desc{
        .icon-wrap{
            font-size: 53px;
        }
        p{
            font-size : 15px;
        }
    }
    // icon head desc component

    .thumbnail-icons{
        font-size: 24px;
    }
    .social-icons{
        a{
            font-size: 21px;
        }
    }
    .list-outline{
        a{
            font-size: 15px;
        }
    }
    .share-icons{

        a{
            font-size: 24px;
        }
    }
    // icons component end
    ul.thumbnail-wrap{
        li{
            a{
                font-size : 14px;
            }
        }
    }
    ul.login-button{
        li{
            a{
                font-size : 15px;
            }
        }
    }
    ul.mobile-login-button{
        li{
            a{
                font-size : 13px;
            }
        }
    }
    .sidebar-link{
        li{
            a{
                font-size: 15px;
                @media(max-width: 768px){
                    font-size: 14px;
                }
            }
        }
    }
    // list component end
    .address-map{
        address{
            font-size : 17px;
        }
    }
    // map component end
    .nav-tabs{
        .nav-link{
            font-size: 23px;
            @media(max-width: 768px){
                font-size: 17px;
            }
        }
    }
    .container{
        .select2-container--default{
            .select2-selection--single{
                .select2-selection__rendered{
                    font-size : 17px;
                    @media(max-width: 991px){
                        font-size: 13px;
                    }
                }
            }
        }
    }
    // nav tab component end
    .ot-output{
        h3{
            font-size : 31px;
            @media(max-width: 736px){
                font-size : 25px;
            }
        }
    }
    // ot data component end
    .popup-wrap{
        .close-btn{
            font-size: 27px;
        }
        .popup-footer{
            .contact{
            font-size: 15px;
            }
        }
    }
    // popup component end
    .sidebar-cols .content-col .content{
        .nav-link{
            .count{
                font-size: 31px;
                @media(max-width: 600px){
                    font-size: 25px;
                }
            }
            h3{
                font-size: 17px;
                @media(max-width: 600px){
                    font-size: 14px;
                }
            }
        }
    }
    // profile Switcher component end
    .share-wrap{
        .btn-share{
            font-size: 13px;
        }
    }
    // share camponent end
    .title-col{
        h2{
            font-size: 35px;
            @media(max-width: 1200px){
                font-size: 29px;
            }
            @media(max-width: 736px){
                font-size: 23px;
            }
        }
        h4{
            font-size: 21px;
            @media(max-width: 736px){
                font-size: 16px;
            }
        }
        h5{
            font-size: 20px;
            @media(max-width: 736px){
                font-size: 16px;
            }
        }
    }
    .content-col{
        .content{
            h3{
                font-size: 31px;
                @media(max-width: 1200px){
                    font-size: 27px;
                }
                @media(max-width: 991px){
                    font-size: 25px;
                }
                @media(max-width: 736px){
                    font-size: 21px;
                }
            }
            h5{
                font-size: 15px;
            }

        }
    }
    // sidebar cols component end
    .nav-content-tab{
        .nav-tabs{
            .nav-item{
                a.nav-link{
                    font-size: 15px;
                }
            }
        }
    }
    // tabs component end

.table-md-reg{

    td{
        font-size : 15px;
        @media(max-width: 1200px){
            font-size : 11px;
        }
    }
    th{
        font-size : 15px;
        @media(max-width: 1200px){
            font-size : 11px;
        }
    }
}
.table-sm-reg{
    td{
        font-size : 13px;
        @media(max-width: 1200px){
            font-size : 9px;
        }
        @media(max-width: 991px){
            font-size : 11px;
        }
        @media(max-width: 736px){
            font-size : 10px;
        }
    }
    th{
        font-size : 13px;
        @media(max-width: 1200px){
            font-size : 9px;
        }
        @media(max-width: 991px){
            font-size : 11px;
        }
        @media(max-width: 736px){
            font-size : 9px;
        }
    }
}
    .table{
        .default,.primary,.success,.info,.warning,.danger{
            font-size : 15px;
            @media(max-width: 1200px){
                font-size : 11px;
            }
            @media(max-width: 991px){
                font-size : 13px;
            }
            @media(max-width: 736px){
                font-size : 11px;
            }
        }
    }
    // table component end
    .text-over-img{
        .over-text{
            .btn{
                font-size: 15px;
            }
            h2{
                font-size : 35px;
                @media(max-width: 1200px){
                    font-size : 27px;
                }
                @media(max-width: 736px){
                    font-size : 21px;
                }
            }
            .desc{
                p{
                    font-size : 15px;
                    @media(max-width: 1200px){
                        font-size : 13px;
                    }
                }
            }
        }
    }
    ///////
.text-over-img-overlay{
    .over-text{
        .text-btn{
            h2{
                font-size : 39px;
                 @media(max-width: 1200px){
                    font-size : 27px;
                }
                @media(max-width: 736px){
                    font-size : 25px;
                }

            }
        }
        .desc{
            p{
                font-size : 15px;
            }
        }
    }
}

.over-count-up{
    .counter-up{
        .counter{
            font-size : 39px;
            @media(max-width: 1200px){
                font-size : 27px;
            }
        }
        .caption{
            font-size : 13px;
        }
        span {
            font-size: 39px;
            @media(max-width: 1200px){
                font-size : 27px;
            }
        }
    }
}
    .text-over-img-overlay-bordered{
        .over-text{
            .text-btn{
                h2{
                    font-size : 39px;
                    @media(max-width: 736px){
                        font-size: 27px;
                    }
                }
            }
            .desc{
                p{
                    font-size : 15px;
                }
            }
        }
        .over-count-up{
            .counter-up{
                .counter{
                    @media(max-width: 320px){
                        font-size: 23px;
                    }
                }
            }
        }
    }
    .overlay-card{
        .over-text{
            .btn{
                font-size: 15px;
                }
            .text-btn{

                h2{
                    font-size : 35px;
                    @media(max-width: 1200px){
                        font-size : 27px;
                    }
                    @media(max-width: 736px){
                        font-size : 25px;
                    }

                }
            }
            .desc{
                p{
                    font-size : 15px;
                }
            }
        }
        .over-count-up{
            .counter-up{
                .counter{
                    font-size : 39px;
                    @media(max-width: 1200px){
                        font-size : 27px;
                    }
                }
                .caption{
                    font-size : 13px;
                }
                span {
                    font-size: 39px;
                    @media(max-width: 1200px){
                        font-size : 27px;
                    }
                }
            }
        }
    }
    // text over image component end
    .thumbnail-caption{
        .sl-num{
            h2{
                font-size : 59px;
                @media(max-width: 991px){
                    font-size: 39px;
                }
            }
        }
        .caption-wrap{
            h5{
                font-size : 20px;
                @media(max-width: 1200px){
                    font-size: 18px;
                }
                @media(max-width: 768px){
                    font-size: 19px;
                }
            }
            p{
                font-size : 15px;
                @media(max-width: 1200px){
                    font-size : 13px;
                }
            }
        }
    }
    // thumbnail caption component end
    .well{
        &.calender{
            .well-title{
                h3{
                    font-size: 22px;
                }
            }
            .well-content{
                .info-row{
                    span{
                        font-size: 17px;
                    }
                }
            }
        }
    }
    // well component end
    // total componen end
    .quotes{
        h4{
            font-size: 20px;
            @media(max-width: 991px){
                font-size: 18px;
            }
            @media(max-width: 768px){
                font-size: 16px;
            }
        }
    }
    .author{
        h6{
            font-size: 17px;
            @media(max-width: 991px){
                font-size: 15px;
            }
            @media(max-width: 768px){
                font-size: 14px;
            }
        }
    }
    // about page end
    .contact-section-wrap{
        .address{
            h4{
                font-size: 20px;
            }
            p{
                font-size: 17px;
            }
        }
        .contact-info-block{
            .contact-row{
                font-size: 17px;
            }
        }
    }
    // contact page component
    .doctors-detail{
        h2{
            font-size: 35px;
            @media(max-width: 991px){
                font-size: 25px;
            }
        }
        h4{
            font-size: 20px;
            @media(max-width: 991px){
                font-size: 15px;
            }
        }
    }
    // doctors details page end
    .governance-group{
        .members{
            &.large-member{
                h2{
                    font-size: 31px;
                    @media(max-width: 1200px){
                    font-size: 27px;
                    }
                }
            }
            h2{
                font-size: 20px;
                @media(max-width: 1200px){
                    font-size: 17px;
                }
            }
            .designation{
                font-size: 17px;
                @media(max-width: 1200px){
                    font-size: 15px;
                }
            }
        }
    }
    // governance page end
    .simgle-header{
        h2{
            font-size: 31px;
            @media(max-width: 991px){
                font-size: 27px;
            }
            @media(max-width: 768px) {
                font-size: 21px;
            }
        }
        .date{
            font-size: 15px;
        }
    }
    // news page end
    .form-desc{
        label{
            font-size : 15px;
        }
    }
    .danger{
        font-size: 15px;
    }
    @media(max-width: 768px){
        .form-desc label{
            font-size: 13px;
        }
    }
    // online appoinment end
    .package-detail-header{
        .detail-info{
            .header-top{
                h2{
                    font-size: 31px;
                    @media(max-width: 1200px){
                    font-size: 27px;
                    }
                    @media(max-width: 768px){
                    font-size: 23px;
                    }
                }
                h4{
                    font-size: 20px;
                    @media(max-width: 768px){
                    font-size: 79px;
                    }
                }
                p{
                    font-size: 15px;
                }
            }
            .additional-info{
                font-size: 15px;
            }
        }
    }
    .appintment-cta-wrap{
        .date-picker-wrap{
            .label-wrap{
            font-size: 17px;
            }
        }
        .cta-wrap{
            .label-wrap{
            font-size: 20px;
            }
        }
    }
    .content-with-right-sidebar{
        .content-left{
            .tab-content{
                p, ul{
                    font-size: 15px;
                }
                h4{
                    font-size: 20px;
                    @media(max-width: 768px){
                        font-size: 17px;
                    }
                }
            }
        }
    }
    // package details page end
    .patient-experience{
        .desc{
            p{
                font-size : 15px;
            }
        }
    }
    // pattient experience page end
    .video-wrapper{
        .caption{
            h3{
            font-size: 35px;
                @media(max-width: 1200px){
                    font-size: 31px;
                }
                @media(max-width: 736px){
                    font-size: 29px;
                }
                @media(max-width: 560px){
                    font-size: 19px;
                }
            }
            h4{
            font-size: 23px;
                @media(max-width: 736px){
                    font-size: 19px;
                }
                @media(max-width: 560px){
                    font-size: 15px;
                }
            }
        }
    }
    // specialities page end
    section.banner{

        h1{
        font-size: 79px;
            @media(max-width: 736px){
                font-size: 34px;
            }
        }

        &.size-s{
            h1{
                font-size: 59px;
                @media(max-width: 1200px){
                    font-size: 49px;
                }
                @media(max-width: 991px){
                    font-size: 33px;
                }
                @media(max-width: 320px){
                    font-size: 27px;
                }
            }
        }
        &.size-m{
            h1{
                font-size: 59px;
                @media(max-width: 1200px){
                    font-size: 49px;
                }
                @media(max-width: 991px){
                    font-size: 36px;
                }
                @media(max-width: 991px){
                    font-size: 27px;
                }
            }
        }
        &.head-description{
            h1{
                font-size : 47px;
                @media(max-width: 1200px){
                    font-size: 49px;
                }
                @media(max-width: 991px){
                    font-size: 34px;
                }
            }
            p{
                font-size : 15px;
            }
        }
        &.size-lg{
            h1{
                font-size: 47px;
                @media(max-width: 1200px){
                    font-size: 49px;
                }
                @media(max-width: 991px){
                    font-size: 34px;
                }
            }
                p{
                font-size : 15px;
            }
        }

        &.right-content{
            .banner-header-wrap{
                h1{
                    font-size: 45px;
                    @media(max-width: 1200px){
                        font-size: 39px;
                    }
                    @media(max-width: 991px){
                        font-size: 35px;
                    }
                }
                h5{
                font-size: 18px;
                @media(max-width: 991px){
                    font-size: 16px;
                }
                @media(max-width: 768px){
                    font-size: 14px;
                }
                }
                p{
                    font-size : 13px;
                }
            }
        }
    }
    .plain-banner{
        &.head-description{
            h1{
                font-size : 47px;
                @media(max-width: 1200px){
                font-size: 37px;
                }
                @media(max-width: 991px){
                font-size: 31px;
                }
                @media(max-width: 768px){
                font-size: 25px;
                }
            }
            p{
                font-size : 15px;
            }
        }
    }
    // banner partials end
    .footer-cluster{
        .blue_bell{
            .col-md-5{
                p{
                    font-size: 13px;
                }
            }
            .ex-link{
                font-size: 13px;
            }
        }
    }
    .ft-menu{
        a{
            font-size: 15px;
            @media(max-width: 991px){
                font-size: 15px;
            }
        }
    }
    .ft-menu{
        a{
            font-size: 15px;
            @media(max-width: 991px){
                font-size: 15px;
            }
        }
    }
    // footer partials end
    .form-control {
        font-size: 1rem;
    }
    .form-control-md {
        font-size: 1rem;
    }

    .form-group{
        label{
            font-size : 13px;
        }
    }
    .form-wrap{
        .form-content{
            .form-group{
                .input-group{
                    &.date-picker{
                        .input-group-text{
                            font-size: 1rem;
                        }
                    }
                }
            }
            .select2-container--default{
                .select2-selection--single{
                    .select2-selection__rendered{
                        font-size : 15px;
                    }
                }
            }
        }
        .form-group{
            &.form-recaptcha{
                label.bold{
                    font-size : 15px;
                }
            }

        }
    }
    .date-picker{
        .input-group-text{
            font-size: 1rem;
        }
    }
    .select2-results__option{
        font-size : 17px;
    }

    .file-upload-label{
        font-size: 15px;
    }
    .form-control-xs{
        font-size: 1rem;
    }
    // form partials end
    .accessibility{
        .icon-wrap{
        font-size: 24px;
        }
    }
    .contact-info{
        font-size: 13px;
        @media(max-width: 1200px){
            font-size: 11px;
        }
        @media(max-width: 991px){
            font-size: 13px;
        }
        .phone-number{
            a{
                font-size: 13px;
                @media(max-width: 1200px){
                    font-size: 11px;
                }
                @media(max-width: 991px){
                    font-size: 13px;
                }
            }
        }
    }
    // header partials end

    .wide-dropdown {
        .dropdown-menu-items {
                a{
                    font-size: 13px;
                }
            .nav-dropdown{
            a{
                    font-size : 20px;
                    @media(max-width: 1700px){
                        font-size : 18px;
                    }
                    @media(max-width: 991px){
                        font-size : 17px;
                    }
                }
                ul{
                    li{
                        a{
                            font-size : 13px;
                            @media(max-width: 1400px){
                                font-size: 12px;
                            }
                            @media(max-width: 1300px){
                                font-size: 11px;
                            }
                            @media(max-width: 1200px){
                            line-height: 23px;
                            }
                        }
                    }
                }
            }
        }
    }
    .simple-dropdown {
        .dropdown-menu-items {
                a{
                    font-size: 13px;
                }
            .nav-dropdown{
            a{
                    font-size : 20px;
                    @media(max-width: 991px){
                        font-size : 17px;
                    }
                }
                ul{
                    li{

                        a{
                            font-size : 13px;
                        }
                    }
                }
            }
        }
    }
    .nav-dropdown-visibility{
        .menu-title{
            h4{
                font-size : 20px;
            }
        }
    }
    .nav-items{
        a{
            @media(max-width: 1400px){
                font-size: 14px;
            }
            @media(max-width: 1200px){
                font-size: 13px;
            }
            @media(max-width: 991px){
            font-size: 15px;
            }
        }
    }
    .accessibility{
        a{
            @media(max-width: 1400px){
                font-size: 14px;
            }
            @media(max-width: 1200px){
                font-size: 13px;
            }
            @media(max-width: 991px){
            font-size: 15px;
            }
        }
    }
    // navigation partials end
    .well{
        h4{
            font-size: 20px;
        }
        .card-desp{
            font-size: 15px;
        }
    }
    // side bar partials end
    @media(max-width: 991px){
        .nav-dropdown{
            .dropdown-menu-items a{
                font-size: 12px;
            }
        }
        .nav-dropdown-row{
            .dropdown-menu-items{
                li{
                    &.menu-title{
                        font-size: 13px;
                    }
                }
            }
        }
        .nav-dropdown-row-bg{
            .menu-title{
                font-size: 13px;
            }
        }
    }
    // responsive header end
    address{
        font-size: 15px;
        @media(max-width: 991px){
            font-size: 13px;
        }
    }
    em{
        font-size: 18px;
    }
    p{
        font-size: 15px;
    }
    @media(max-width: 768px){
        p, ul{
            font-size: 12px;
        }
    }
    // common base end
    .switcher{
        .switch--horizontal{
            label{
                font-size: 20px;
            }
        }
    }
    // create your packages end
    .doctors-list.column-3{
        .card{
            .card-body{
                h5.card-title {
                    font-size: 17px!important;
                }
            }
        }
    }
     //  find a doctor end
     table.table.table-hover.woocommerce-cart-table{
         th{
             font-size: 15px;
        }
        td{
            a{
                font-size: 15px;
            }
            .appointment-date{
                font-size: 15px;
            }
            .woocommerce-Price-amount{
                &.amount{
                    font-size: 15px;
                }
            }
        }
    }
    .cart_totals {
        .top-borderd-table{
            table{
                tr.cart-subtotal{
                    th{
                        font-size: 15px;
                    }
                }
                tr.order-total{
                    th{
                        h5{
                            .woocommerce-Price-amount.amount{
                                font-size: 19px;
                            }
                        }
                    }
                    td{
                        h5{
                            font-size: 19px;
                        }
                    }
                }
            }
        }
    }
    //  woocommerce-cart-table end
}
