.accordion{
  background: transparent;
  .card{
    padding: 12px 60px;
    margin-bottom: 2px;
    background: $blue_haze;
    border-top: 0px;
    &.show{
      border-top: 5px solid $lavender-grey;
      border-bottom: 5px solid $white;
    }
  }
  .card-header{
    background: transparent;
    font-size: 21px;
    border: 0px;
    padding: 0px 0px;
    position: relative;
    color: $lucky_point;
    cursor: pointer;
    font-family: $open_sanssemibold;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &.collapsed{
        font-family: $open_sansregular;
        font-weight: 400;
        color: $gun_powder;
        font-size: 18px;
        .icomoon{
          color: $danger;
        }
        &:before{
          display: none;
        }
        &:after{
        position: absolute;
        right: -42px;
        top: 3px;
        border: 0px;
        color: $blue_bell;
        font-family: 'icomoon';
        content: '\e910';
        font-size: 15px;
      }
    }

    &:after, &:before{
      position: absolute;
    }
    &:before{
      top: 15px;
      right: -36px;
      border-top: 1px solid $blue_bell;
      height: 1px;
      width: 12px;
      content: "";
      display: block;
    }
    &:after{
      height: 21px;
      width: 21px;
      display: block;
      right: -40px;
      top: 5px;
      border: 1px solid $blue_bell;
      content: "";
    }

    .icomoon{
      position: absolute;
      left: -40px;
      top: 5px;
    }
  }
  .collapse, .collapsing{
    .collapse-body{
      display: block;
      margin: 15px 0px;
      .btn{
        display: inline-block;
      }
      h5{
        font-family : $open_sansbold;
        font-weight: 700;
        font-size : 16px;
        color : $gun_powder;
        margin-top: 25px;
        margin-bottom: 15px;
      }
      h4{
        font-family : $open_sansbold;
        font-weight: 700;
        font-size : 16px;
        color : $gun_powder;
        margin-top: 25px;
        // margin-bottom: 15px;
        & + ul{
          margin-top: 15px;
        }
      }
    }
  }
  .h5{

  }
}

///////////////////////////////////////////
.accordion{
  background: transparent;
  &.accordion-checkbox{
    .card{
    padding: 0;
    margin-bottom: 2px;
    background: $blue_haze;
    border-top: 0px;
    &.show{
        border-top: 10px solid $white;
        border-bottom: 10px solid $white;
        background: rgba($lavender-grey, .4);
    }
  }
  .card-header{
    background: transparent;
    font-size: 21px;
    border: 0px;
    padding: 0px 60px;
    margin: 10px 0;
    position: relative;
    color: $lucky_point;
    cursor: pointer;
    font-family: $open_sanssemibold;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    @media(max-width: 736px){
        font-size: 18px;
        // padding: 0px 45px;
    }
    &.collapsed{
        font-family: $open_sansregular;
        font-weight: 400;
        color: $gun_powder;
        font-size: 18px;
        @media(max-width: 736px){
        font-size: 16px;
    }
        .icomoon{
          color: $danger;
        }
        &:before{
          display: none;
        }
        &:after{
        position: absolute;
        right: 30px;
        top: 3px;
        border: 0px;
        color: $blue_bell;
        font-family: 'icomoon';
        content: '\e910';
        font-size: 15px;
      }
    }

    &:after, &:before{
      position: absolute;
    }
    &:before{
      top: 15px;
      right: 34px;
      border-top: 1px solid $blue_bell;
      height: 1px;
      width: 12px;
      content: "";
      display: block;
    }
    &:after{
      height: 21px;
      width: 21px;
      display: block;
      right: 30px;
      top: 5px;
      border: 1px solid $blue_bell;
      content: "";
    }

    .icomoon{
      position: absolute;
      left: 20px;
      top: 5px;
    }
  }
  .collapse, .collapsing{
    .collapse-body{
      display: block;
      margin: 0px;
      .btn{
        display: inline-block;
      }
      h5{
        font-family : $open_sansbold;
        font-weight: 700;
        font-size : 16px;
        color : $gun_powder;
        margin-top: 25px;
        margin-bottom: 15px;
      }
      h4{
        font-family : $open_sansbold;
        font-weight: 700;
        font-size : 16px;
        color : $gun_powder;
        margin-top: 25px;
        // margin-bottom: 15px;
        & + ul{
          margin-top: 15px;
        }
      }
    }
  }
  .h5{

  }
  }
}
