.bg-image{
  background-size:cover;
  padding: 95px 0;
    @media(max-width: 736px){
        padding: 40px 0;
        background-repeat: no-repeat !important;
        background-position: top center !important;
        background-size: cover !important;
    }
  &.top-space{
      margin-top: 100px;
      @media(max-width: 1200px){
          margin-top: 90px;
      }
      @media(max-width: 736px){
          margin-top: 20px;
      }
  }
}
// background-image: url(assets/images/bg-img-1.jpg);
