.blockquote-img{
  display: flex;
  width: 100%;
  border-top: 5px solid $lavender-grey ;
  background-color: $blue_haze;
  @media(max-width: 736px){
      flex-flow: column;
  }
  .figure-wrap{
      width: 45%;
      @media(max-width: 736px){
            width: 100%
        }
      img{
        width: 100%;
      }
  }
  .quote{
      padding: 0 40px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media(max-width: 1200px){
          padding: 0 20px;
      }
      @media(max-width: 991px){
          padding: 0 40px;
      }
      @media(max-width: 768px){
          padding: 20px;
      }
      blockquote{
          font-family: $open_sanssemibold;
          font-weight: 600;
          font-size : 18px;
          color: $gun_powder;
          margin-bottom: 0;
          @media(max-width: 1200px){
              font-size : 14px;
          }
          @media(max-width: 991px){
              font-size : 18px;
          }
          @media(max-width: 768px){
              font-size : 14px;
              font-family: $open_sanssemibold;
              font-weight: 600;
          }
          @media(max-width: 736px){
              font-size : 16px;
              font-family: $open_sanssemibold;
              font-weight: 600;
          }
      }
  }
  .quote{
    width: 55%;
    @media(max-width: 736px){
        width: 100%
    }
    blockquote{
      width: 100%
    }
    .block-head, .block-body{
      font-family: $open_sanssemibold;
      font-weight: 600;
      font-size: 18px;
      color: $lucky_point;
      letter-spacing: 0;
      line-height: 26px;
      width: 100%;
    }
    .block-head{
      border-bottom: 1px solid $lavender-grey;
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
    .block-body{

    }
  }
}


.blockquote-simple{
  display: flex;
  @media(max-width: 736px){
      flex-flow: column;
  }
  .figure-wrap{
    img{
      float: left;
      margin-right: 40px;
      margin-bottom: 20px;
      border-top: 5px solid $blue_bell;
      margin-top: 5px;
      @media(max-width: 736px){
          margin-right: 0;
          width: 100%;
      }
    }
  }
}

p + .blockquote-simple{
  // margin-top: 30px;
}


.blockquote-img{
  .quote-desc{
    margin: 0px;
    padding: 0px;
    border: 0px;
    h2{
      font-family: $open_sansregular;
      font-weight: 400;
      font-size: 32px;
      color: $lucky_point;
      letter-spacing: 0;
      line-height: 38px;
      @media(max-width: 991px){
        font-size: 28px;
        line-height: 32px;
      }
      @media(max-width: 991px){
        font-size: 24px;
        line-height: 26px;
      }
    }
    p{
      font-family: $open_sansregular;
      font-weight: 400;
      font-size: 21px;
      color: $lucky_point;
      letter-spacing: 0;
      line-height: 29px;
      margin-top: 15px !important;
      @media(max-width: 991px){
        font-size: 18px;
        line-height: 24px;
      }
      @media(max-width: 991px){
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}
