.breadcrumb{
  padding: 0px;
  margin: 0px;
  background: none;
  font-size: 12px;
  color: white;
  .breadcrumb-item.active, a{
    color: white;
    @media(max-width: 736px){
        padding-right: 0.5rem;
    }
  }
  .breadcrumb-item{
    @media(max-width: 736px){
      max-width: 140px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & + .breadcrumb-item{
        &:before{
            content: "|";
            @media(max-width: 736px){
                padding-left: 0;
            }
        }
    }
  }
  &.inverse{
    margin-top: 30px;
    .active, a{
      color: $scarpa_flow;
    }
  }
}
