// Buttons styles go here
[data-toggle="datepicker"]{
  cursor: pointer;
}
.btn{
  line-height: 25px;
  height: 50px;
  padding: 10px 40px;
  border-radius: 0;
  font-size: 18px;
  font-family: $open_sanssemibold;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  border: 1px solid transparent;
  display: inline-block;
  text-align: center;
  white-space: unset;
  vertical-align: unset;
  user-select: none;
  box-shadow: none !important;
  cursor: pointer;
  @media(max-width: 768px){
    height: 50px;
    line-height: 25px;
  }
  @media(max-width: 320px){
      font-size: 16px;
  }
  &.btn-wide{
      line-height: 31px;
      height: 55px;
  }
  &.btn-sm{
      height: 43px;
      font-size: 16px;
      padding: 8px;
      min-width: 126px;
      line-height: 25px;
      border-width: 1px;
  }
  &:hover{
    // transform: scale(1.1);
  }
}
.btn-danger-outline{
    color: $danger;
    border: 2px solid $danger;
    background-color: transparent;
    // font-family: $open_sanssemibold;
    &:hover, &:focus{
      border-color: $primary;
      color: $primary;
    }
}
.btn-danger-outline-thin{
    color: $danger;
    border: 1px solid $danger;
    background-color: transparent;
    // font-family: $open_sanssemibold;
    &:hover, &:focus{
      border-color: $primary;
      color: $primary;
    }
}
.btn-default-outline{
    color: $white;
    border: 2px solid $white;
    background-color: transparent;
    line-height: 28px;
    // font-family: $open_sanssemibold;
    &:hover, &:focus{
      border-color: $danger;
      color: $danger;
    }
}
.btn-danger{
    color: $white;
    background-color: $danger;
    border: 1px solid $danger;
    &:hover, &:focus{
        background-color: $lucky_point;
        border-color: $lucky_point;
        color: $white;
        // opacity: 0.8;
    }
}
.btn-primary{
    color: $white;
    background-color: $lucky_point;
    border: 1px solid $lucky_point;
    &:hover, &:focus{
        background-color: $danger ;
        border-color: $danger ;
        // opacity: 0.8;
    }
}
.btn-info{
    color: $white;
    background-color: $blue_bell;
    border: 1px solid $blue_bell;
    &:hover,&:focus{
        background-color: $scarpa_flow;
        border: 1px solid $scarpa_flow;
        // opacity: 0.8;
    }
}
.btn-secondary{
    color: $white;
    background-color: $scarpa_flow;
    border: 1px solid $scarpa_flow;
    &:hover,&:focus{
        background-color: $blue_bell;
        border-color: $blue_bell;
        // opacity: 0.8;
    }
}
.btn-transparent{
    background-color: transparent;
    border: 1px solid transparent;
}
.search-link{
    color: $danger;
    &:hover{
      color: $lucky_point;
    }
    .icon-wrap{
        padding-left: 20px;
    }
    .icomoon{
      margin-left: 15px;
    }
}
.btn{
  &.btn-icon{
    padding: 0px;
    margin: 0px;
    font-family: $open_sanssemibold;
    font-weight: 600;
    font-size: 18px;
    color: $danger;
    letter-spacing: 0;
    &:hover{
      color: $lucky_point;
    }
    & > .icon-arrow{
      top: 3px;
      position: relative;
    }
    .icon-wrap{
      top: 4px;
      position: relative;
    }
    &.btn-sm{
      height: 43px;
      font-size: 16px;
      font-family: $open_sanssemibold;
      font-weight: 600;
      display: flex;
      align-items: center;
      min-width: 126px;
      line-height: 0px;
      .icon-arrow:before {
          content: "\e911";
          font-size: 18px;
          top: -4px;
          position: relative;
      }
    }
    .icomoon{
      font-size: 22px;
      position: relative;
      height: 22px;
      width: 22px;
    }
    &.right-icon{
        line-height: 50px;
      .icomoon{
        margin-left: 15px;
      }
    }
    &.left-icon{
        line-height: 50px;
      .icomoon{
        margin-right: 15px;
        transform: rotate(-180deg);
        display: inline-block;
      }
    }
    &.left{
      .icomoon{
        margin-right: 15px;
      }
    }
    &.btn-icon-thin{
        font-family: $open_sansregular;
        font-weight: 400;
    }
    &.btn-sml{
      font-size: 16px;
    }
    &.reverse-icon{
      .icon-wrap{
        transform: rotate(180deg);
        display: inline-block;
        top: 5px;
        position: relative;
        margin-right: 10px;
      }
    }
  }
}
.download-link{
    width: 215px;
    height: 60px;
    display: flex;
    background-color: $mischka;
    padding: 10px 20px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    &:hover{
      background-color: $blue_haze_new;
    }
    & + .download-link{
        margin-left: 15px;
    }
    img{
        margin: 0 auto;
        display: block;
    }
}
.btn-speaker,.btn-print{
    font-size: 50px;
    line-height: 0;
    color: $anakiwa;
    &:hover{
        @include transition (all, 0.3s, ease-in-out);
        color: $danger;
    }
}
.btn-wrap{
  &.back-btn-wrap{
    padding: 60px 0px;
    @media(max-width: 991px){
      padding: 40px 0px;
    }
  }
  & + .share-wrap{
    border-top: 1px solid $lavender-grey;
  }
}
.left-icon{
    line-height: 50px;
}
.btn-wide{
    width: 100%;
    &.btn-primary{
        border: 2px solid $lucky_point;
        &:hover,&:focus{
            border: 2px solid $danger;
            background-color:$danger;
        }
    }
    &.btn-danger{
        border: 2px solid $danger;
        &:hover,&:focus{
            background-color: $lucky_point;
            border: 2px solid $lucky_point;
            color: $white;
        }
    }
}

.btn{
    &.btn-h-xs{
        padding: 15px 34px !important;
        line-height: 14px !important;
        // height: 100% !important;
    }
    &.btn-h-sm{
        line-height: 16px !important;
        // height: 100% !important;
        padding: 16px 40px !important;
    }
    &.btn-h-md{
        // height: 100% !important;
        line-height: 15px !important;
        padding: 19px 40px !important;
    }
    &.btn-h-lg{
        // height: 100% !important;
        line-height: 14px !important;
        padding: 22px 40px !important;
    }

}


.sidebar-cols .content-col{
  .btn.btn-icon.reverse-icon .icon-wrap{
    margin-left: -15px;
  }
}
