.card{
  &.insurance{
    background: #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
    position: relative;
    .logo-wrap{
      min-width: 100%;
      min-height: 160px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white;
      @media(max-width: 1200px){
        min-width: 100%;
        img{
          max-width: 80%;
        }
      }
      img{
        display: inline-block;
        max-width: 100%;
      }
    }
    .cta-row{
      text-align: center;
      background: $btn-bg;
      a{
        color: $danger;
        padding: 10px 45px 10px 15px;
        width: 100%;
        text-decoration: none;
        position: relative;
        color: $gun_powder;
        text-align: left;
        min-height: 68px;
        align-items: center;
        display: flex;
        .icomoon{
          height: 30px;
          width: 30px;
          position: absolute;
          right: 15px;
          top: 50%;
          color: $danger;
          transition: 0.3s all ease-in-out;
          margin-top: -15px;
          text-align: center;
          line-height: 30px;
          font-size: 20px;
        }
        @media(max-width: 1200px){
          font-size: 14px;
        }
      }
    }
    .popup-over{
      // transform: scale(0.3);
      transition: all 0.3s ease-in-out;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      width: 310px;
      top: 0px;
      left: 50%;
      margin-left: -155px;
      margin-top: 0px;
      background: #E0DFEF;
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
      z-index: 999;
      @media(max-width: 1200px){
        // margin-left: -200px;
      }
      .table-offers-wrap, .contact-row{
        transition: all 0.3s ease-in-out;
        margin-bottom: -150px;
        visibility: hidden;
        opacity: 0;
      }
      .cta-row a{
        min-height: 60px;
        display: flex;
        align-items: center;
        color: $gun_powder;
        min-height: 68px;
      }
      .contact-row{
        padding: 20px 0px;
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        border-top: 1px solid $white;
        justify-content: space-between;
        .right-icon{
            line-height: 0;
            font-size: 17px;
        }
        a.btn-link{
          color: $gun_powder;
        }
        a{
          height: auto;
          align-items: center;
          font-family: $open_sanssemibold;
          font-weight: 600;
          &.btn-sm{
            min-width: auto;
          }
        }
      }
      .logo-wrap{
        min-height: 150px;
      }
    }
    &.active{
      .cta-row a .icomoon{
        transform: rotate(180deg);
      }
      .popup-over{
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        margin-top: -111px;
        .table-offers-wrap, .contact-row{
          margin-bottom: 0px;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}


.table-offers-wrap{
    padding: 15px;
    margin: 0px;
    width: 100%;
    padding-top: 0px;
    .table-offers{
      font-size: 13px;
      width: 100%;
      thead{
        padding-bottom: 15px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        th{
            font-family: $gotham_medium;
        }
      }
      tbody:before {
          /* This doesn't work because of border-collapse */
          line-height:1em;
          content:"";
          display:block;
          padding-top: 15px;
      }

      th{
        font-family: $open_sanssemibold;
        font-weight: 600;
        text-align: center;
        padding: 5px 0px;
      }
      td{
        text-align: center;
      }
      tr{
        th:first-child, td:first-child{
          text-align: left;
        }
      }
    }
  }

    @media(max-width: 1200px){
    .insurance-wrap {
      .col-md-4{
        flex: 0 0 50%;
        max-width: 50%;
      }
      .col-md-4 .card, .col-md-4:nth-child(1n+1) .card{
        margin-top: 15px;
      }
      // .col-md-4:first-child .card{
      //   margin-top: 0px;
      // }
    }
  }

  @media(max-width: 736px){
    .insurance-wrap {
      .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
      }
      .col-md-4 .card, .col-md-4:nth-child(1n+4) .card{
        margin-top: 15px;
      }
      .col-md-4:first-child .card{
        margin-top: 0px;
      }
    }
  }
