.card{
  &.content-header{
    .featured-image{
      border-top: 5px solid #5f6179;
      display: inline-block;
      margin: 0px;
      img{
        margin: 0px;
        width: 100%;
      }
    }
    .content-card-body{
      padding: 30px 40px;
      @media(max-width: 991px){
        padding: 25px 30px;
      }
      @media(max-width: 768px){
        padding: 15px;
      }
      .date{
        font-family: $open_sansregular;
        font-weight: 400;
        font-size: 16px;
        color: $gun_powder;
        letter-spacing: 0;
        line-height: 24px;
      }
      h3{
        font-family: $open_sanssemibold;
        font-weight: 600;
        font-size: 21px;
        color: $lucky_point;
        letter-spacing: 0;
        line-height: 29px;
        margin-top: 25px;
        margin-bottom: 0px;
        @media(max-width: 991px){
          margin-top: 15px;
        }
      }
      p{
        font-family: $open_sansregular;
        font-weight: 400;
        font-size: 16px;
        color: $gun_powder;
        letter-spacing: 0;
        line-height: 24px;
        margin-top: 15px;
      }
      a.btn{

      }
    }
  }
}
