.simple-cards-wrap{
  .col-md-6{
    &:nth-child(1n+3){
      margin-top: 30px;
    }
    @media(max-width: 768px){
      margin-top: 15px;
      &:nth-child(1n+3){
        margin-top: 15px;
      }
    }
  }
}

.card{
  &.simple{
    background: #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
    border-top: 5px solid $lavender-grey;
    padding: 30px 40px;
    display: block;
    @media(max-width: 991px){
      padding: 25px 30px;
    }
    @media(max-width: 768px){
      padding: 15px;
    }
    .date{
      font-family: $open_sansregular;
      font-weight: 400;
      font-size: 16px;
      color: $blue_bell;
      letter-spacing: 0;
      line-height: 24px;
    }
    h4{
      font-family: $open_sanssemibold;
      font-weight: 600;
      font-size: 18px;
      color: $lucky_point;
      letter-spacing: 0;
      line-height: 26px;
      margin-top: 30px;
      @media(max-width: 991px){
        margin-top: 15px;
      }
    }
    p{
      font-family: $open_sansregular;
      font-weight: 400;
      font-size: 16px;
      color: $gun_powder;
      letter-spacing: 0;
      line-height: 24px;
      margin-top: 10px;
    }
    a.btn{
      display: inline-block;
    }
  }
}

.sidebar-cols .content-col .content {
  .card.simple p{
    margin-top: 10px;
  }
}