.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $blue_haze;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    // & + .card{
    //     padding-left: 15px;
    // }
    .card-img-top {
        width: 100%;
        border-top: 5px solid $blue_bell;
        border-top-left-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-right-radius: 0;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 30px;
        @media(max-width: 736px){
            padding: 15px;
        }
        h5.card-title{
            font-size: 20px !important;
            color: $lucky_point;
            margin-bottom: 10px;
            font-family: $open_sanssemibold;
            font-weight: 600;
            margin-top: 0px !important;
        }
        p.card-text{
            color: $scarpa_flow;
            margin-bottom: 0px !important;
        }
        .search-link-wrap{
          margin-top: 27px;
            @media(max-width: 1200px){
                flex-flow: column;
            }
            // .btn{
            //   min-height: 55px;
            //   font-size: 16px;
            // //   line-height: 32px;
            // }
            .btn-danger{
                padding: 10px 20px;
                min-width: 180px;
                @media(max-width: 1200px){
                    min-width: 100%;
                }
            }
            .btn-icon{
                &.right-icon{
                    line-height: 46px;
                }
            }
            .btn-primary{
                min-width: 129px;
                padding: 10px 20px;
                @media(max-width: 1200px){
                    min-width: 100%;
                    margin-top: 2px;
                }
            }
        }
    }
    .card-footer{
        // background-color: $blue_haze;
        padding: 15px 30px;
        border-top: none;
        .link-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &:last-child {
            border-radius: 0;
            border-radius: 0;
        }
    }
    &.patients{
      background-color: $white;
      box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
      .card-img-top{
        border-color: $blue_bell;
      }
        a{
          text-decoration: none;
        }
    }
}
/////////////////////////
.simple-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $white;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
    // & + .card{
    //     padding-left: 15px;
    // }
    .card-img-top {
        width: 100%;
        border-top: 5px solid $blue_bell;
        border-top-left-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-right-radius: 0;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 20px;
        h5.card-title{
            font-size: 18px !important;
            color: $lucky_point;
            margin-bottom: 10px;
            font-family: $open_sanssemibold;
            font-weight: 600;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
        hr{
            margin-top: 15px;
            margin-bottom: 15px;
            border-top: 1px solid $blue_haze;
        }
        h5.card-data{
            font-size: 18px !important;
            color: $lucky_point;
            margin-bottom: 10px;
            font-family: $open_sanssemibold;
            font-weight: 600;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &.woocommerce-price{
                display: flex;
                // flex-wrap: wrap;
                // justify-content: space-between;
                del{
                    color: $danger;
                    margin-right: 15px;
                    .woocommerce-Price-currencySymbol{
                        padding: 0 5px;
                    }
                }
                ins{
                    .woocommerce-Price-currencySymbol{
                        padding: 0 5px;
                    }
                }
            }
        }

        .search-link-wrap{
          margin-top: 27px;
            // @media(max-width: 1200px){
            //     flex-flow: column;
            // }
            .btn{
              min-height: auto;
              height: auto;
              font-size: 16px;
              line-height: 16px;
              font-family: $open_sanssemibold;
              font-weight: 600;
              padding: 0;
              padding: 12px 30px;
            //   line-height: 18px;
              &.btn-danger{
                border-width: 1px;
              }
              &.btn-danger-outline{
                border-width: 1px;
              }
            }
        }
    }
    .card-footer{
        // background-color: $blue_haze;
        padding: 15px 30px;
        border-top: none;
        .link-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &:last-child {
            border-radius: 0;
            border-radius: 0;
        }
    }
    &.slick-slide{
      height: auto !important;
    }
}


.card{
  &.contact{
    display: flex;
    flex-flow: row;
    padding: 40px 30px;
    @media(max-width: 1200px){
      padding: 15px;
    }
    & + .card{
      margin-top: 1px;
    }
    .icon-wrap{
      margin-right: 25px;
      @media(max-width: 1200px){
        margin-right: 15px;
      }
    }
    .contact-txt{
      .label-wrap{
        font-family: $open_sansregular;
        font-weight: 400;
        font-size: 16px;
        color: $lucky_point;
        letter-spacing: 0;
        line-height: 24px;
      }
      .contact-num{
        font-family: $open_sansbold;
        font-weight: 700;
        font-size: 16px;
        color: $lucky_point;
        letter-spacing: 0;
        line-height: 24px;
      }
    }
  }
}

.contact-box-wrap{
  .contact-wrap{
    border-top: 5px solid $lavender-grey;
  }
}

.col-md-4:nth-child(1n+4){
  .card{
    margin-top: 30px;
  }
}
////////////////////////
.ns-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    .card-img-top {
        width: 100%;
        border-top: 1px solid $blue_bell;
        border-right: 1px solid $blue_bell;
        border-left: 1px solid $blue_bell;
        border-top-left-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top-right-radius: 0;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 0;
        h5.card-title{
            font-size: 12px !important;
            color: $white;
            font-family: $open_sansregular;
            font-weight: 400;
            margin-top: 0px !important;
            padding: 15px 10px;
            margin-bottom: 0;
            background-color: $blue_bell;
        }
        p.card-text{
            font-size: 12px !important;
            color: $gun_powder ;
            font-family: $open_sansbold;
            font-weight: 700;
            background-color: $lavender-grey;
            padding: 15px 10px;
            line-height: 12px;;
        }
    }

}
