.hero-banner{
    height: 490px;
    background-size: auto 100%;
    background-position: center center;
    @media(max-width: 1200px){
        // background-size: cover;
        background-position: bottom;
    }
    @media(max-width: 736px){
        height: 300px;
    }
}
.hero-slider{

    .prev-arrow,.next-arrow{
        border: none;
        border-radius: 0;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // margin: 0;
        padding: 0;
        color: #fff;
        width: 60px;
        height: 60px;
        cursor: pointer;
        @media(max-width: 736px){
            width: 40px;
            height: 40px;
        }
    }

    .prev-arrow{
      left: 40px;
      background-color:  rgba($white,0.5);
      z-index: 1;
      @media(max-width: 736px){
        left: 20px;
      }
    }
    .next-arrow{
      right: 40px;
      background-color:  rgba($white,0.5);
      z-index: 1;
       @media(max-width: 736px){
            right: 20px;
      }
    }
    .slide-arrow{
      position: absolute;
      top: 50%;
      margin-top: -50px;
      font-size: 30px;
      .iconmoon {
          color: $blue_bell;
      }
      @media(max-width: 991px){
          display: none !important;
      }
    }
}
.hero-header{
    // .title{
    //     h2{
    //         padding-top: 40px;
    //     }
    //     h4{
    //         padding-top: 20px;
    //         color: $gun_powder;
    //     }
    // }
    .mark-danger{
            padding: 8px;
            font-size: 30px;
            line-height: 30px;
            width: auto;
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            background-color: $danger;
            color: $white;
            font-family : $gotham_Book;
        }
        label{
            display: block;
            font-family : Open Sans;
            font-size : 12px;
            color : $scarpa_flow;
            line-height: 24px;
        }
    .btn-wrap{
        margin-top: 8px;
        display: flex;
        // justify-content: space-between;
        @media(max-width:991px){
            margin-top: 18px;
        }
        .btn{
            &.btn-danger-outline{
                &.btn-lg{
                    height: auto;
                    line-height: 21px;
                    padding: 12px 28px;
                    @media(max-width: 1200px){
                        font-size: 16px;
                    }
                    & + .btn-lg{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    &.hero-header-sm{
        margin-top: 20px;
        max-width: 372px;
        transform: scale(.9);
        transform-origin: left;
        position: relative;
        left: 60%;
         @media(max-width: 991px){
             margin-top: 50px;
             margin-right: auto;
             position: unset;
             transform: scale(1);
         }
        @media(max-width: 736px){
            margin-top: 26px;
        }
        .hero-title{
            h3{
                font-family : $gotham_Book;
                font-size : 34px;
                color : $lucky_point;
                line-height: 34px;
            }
            p{
                font-family : $gotham_Book;
                font-size : 16px;
                color : $lucky_point;
                line-height: 18px;
                padding-top: 10px;
                margin-bottom: 0;
            }
            h2{
                font-family : $gotham_Bold;
                // font-weight : bold;
                font-size : 38px;
                color : $lucky_point;
                line-height: 34px;
                padding-top: 24px;
            }
            h4{
                font-family : $gotham_Book;
                font-size : 28px;
               color : $lucky_point;
               line-height: 22px;
               padding-top: 10px;
            }
        }

    }
    &.hero-header-md{
        margin-top: 58px;
        max-width: 620px;
        position: relative;
        left: 50%;
        transform: scale(0.9);
        @media(max-width: 1200px){
            max-width: 500px;
            left: 45%;
        }
        @media(max-width: 991px){
            // margin-top: 50px;
            margin-right: auto;
            position: unset;
            transform: scale(1);
        }
        // @media(max-width: 991px){
        // }
         .hero-title{
            // max-width: 500px;
            h2{
                max-width: 480px;
                font-family : $gotham_Book;
                font-size : 60px;
                color : $lucky_point;
                line-height: 52px;
                @media(max-width: 1200px){
                    font-size : 46px;
                }
                @media(max-width: 991px){
                    font-size : 42px;
                    line-height: 44px;
                }
            }
            p{
                padding-top: 22px;
                padding-bottom: 20px;
                margin-bottom: 0;
                font-family : $gotham_Book;
                font-size : 18px;
                line-height: 24px;
                 color : $lucky_point;
                max-width: 600px;
                 @media(max-width: 991px){
                    font-size : 16px;
                    line-height: 20px;
                }
                @media(max-width: 736px){
                    padding-bottom: 8px;
                }
            }
        }
    }
}
.slick-slide{
    outline: none !important;
}

.card-slider{
    .slick-slide{
        margin: 25px 15px 0 15px;
        width: 100%;
        @media(max-width: 1200px){
            margin: 25px 8px 0 8px;
        }
        // @media(max-width: 768px){
        //     margin: 25px 15px 0 15px;
        // }
        @media(max-width: 736px){
            margin: 0 0;
        }
    }
    &.card-slider-row{
        margin: 0 -15px;
        @media(max-width: 736px){
            margin: 0 0;
        }
    }
    .slide-arrow{
      position: absolute;
      top: 50%;
      margin-top: -12px;
      font-size: 30px;
      @media(max-width: 1200px){
          font-size: 24px;
      }
    }
    .prev-arrow,.next-arrow{
        border: none;
        border-radius: 0;
        outline: none;
        background-color:  rgba($blue_haze, 0.3);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // margin: 0;
        padding: 0;
        color: $blue_bell;
        width: 60px;
        height: 60px;
        padding: 9px;
        z-index: 1;
        @media(max-width: 1200px){
            width: 45px;
            height: 45px;
        }
        @media(max-width: 736px){
            position: absolute;
        }
    }
    .prev-arrow{
      left: -85px;
      @media(max-width: 1400px){
          left: -65px;
      }
      @media(max-width: 1200px){
          left: -30px;
      }
    //    @media(max-width: 1200px) and (orientation: landscape){
    //         display: none !important;
    //         left: 0;
    //     }
    }
    .next-arrow{
      right: -85px;
      @media(max-width: 1400px){
          right: -65px;
      }
      @media(max-width: 1200px){
          right: -30px;
      }
      /* @media(max-width: 1200px) and (orientation: landscape){
        //     display: none !important;
        //     right: 0;
        // } */
    }
}
.thumbnail-slider{
    .slick-slide{
        margin: 0 15px;
        @media(max-width: 736px){
            margin: 0 8px;
        }
    }
    .slick-list{
        margin: 0 -15px;
    }
    .slide-arrow{
      position: absolute;
      top: 50%;
      margin-top: -16px;
      font-size: 30px;
      @media(max-width: 736px){
          margin-top: -20px;
      }
    }
    .prev-arrow,.next-arrow{
        border: none;
        border-radius: 0;
        outline: none;
        background-color:  transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // margin: 0;
        padding: 0;
        color: $blue_bell;
        width: 40px;
        height: 40px;
        z-index: 1;
        @media(max-width: 736px){
            display: none !important;
        }
    }
    .prev-arrow{
      left: -50px;
      @media(max-width: 1200px){
          left: -35px;
      }
      @media(max-width: 736px){
          left: -20px;
      }
    }
    .next-arrow{
      right: -50px;
      @media(max-width: 1200px){
          right: -35px;
      }
       @media(max-width: 736px){
           right: -20px;
       }
    }
}
///////////////////////
.simple-card-slider{
    .slick-slide{
        margin: 25px 15px 15px 15px;
        @media(max-width: 1200px){
            margin: 25px 8px 0 8px;
        }
    }
    &.card-slider-row{
        margin: 0 -15px;
    }
    .slide-arrow{
      position: absolute;
      top: 50%;
      margin-top: -12px;
      font-size: 30px;
      @media(max-width: 1200px){
          font-size: 24px;
      }
    }
    .prev-arrow,.next-arrow{
        border: none;
        border-radius: 0;
        outline: none;
        background-color:  rgba($blue_haze, 0.3);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // margin: 0;
        padding: 0;
        color: $blue_bell;
        width: 60px;
        height: 60px;
        z-index: 1;
        @media(max-width: 1200px){
            width: 45px;
            height: 45px;
        }
    }
    .prev-arrow{
      left: -85px;
      @media(max-width: 1400px){
          left: -65px;
      }
      @media(max-width: 1200px){
          left: -30px;
      }
    //    @media(max-width: 1200px) and (orientation: landscape){
    //         display: none !important;
    //         left: 0;
    //     }
    }
    .next-arrow{
      right: -85px;
      @media(max-width: 1400px){
          right: -65px;
      }
      @media(max-width: 1200px){
          right: -30px;
      }
      /* @media(max-width: 1200px) and (orientation: landscape){
        //     display: none !important;
        //     right: 0;
        // } */
    }
}
// .hero-banner-md{
//     display: none;
// }



.hero-banner-sm{
    .hero-banner{
        @media(max-width: 991px){
            height: 650px;
            background-position: bottom;
        }
        @media(max-width: 736px){
            height: 450px;
            background-position: center;
        }
    }
    .mark-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 280px;
        padding-top: 20px;
        @media(max-width: 991px){
            justify-content: flex-start;
            max-width: 300px;
        }
        .mark-danger{
            width: auto;
            @media(max-width: 991px){
                margin-left: 10px;
            }
        }
    }
    .btn-danger-outline{
        line-height: 14px;
        height: auto;
        padding: 11px;
        font-size : 14px;
    }
    h2{
        @media(max-width: 991px){
            font-size : 30px;
            line-height: 26px;
            padding-top: 20px;
        }
    }
    .mark-danger{
        @media(max-width: 991px){
            line-height: 22px;
            font-size: 26px;
            width: 260px;
            margin-top: 0;
        }
    }
    .hero-header-sm{
        .hero-title{
            h3{
                @media(max-width: 991px){
                    font-size : 24px;
                    line-height: 24px;
                    width: 240px;
                }
            }
            p{
                @media(max-width: 991px){
                    font-size : 16px;
                    line-height: 18px;
                }
            }
            h2{
                @media(max-width: 991px){
                    font-size : 30px;
                    line-height: 26px;
                    padding-top: 20px;
                }
            }
            h4{
                @media(max-width: 991px){
                    font-size : 18px;
                    line-height:14px;
                    padding-top: 0;
                }
            }
        }
    }
    //////////////////
    .hero-header-md{
        @media(max-width: 991px){
            margin-top: 50px;
        }
        @media(max-width: 991px){
            margin-top: 0;
        }
         .hero-title{
            // max-width: 500px;
            h2{
                @media(max-width: 991px){
                    font-size : 30px;
                    line-height: 32px;
                }
            }
            p{
                 @media(max-width: 991px){
                    font-size : 14px;
                    line-height: 20px;
                }
            }
        }
    }
    .hero-header{
        .btn-wrap{
            .btn{
                &.btn-danger-outline{
                    &.btn-lg{
                        padding: 6px 8px;
                        line-height: 18px;
                        @media(max-width: 736px){
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }
}

.hero-banner-md{
    display: block;
}
.hero-banner-sm{
    display: none;
}

@media(max-width: 991px) {
    .hero-banner-md{
        display: none;
    }
    .hero-banner-sm{
        display: block;
    }
}


@media(max-width: 736px) {
    .card-slider .slick-slide{
        margin: 0px !important;
    }
    .card-slider .prev-arrow, .card-slider .next-arrow{
        display: none !important;
    }
    .card-slider.card-slider-row{
        margin: 0px !important;
    }
}
