.card-img-text{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $white;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    .card-img-top{
        border-top: 5px solid $blue_bell;
        border-radius: 0;
    }
    .card-img-text-body{
        padding-top: 40px;
        @media(max-width: 991px){
            padding-top: 25px;
        }
        .card-img-text-title{
            font-size : 32px;
            color: $lucky_point;
            margin-bottom: 10px;
            line-height: 28px;
            font-family: $open_sansregular;
            font-weight: 400;
            line-height: 36px;
            @media(max-width: 991px){
                font-size : 26px;
            }
        }
        .card-img-desc{
            margin-bottom: 20px;
            color: $gun_powder;
            font-size: 16px;
            @media(max-width: 991px){
                margin-bottom: 15px;
            }
        }
        .btn{
            &.btn-icon{
                line-height: 16px;
            }
        }
    }
}
