.card{
  &.partners{
    background: #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
    position: relative;
    .btn.btn-icon .icon-wrap {
      top: 2px;
    }
    .logo-wrap{
      min-width: 100%;
      min-height: 160px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white;
      @media(max-width: 1200px){
        min-width: 100%;
        img{
          max-width: 80%;
        }
      }
      img{
        display: inline-block;
        max-width: 100%;
      }
    }
    .cta-row{
      text-align: center;
      background: $btn-bg;
      a{
        display: flex;
        color: $gun_powder;
        margin: 0px 15px;
        align-items: center;
        justify-content: center;
        height: 48px;
      }
      a.btn{
        color: $danger;
        padding: 0px 0px;
        margin: 0px 15px;
        color: $danger;
        text-align: center;
        text-decoration: none;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 45px;
        font-size: 16px;
        display: flex;
        .icomoon{
          height: 30px;
          width: 30px;
          color: $danger;
          transition: 0.3s all ease-in-out;
          text-align: center;
          line-height: 0px;
          font-size: 20px;
          margin-left: 10px;
        }
        @media(max-width: 1200px){
          font-size: 14px;
        }
      }
      & + .cta-row{
        a{
          border-top: 1px solid $white;
        }
      }
    }
  }
}

@media(max-width: 768px){
  .partners-wrap {
    .col-md-4 .card, .col-md-4:nth-child(1n+4) .card{
      margin-top: 15px;
    }
  }
}
