.card {
  &.events{
    .card-header{
      padding: 0px;
      .featured-image{
        margin: 0px;
        position: relative;
        &:after{
          background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 55%, rgba(0,0,0,0.75) 100%);
          position: absolute;
          left: 0px; right: 0px;
          top: 0px; bottom: 0px;
          content: "";
          display: block;
        }
        img{
          border: 0px;
        }
        .card-img-top{

        }
      }
      .point-wrap{
        background: $danger;
        width: 80px;
        text-align: center;
        position: absolute;
        right: 30px;
        top: 30px;
        @media(max-width: 768px){
          right: 15px;
          top: 15px;
          width: 70px;
        }
        .count{
          font-size: 60px;
          line-height: 82px;
          font-family: $open_sansbold;
          font-weight: 700;
          color: $white;
          height: 80px;
          @media(max-width: 768px){
            font-size: 30px;
            height: 50px;
            line-height: 50px;
          }
          &.sml{
            font-size: 34px;
            @media(max-width: 768px){
                font-size: 30px;
            }
          }
        }
        .point-label{
          color: $white;
          background: $gun_powder;
          font-family: $open_sanssemibold;
          font-weight: 600;
          font-size: 12px;
          line-height: 24px;
          @media(max-width: 768px){
            font-size: 10px;
          }
        }
      }
    }
    .card-body{
      padding: 25px;
      @media(max-width: 768px){
        padding: 15px;
      }
      .btn-wide{
        width: 100%;
      }
    }
    .info-row{
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 5px 0px;
      border-bottom: 2px solid rgba($lavender-grey, 0.5);
      .icon{
        line-height: 48px;
        font-size: 36px;
        color: $lucky_point;
      }
      .img-icon{
        height: 50px;
        width: 50px;
      }
      span{
        font-family: $open_sanssemibold;
        font-weight: 600;
        color: $lucky_point;
        letter-spacing: 0;
        font-size: 16px;
        line-height: 24px;
        margin-left: 15px;
      }
      .img-icon{

      }
      &.date{

      }
      &.time{

      }
      &.location{

      }
    }
    .search-link-wrap{
        .btn-danger{
            min-width: 190px;
            @media (max-width: 1200px){
                min-width: 100%;
            }
        }
    }
  }
}

.events-details{
  .card.events {
    .card-header {
      position: relative;
      .point-wrap{
        width: 120px;
        @media(max-width: 768px){
          width: 80px;
        }
        .count{
          height: 120px;
          font-size: 80px;
          line-height: 120px;
          @media(max-width: 768px){
            height: 80px;
            font-size: 32px;
            line-height: 80px;
          }
        }
        .point-label{
          font-size: 16px;
          line-height: 24px;
          padding: 3px 0px;
          @media(max-width: 768px){
            font-size: 12px;
          }
        }
      }
      .featured-image img{
        border: 0px;
      }
      .header-title{
        position: absolute;
        bottom: 40px;
        left: 40px;
        @media(max-width: 991px){
          bottom: 20px;
          left: 20px;
        }
        @media(max-width: 768px){
          bottom: 15px;
          left: 15px;
        }
        h2, p{
          color: #FFFFFF;
        }
        h2{
          font-family: $open_sanssemibold;
          font-weight: 600;
          font-size: 40px;
          letter-spacing: 0;
          line-height: 46px;
          @media(max-width: 991px){
            font-size: 28px;
            line-height: 32px;
          }
          @media(max-width: 768px){
            font-size: 22px;
            line-height: 26px;
          }
        }
        p{
          margin-top: 12px;
          @media(max-width: 768px){
            margin-top: 5px;
          }
        }
      }
    }
    .card-footer{
      padding: 0px;
      background: $lucky_point;
      .footer-row{
        padding: 25px 30px;
        @media(max-width: 991px){
          padding: 20px;
        }
        @media(max-width: 768px){
          padding: 15px;
        }
        .footer-col{
          color: $white;
        }
      }
      .info-row{
        border: 0px;
        span{
          max-width: 260px;
          font-size: 18px;
          color: $white;
          @media(max-width: 1200px){
            max-width: 100%;
          }
          @media(max-width: 768px){
            max-width: 80%;
            font-size: 16px;
          }
          small{
            font-family: $open_sansregular;
            font-weight: 400;
            font-size: 16px;
          }
          strong{
            font-family: $open_sansbold;
            font-weight: 700;
          }
        }
      }
      .footer-row{
        display: flex;
        @media(max-width: 1200px){
          flex-wrap: wrap;
        }
        &:first-child{
          background: rgba(0,0,0, 0.2);
        }
        .footer-col{
          width: 100%;
        }
      }
    }
  }
  .events-info{
    margin-top: 50px;
    @media(max-width: 991px){
      margin-top: 30px;
    }
    h4{
      font-family: $open_sansregular;
      font-weight: 400;
      font-size: 21px;
      color: #232075;
      letter-spacing: 0;
      line-height: 29px;
      margin-bottom: 30px;
      @media(max-width: 991px){
        margin-bottom: 20px;
      }
      @media(max-width: 768px){
        font-size: 16px;
        line-height: 24px;
      }
      strong{
        font-weight: normal;
        font-family: $open_sanssemibold;
        font-weight: 600;
      }
    }
    p{
      margin: 30px 0px;
      margin-bottom: 40px !important;
      @media(max-width: 991px){
        margin-bottom: 20px !important;
      }
    }
    .btn{
      margin-top: 20px;
      @media(max-width: 991px){
        margin-top: 0px;
      }
    }
  }
}
