
.checkbox-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox-group label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}

.checkbox-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid $athens_gray;
//   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 13px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 20px;
}

.checkbox-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
    top: 5px;
    left: 11px;
    width: 7px;
    height: 14px;
  border: solid $kimberly;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
//////////////////////////////////
.checkbox-flex input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox-flex label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  font-family : $open_sansregular;
  font-weight: 400;
  font-size : 16px;
  color : $gun_powder;
  @media(max-width: 768px){
      width: 240px;
      padding-left: 34px;
  }
  @media(max-width: 736px){
      font-size: 13px;
      width: 200px;
      padding-left: 34px;
  }

}
label{
    &:focus{
      outline: none !important;
      box-shadow: none !important;
  }
}

.checkbox-flex label:before {
    content:'';
    -webkit-appearance: none;
    background-color: $white;
    border: 1px solid $athens_gray;
    //   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 11px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 20px;
    @media(max-width: 768px){
        margin-right: 10px;
        margin-left: -34px;
    }
}

.checkbox-flex input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
        top: -6px;
    left: 11px;
    width: 10px;
    height: 24px;
  border: solid $danger;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.checkbox-flex{
    display: flex;
    justify-content: space-between;
    &.checkbox-flex-body{
    border-top: 1px solid $white;
    padding: 12px 30px 12px 20px;
    background-color: #f4f3f8;
    @media(max-width: 768px){
        padding: 12px 20px 12px 20px;
    }
        // & + .checkbox-flex-body{
        //     padding: 20px 30px 0 20px;
        // }
    }
    .value{
        font-family : $open_sansbold;
        font-weight: 700;
        font-size : 16px;
        color : $danger;
         @media(max-width: 736px){
            font-size: 13px;
        }
    }
    .val-note{
        display: inherit;
        width: 84px;
        align-items: center;
        justify-content: flex-end;
        @media(max-width: 736px){
            width: 60px;
        }
        .note{
            font-size : 12px;
            color : $white;
            margin-left: auto;
            background-color: $blue_bell;
            border: 1px solid $white;
            width: 20px;
            height: 20px;
            text-align: center;
            cursor: pointer;
            position: relative;
        }
    }
}
