.checkbox-panel{
    background-color: $snuff;
    border-top: 5px solid $lavender-grey;
    padding: 35px 40px;
    @media(max-width: 736px){
        padding: 20px;
    }
    .custom-radio-btn{
        width: 50%;
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 60px;
        cursor: pointer;
        line-height: 30px;
        display: inline-block;
        color: $gun_powder;
        margin-bottom: 0;
        @media(max-width: 736px){
            padding-left: 40px;
        }
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 30px;
        border: 1px solid $blue_haze_1;
        border-radius: 100%;
        background: $white;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 16px;
        height: 16px;
        background: $danger;
        position: absolute;
        top: 7px;
        left: 7px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
