.content{
    &.flex-content{
        display: flex;
        justify-content: space-between;
        @media(max-width: 768px){
            flex-flow: column;
        }
    }
    .featured-image{
      margin-bottom: 30px;
      border-top: 5px solid $blue_bell;
      img{
          max-width: 100%;
      }
    }
}
.title + .content{
    padding-top: 40px;
    @media(max-width: 736px){
        padding-top: 20px;
    }
    p{
        max-width: 750px;
        @media(max-width: 1200px){
            max-width: 700px;
        }
        @media(max-width: 991px){
            max-width: 750px;
        }
    }
}


.content-inner{
  h5{
    font-size: 16px;
    line-height: 26px;
    & + p{
      margin-top: 15px;
    }
  }
  & + .form-panel{
    margin-top: 60px;
    @media(max-width: 991px){
      margin-top: 40px;
    }
    @media(max-width: 991px){
      margin-top: 30px;
    }
  }
}

.blockquote-img{
  & + .content-inner{
    margin-top: 30px;
  }
}

.inner-content{
  margin-top: 80px;
  @media(max-width: 1200px){
      margin-top: 60px;
  }
  @media(max-width: 991px){
      margin-top: 40px;
      display: inline-block;
      width: 100%;
  }
  &.first-group{
    margin-top: 0px;
  }
  @media(max-width: 736px){
    margin-top: 40px;
    &.first-group{
      margin-top: 0px;
    }
  }
  .content-title-desc{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @media(max-width: 1200px){
        flex-wrap: wrap;
    }
    @media(max-width: 991px){
      flex-flow: column;
      margin-bottom: 30px;
    }
    @media(max-width: 736px){
      margin-bottom: 15px;
    }
    .cnt-content{
        & + .cnt-content{
            @media(max-width: 1200px){
                margin-top: 15px;
            }
            @media(max-width: 991px){
                margin-top: 10px;
            }
            @media(max-width: 768px){
                margin-top: 6px;
                font-size: 12px;
            }
        }
    }
  }
  .content-body{
    h4.highlight{
      font-family: $open_sanssemibold;
      font-weight: 600;
      font-size: 21px;
      color: $lucky_point;
      letter-spacing: 0;
      line-height: 29px;
      margin-bottom: 30px;
      @media(max-width: 768px){
        margin-top: 15px;
      }
    }
  }
}


.sidebar-cols .content-col .content.plain-content{
  .inner-content{
    .content-title{
      h3{
        margin-bottom: 30px;
        @media(max-width: 768px){
          margin-top: 15px;
        }
      }
    }
  }
}

.add-info{
  margin-top: 0px;
  display: inline-block;
  width:100%;
  .highlight{
    color: $lucky_point;
  }
}
