.counter-row{
    justify-content: space-between;
    flex-wrap: wrap;
    .counter-md-4{
        width: 33.33%;
        @media(max-width: 736px){
            width: 100%;
        }
        & + .counter-md-4{
            border-left: 2px solid rgba($white,0.1);
            @media(max-width: 991px){
                border-left: none;
            }
            @media(max-width: 736px){
                margin-top: 40px;
            }
        }
    }
}
.counter-up{
    text-align: center;
    & + .counter-up{
        border-left: 1px solid $scarpa_flow;
    }
    .icon-wrap{
        font-size: 60px;
        color: $white;
        line-height: 0;
        @media(max-width: 1200px){
            font-size: 46px;
        }
        @media(max-width: 768px){
            font-size: 40px;
        }
    }
    span{
        font-size: 60px;
        color: $white;
        font-family: $gotham_medium;
        @media(max-width: 1200px){
            font-size: 40px;
        }
    }
    .caption{
        color: $white;
        font-size: 28px;
        max-width: 250px;
        margin: auto;
        font-family: $gotham_medium;
        @media(max-width: 1200px){
            font-size: 24px;
        }
        h4{
            font-family: $open_sansregular;
            font-weight: 400;
            color: $lavender-grey;
            font-size: 28px;
            @media(max-width: 736px){
                font-size: 18px;
            }
        }
        @media(max-width: 768px){
            font-size: 22px;
        }
    }
    .btn-wrap{
        padding-top: 40px;
        @media(max-width: 1200px){
            padding-top: 30px;
        }
        @media(max-width: 736px){
            padding-top: 15px;
        }
        .btn-default-outline{
            height: 55px;
            padding: 10px 38px;
            font-family: $open_sansregular;
            font-weight: 400;
        }
    }
}
