.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
  max-width: 100%;
}

.woocommerce form .form-row label, .woocommerce-page form .form-row label, .woocommerce-input-wrapper{
  width: 100%;
}

select.selectpicker{
  width: 100% !important;
}
select.disabled + .select2{
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.load-spinner{
  display: block;
  width: 100%;
}

nav ul.pagination li.page-item.active span{
  color: #fff;
  border-color: #5f6179;
  background: #5f6179;
  border-radius: 0px;
  padding: 8px;
  width: 30px;
  height: 30px;
  line-height: 12px;
  text-align: center;
  cursor: default;
  pointer-events: none;
}

.matchHeight {
  display: inline-block;
  width: 100%;
}

select, .select2-container{
  width: 100% !important;
}

.form-wrap .form-content .select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 55px;
}

span.error{
  font-size: 14px;
  /* margin: 8px 0px; */
  margin-left: 10px;
  display: inline-block;
  color: #c4151c;
}

.ajax-result .success{ display: none; }
.ajax-result .error{ display: none; }

#onlineAppoinmentForm .nav-link{
  pointer-events: none;
  cursor: default;
}

@media(min-width: 1200px){
  .tab-selector, .form-panel{
    transition: 0.2s all ease-in-out;
  }
  .tab-selector{
      margin-top: 0;
  }
  .find-doctor-wrap{
    min-height: 160px;
  }
//   .tab-section-wrap{
//     min-height: 64px;
//   }
  .tab-section-wrap{
    min-height: 34px;
  }
  #stick-here{
    position: relative;
    display: block;
    width: 100%;
    z-index: 9999;
    top: auto;
  }
  #stickThis.stick{
    position: fixed !important;
    z-index: 99999;
    left: 0px;
    right: 0px;
    top: 0;
    &.stickremove{
      &:before{
        background: transparent;
      }
    }
    .tab-selector-wrap{
        top: 0;
    }
    .form-panel{
      padding: 30px 50px;
    }
    .tab-selector{
      margin-top: 0px;
    }
  }
}
.datepicker-panel > ul{
  z-index: 9;
}