.tp-image{
    margin-top: -170px;
    @media(max-width: 1200px){
         margin-top: -140px;
    }
    @media(max-width: 991px){
         padding-bottom: 0;
    }
    @media(max-width: 736px){
        padding-bottom: 20px;
         margin-top: -70px;
    }
    img{
        margin-left: auto;
        display: block;
        @media(max-width: 991px){
            margin-left: 0;
            margin: auto;
        }
    }
}
    .thumbnail-bordered{
      border-top: 5px solid $blue_bell;
      border-bottom: 1px solid $white;
        position: relative;
      .fig-overlay{
        position: absolute;
        font-family : $open_sansregular;
        font-weight: 400;
        font-size : 32px;
        color : $lucky_point;
        top: 0;
        padding: 32px 30px 34px 30px;
        max-width: 290px;
        line-height: 38px;
        display: flex;
        align-items: center;
        height: 100%;
        @media(max-width: 1200px){
            // height: 115px;
            font-size : 28px;
            line-height: 26px;
        }
        @media(max-width: 768px){
            height: auto;
            font-size : 24px;
            line-height: 20px;
            padding: 32px 20px;
            // padding: 18px;
        }
        // @media(max-width: 991px){
        //     height: auto;
        //     font-size : 28px;
        //     line-height: 26px;
        // }
      }
    }
