.form-panel{
  padding: 50px;
  background: $blue_haze;
  border-top: 5px solid $lucky_point;
  position: relative;
  z-index: 1;
  @media(max-width: 1200px){
      padding: 30px;
  }
    .row{
        margin: 0 -25px;
        @media(max-width: 1200px){
            margin: 0 -16px;
        }
        .col-md-5,.col-md-2{
            padding: 0 25px;
            @media(max-width: 1200px){
                padding: 0  8px;
            }
        }
    }
  @media(max-width: 991px){
    margin-right: 0px;
    padding: 30px;
    .col-md-5, .col-md-2{
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
    }
    .col-md-5{
      margin-bottom: 15px;
    }
    .col-md-2{
      margin-bottom: 0px;
    }
  }
  @media(max-width: 991px){
    padding: 20px;
  }
  .form-group{
    margin-bottom: 0px;
    margin-right: 30px;
    width: 100%;
    flex: auto;
    @media(max-width: 991px){
      margin-right: 0px;
    }
    .form-control{
      border: 0px;
      width: 100%;
      &::placeholder{
        color: $gun_powder !important;
      }
    }
  }
}

.form-panel {
  background: $light-border;
  &.form-inline{
    display: flex;
    flex-wrap: nowrap;
    @media(max-width: 736px){
        flex-wrap: wrap;
    }
    .form-group{
      margin-right: 50px;
        @media(max-width: 736px){
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
  }
}

.form-section{
  & + section{
    margin-top: -5px;
  }
  &.left-fill{
    position: relative;
    &:before{
      content: "";
      display: block;
      position: absolute;
      width: 1000px;
      margin-left: -1585px;
      left: 50%;
      top: 0;
      bottom: 0px;
      background-color: $blue-chalk;
      @media(max-width: 1200px){
        margin-left: -1465px;
      }
    }
    form{
        position: relative;
        top: -5px;
    }
  }
}

@media(max-width: 1200px){
  .sidebar-cols .title-col:before{
   // top: -90px;
  }
  .form-panel .form-group{
    margin-right: 0px;
  }
}

.btn-md, .input-md{
  max-height: 55px !important;
  height: 55px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  padding-left: 15px;
}
.select2-results__option{
  font-size: 16px;
  padding: 10px 15px;
}
