.all-btn-wrap{
    display: flex;
    flex-wrap: wrap;
    .btn{
        margin: 5px;
        text-transform: uppercase;
    }
}
.ns-collapse{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    padding: 28px 0 48px 0;
    @media(max-width: 736px){
        padding: 26px 0 20px 0;
    }
    .col-md-3{
        padding: 0 8px;
        @media(max-width: 768px){
            width: 50%;
        }
        @media(max-width: 736px){
            width: 100%;
        }
        &:nth-child(1n+5){
            margin-top: 30px;
        }
        @media(max-width: 768px){
            &:nth-child(1n+3){
                margin-top: 30px;
            }
        }
        @media(max-width: 736px){
            &:nth-child(1n+2){
                margin-top: 30px;
            }
        }
    }
}
.sidebar-cols{
    &.color-fill{
        background: #3f3e59;
    }
}
