body.green-weakness{
//////////////////
// Color Variables
// $primary 				: 	#988a5b;
    $default				:	#45c2f6;
    $primary                :   #0080e7;
    $white					: 	#ffffff;
    $black					: 	#000000;
    $athens_gray            :   #56555a;
    $athens_gray_1          :   #56555a;
    $blue_bell              :   #b3b3b3;
    $blue_haze_new          :   #eeeeee;
    $blue_haze              :   #a7a7a7;
    $blue_haze_1            :   #5e5e5e;
    $blue_haze_light        :   #f1f5f6;
    $blue_haze_ex_light     :   #b3b3b3;
    $lucky_point            :   #3b5998;
    $lucky_point1          :    #1f4188;
    $lucky_point2          :    #062e82;
    $danger                 :   #5e5e5e;
    $scarpa_flow            :   #515062;
    $gun_powder             :   #3a3850;
    $gun_powder_1           :   #3f3e59;
    $kimberly               :   #615b8c;
    $mischka                :   #dedde1;
    $scarpa-flow            :   #56555a;
    $lavender-grey          :   #575757;
    $blue-chalk             :   #f1f5f6;
    $light-border           :   #dedede;
    $btn-bg                 :   #a7a7a7;
    $snuff                  :   #dedede;
    $grey-bg                :   #dedede;
    $simple-border          :   #979797;
    $gray-suit              :   #bab7cb;
    $warning                :   #5e5e5e;
    $success                :   #000000;


    .top-header{
        background-color: $white;
    }
    .logo-wrap{
        .member-logo{
            border-left: 1px solid $athens_gray;
        }
    }
    .accessibility{
        .icon-wrap{
        color: $white;
        }
        a{
            &.active-danger{
                background-color: $danger;
            }
        }
    }
    .contact-info{
        .contact-no{
            label{
                color: $blue_bell;
            }
        }
        color: $lucky_point;
        .phone-number{
            a{
                color: $athens_gray_1;
            }
        }
    }
    header{
        a{
            color: $white;
        }
    }
    .nav-items > li.current-active > a:after{
            background-color: $athens_gray_1;
        }
    @media(max-width: 991px){
        .nav-items > li.active > a{
            color: $athens_gray_1;
        }
        .nav-items > li.current-active > a:after{
            background-color: $athens_gray_1;
        }
    }
// header partials end
    section.banner{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    &.add-overlay{
        &:after{
            background-color: rgba(0,0,0,0.6);
        }
    }
    h1{
        color: white;
    }
    &.size-s{
        h1{
        color: $lucky_point;
        }
    }
    &.size-m{
        h1{
            color: $lucky_point;
        }
    }

    &.head-description{
        h1{
            color: $lucky_point;
        }
        p{
            color : $gun_powder;
        }
    }
    &.size-lg{
        h1{
            color: $lucky_point;
        }
        p{
            color : $gun_powder;
        }
    }
    &.right-content{
        @media(max-width: 1200px){
                background-position: 35%;
            }
        .banner-header-wrap{

            h1{
                color: $lucky_point;
            }
            h5{
            color: $lucky_point;
        }
        p{
            color : $gun_powder;
        }
        }
    }
    }
    .plain-banner{
        &.head-description{
            h1{
                color: $lucky_point;
            }
            p{
                color : $gun_powder;
            }
        }
    }
    .bg-color-banner{
        background-color: $snuff;
        .breadcrumb-item{
            color: $gun_powder;
            a{
                color: $gun_powder;
            }
            &.active{
                color: $gun_powder;
            }
        }
        h1{
            color: $lucky_point;
        }
        hr{
            border-top: 1px solid $white;
        }
    }
    section.banner.size-wol{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    // banner partials end
    .footer-nav{
        background-color: #f1f5f6;
    }
    .footer-cluster{
        background-color: #b3b3b3;
    }
    .ft-menu{
        a{
            color: $lucky_point;
            &:hover{
                color: $gun_powder;
            }
        }
    }
    .blue-haze{
        h5,address,a,p{
            color: $lavender-grey;
        }
    }
    .blue_bell{
        h4,address,a,p{
            color: $gun_powder;
        }
    }
// footer partials end
.bg-primary{
        background-color: $lucky_point !important;
        color: $white;
        &:before{
        background-color: $danger;
        }
    }
    .nav-items{
        .nav-dropdown{
            & > a{
                &:hover{
                    &:after{
                        background-color: $danger;
                    }
                }
            }
        }
    }
    .nav-dropdown{
        &:hover{
        & > a{
            color: $primary;
        }
        }
    }
    .wide-dropdown {
        .nav-dropdown-row{
            background-color: $lucky_point;
        }
        .dropdown-menu-items {
                a{
                    &:hover{
                        color: $danger;
                    }
                }
            .nav-dropdown{
            a{
                    color : $blue_bell;
                    &:hover{
                        background-color: transparent;
                    }
                }
                ul{
                    li{
                        a{
                            color: $white;
                            &:before{
                                color: $danger;
                            }
                            &:hover{
                                @media(min-width: 991px){
                                    color: $danger;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .simple-dropdown {
        .nav-dropdown-row{
            background-color: $lucky_point;
        }
        .dropdown-menu-items {
            .nav-dropdown{
            a{
                    color : $blue_bell;
                    &:hover{
                        background-color: transparent;
                    }
                }
                ul{
                    li{
                        a{
                            color: $white;
                            &:before{
                                color: $danger;
                            }
                            &:hover{
                                @media(min-width: 991px){
                                    color: $danger;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .nav-dropdown-visibility{
        background-color: $lucky_point;
        .menu-title{
            h4{
                color: $blue_bell;
            }
        }
    }
// navigation partials end
    .wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
        color: #D8000C;
        background-color: #FFBABA;
    }
    .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
        color: #4F8A10;
        background-color: #DFF2BF;
    }

    .select2-container--default{
        .select2-selection--single{
            border-radius: 0;
            border: none;
            .select2-selection__rendered{
                line-height: 55px;
                padding-left: 20px;
            }
            .select2-selection__arrow{
                background: $blue_bell;
                 b {
                    border-color: $white !important;
                }
            }
        }
    }
    .select2-container{
        color: $gun_powder;
    }

    .select2-container--default{
        .select2-results__option--highlighted[aria-selected]{
            background-color: $blue_bell;
            color: $white;
        }
    }
    .form-control {
        border: 1px solid $white;
    }
    .form-control-md {
        border:1px solid $white;
    }
    .form-control,.form-control-md{
    &::placeholder{
        color: $blue_haze_1 !important;
    }
    }
    .select2-container--open .select2-dropdown--below{
    border: 1px solid rgba($blue_bell, 0.2);
    }
    .select2-container--default .select2-search--dropdown .select2-search__field{
    border: 1px solid $blue_bell;
    }
    .form-group{
        label{
            color : $gun_powder;
        }
    }
    .form-wrap{
        background-color: $snuff;
        border-top: 5px solid $lavender-grey;
        .form-content{
            .form-group{
                .input-group{
                    .form-control{
                        border:1px solid $white;
                        &.form-control-outline{
                            border: 2px solid $blue_haze_1;
                            color: $white;
                        }
                    }
                    &.date-picker{
                        .input-group-text{
                            background-color: $white;
                            border: 1px solid transparent;
                        }
                    }
                }
            }
            .select2-container--default{
                .select2-selection--single{
                    .select2-selection__rendered{
                        color: $gun_powder;
                    }
                }
            }
        }
        .form-group{
            &.form-recaptcha{
                label.bold{
                    color : $gun_powder;
                }
            }
        }
    }
    .date-picker{
        .input-group-text{
            color: $lucky_point;
            background-color: $white;
            border: 1px solid transparent;
        }
    }
    .select2-results__option{
        color : $gun_powder;
    }
    .select2-container--default .select2-results__option[aria-selected=true]{
        background-color: $blue_haze_1;
    }
    .custom-file-upload {
        background-color: $white;
    }
    .file-upload-label{
        color: $gun_powder;
    }
    .form-control-xs{
        border: 1px solid $blue_haze_1 ;
        &.form-control-outline{
            background-color: transparent;
            border: 2px solid $blue_haze_1;
            color: $white;
        }
    }
    .form-control-55{
        border: 1px solid $white ;
        &.form-control-outline{
            background-color: transparent;
            border: 2px solid $blue_haze_1;
            color: $white;
        }
    }
    .selectpicker-xs{
        .select2-container{
            .select2-selection--single {
                border: 1px solid $blue_haze_1;
            }
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow b{
            border-color: #ffffff !important;
        }
    }
// forms partials end
    .sidebar-inner{
        .info-box{
            border-top: 5px solid $lucky_point;
        }
        h4{
            color: $lucky_point;
        }
    }
    .content-col{
        .info-box{
            border-top: 5px solid $lucky_point;
            h4{
                color: $lucky_point;
            }
        }
    }
    .sidebar-menu{
        border-top: 5px solid $lucky_point;
        li{
            a{
                background-color: $blue_bell;
                color: $white;
            }
            & + li{
                border-top: 1px solid $white;
            }
        }
    }
    .well{
        border-top: 5px solid $lavender-grey;
        background: $blue_bell;
        color: white;
        h4{
            border-bottom: 1px solid rgba($white, 0.5);
        }
        .card-desp{
            border-bottom: 1px solid rgba($white, 0.5);
        }
        &.light{
            background: $lavender-grey;
            border-top: 5px solid $blue_bell;
        }
    }
    @media(max-width: 991px) {
        .sidebar-link li.show-mobile-navs.active a:before{
            border: 1px solid white;
        }
        .sidebar-link li.show-mobile-navs.active a:after{
            border-top: 1px solid white;
        }
    }
    // side bar partials end
    .quotes{
        h4{
            color: $lucky_point;
        }
    }
    .author{
        h6{
            color: $lucky_point;
        }
    }
    // about pages end
    .contact-section-wrap{
        background: $grey-bg;
        .address{
            h4{
                color: $lucky_point;
            }
            p{
                color: $gun_powder;
            }
        }
    .contact-info-block{
        background: $blue_bell;
        .contact-row{
            border-top: 1px solid white;
            color: #FFFFFF;
                a{
                    color: $white;
                }
            }
        }
    }
    // contact pages end
    .doctors-detail{
        h2{
            color: $lucky_point;
        }
        h4{
            color: #515062;
        }
        .doctor-detail-head-wrap{
            .doctor-info{
                .info-row{
                    &:first-child {
                        padding-top: 0px;
                        border-top: 0px;
                    }
                    border-top: 2px solid $lavender-grey;
                    .img-icon{
                            -webkit-filter: grayscale(100%);
                            filter: grayscale(100%);
                    }
                }
            }
        }
    }
    // doctors details page end
    .governance-group{
        .members{
            background: $white;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
            .featured-image{
            border-top: 5px solid $blue_bell;
            }
            h2{
            color: $lucky_point;
            }
            .designation{
            color: $gun_powder;
            }
        }
    }
    .governance-group{
        &.hilite{
            .card{
                &.members{
                    background-color: $blue_haze;
                }
            }
        }
    }
    // govern governnes page end
    .multyple-color-bg{
        &:before{
            border-top: 239px solid $blue_haze_light;
            border-bottom: 131px solid $blue_haze_ex_light;
        }
    }
    .stay-up{
        background-color: $blue_bell;
    }
    ::placeholder {
       color: $gun_powder;
    }
    // home page end
    .insurance-wrap{
        .card{
            border: 1px solid $light-border;
        }
    }
    // insurance page end
    .simgle-header{
        h2{
            color: $lucky_point;
        }
        .date{
            color: $blue_bell;
        }
    }
    // news page end
    .form-desc{
        label{
            color : $gun_powder;
        }
    }
    .danger{
        color: $danger;
    }
    // online appoinment page end
    .package-detail-header{
        .detail-info{
            border-top: 5px solid $blue_bell;
            .header-top{
            h2, h4{
                color: $lucky_point;
            }
                p{
                    color: $gun_powder;
                }
            }
            .additional-info{
                border-bottom: 1px solid $light-border;
                .info-wrap{
                    color: $lucky_point;
                }
            }
        }
    }
    .appintment-cta-wrap{
        border-bottom: 1px solid $light-border;
    .date-picker-wrap{
        .label-wrap{
            color: $lucky_point;
        }
        .form-group{
            .form-control{
                    border: 1px solid $light-border;
                &::placeholder{
                    color: $gun_powder !important;
                }
            }
        }
    }
        .cta-wrap{
            .label-wrap{
                color: $lucky_point;
            }
        }
    }
    .content-with-right-sidebar{
        .content-left{
            .tab-content{
                box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
            p, ul{
                color: $gun_powder;
            }
            ul{
                li{
                    &:before{
                        color: $danger;
                    }
                }
            }
                h4{
                    color: $lucky_point;
                }
            }
        }
    }
    .customize-package{
        background: $light-border;
    }
    // package details page end
    #package{
        .bg-primary{
            @media(max-width: 991px){
                background-color: rgba($gray-suit, 0.1) !important;
            }
        }
    }
    // package listing page end
    .patient-experience{
        .desc{
            p{
                color : $gun_powder;
            }
        }
    }
    // patients experience page end
    #cardSpecialists{
        .slick-arrow{
            background-color: $blue_haze_new;
        }
    }
    // specialities page end
    .blockquote-img{
  background-color: $blue_haze;
  .quote{
      blockquote{
          color: $gun_powder;
      }
  }
  .quote{
    .block-head, .block-body{
      color: $lucky_point;
    }
    .block-head{
      border-bottom: 1px solid $lavender-grey;
    }
  }
}
    .blockquote-simple{
        .figure-wrap{
            img{
                border-top: 5px solid $blue_bell;
            }
        }
    }
    .blockquote-img{
        border-top: 5px solid $lavender-grey;
        .quote-desc{
            h2{
                color: $lucky_point;
            }
            p{
                color: $lucky_point;
            }
        }
    }
    // blockquote component end
    .breadcrumb{
        color: $lucky_point;
        .breadcrumb-item.active, a{
            color: $lucky_point;
        }
        &.inverse{
            .active, a{
                color: $scarpa_flow;
            }
        }
    }
    // breadcrumb components end
    .btn-danger-outline{
        color: $danger;
        border: 2px solid $danger;
        &:hover, &:focus{
        border-color: $primary;
        color: $primary;
        }
    }
    .btn-danger-outline-thin{
        color: $danger;
        border: 1px solid $danger;
        &:hover, &:focus{
        border-color: $primary;
        color: $primary;
        }
    }
    .btn-default-outline{
        color: $white;
        border: 2px solid $white;
        background-color: transparent;
        &:hover, &:focus{
        border-color: $danger;
        color: $danger;
        }
    }
    .btn-danger{
        color: $white;
        background-color: $danger;
        border: 2px solid $danger;
        &:hover, &:focus{
            background-color: $danger;
        }
    }
    .btn-primary{
        color: $white;
        background-color: $lucky_point;
        border: 1px solid $lucky_point;
        &:hover, &:focus{
            background-color: $lucky_point ;
        }
    }
    .btn-info{
        color: $white;
        background-color: $blue_bell;
        border: 1px solid $blue_bell;
        &:hover,&:focus{
            background-color: $blue_bell;
            border: 1px solid $blue_bell;
        }
    }
    .btn-secondary{
        color: $white;
        background-color: $scarpa_flow;
        border: 1px solid $scarpa_flow;
        &:hover,&:focus{
            background-color: $scarpa_flow;
        }
    }
    .btn-transparent{
        background-color: transparent;
        border: 1px solid transparent;
    }
    .search-link{
        color: $danger;
    }
    .btn{
        &.btn-icon{
            color: $danger;
        }
    }
    .download-link{
        background-color: #f1f5f6;
    }
    .btn-speaker,.btn-print{
        color: $blue_bell;
    }
    .btn-wrap{
        & + .share-wrap{
            border-top: 1px solid $lavender-grey;
        }
    }
    .btn-wide{
        &.btn-primary{
            border: 2px solid $lucky_point;
            &:hover,&:focus{
                border: 2px solid $lucky_point;
                background-color:$lucky_point;
            }
        }
        &.btn-danger{
            border: 2px solid $danger;
            &:hover,&:focus{
                background-color: $danger;
                border: 2px solid $danger;
            }
        }
    }
    // button component end
    .card{
        background-color: $blue_haze;
        &.content-header{
            .featured-image{
                border-top: 5px solid $lavender-grey;
            }
            .content-card-body{
                .date{
                    color: $gun_powder;
                }
                h3{
                    color: $lucky_point;
                }
                p{
                    color: $gun_powder;
                }
            }
        }
    }
    // card content header component end
    .card {
        &.events{
            .card-header{
                .featured-image{
                    &:after{
                    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 55%, rgba(0,0,0,0.75) 100%);
                    }
                }
                .point-wrap{
                    background: $danger;
                    .count{
                        color: $white;
                    }
                    .point-label{
                        color: $white;
                        background: $gun_powder;
                    }
                }
            }
            .info-row{
                border-bottom: 2px solid rgba($lavender-grey, 0.5);
                .img-icon{
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
                span{
                    color: $lucky_point;
                }
            }
        }
    }
    .events-details{
        .card.events {
            .card-header {
                .header-title{
                    h2, p{
                        color: #FFFFFF;
                    }
                }
            }
            .card-footer{
                background: $lucky_point;
                .info-row{
                    span{
                        color: $white;
                    }

                }
                .footer-row{
                    &:first-child{
                        background: rgba(0,0,0, 0.2);
                    }
                }
            }
        }
        .events-info{
            h4{
            color: #232075;
            }
        }
    }

    // card events component end
    .card-img-text{
        .card-img-top{
            border-top: 5px solid $blue_bell;
        }
        .card-img-text-body{
            .card-img-text-title{
                color: $lucky_point;
            }
            .card-img-desc{
                color: $gun_powder;
            }
        }
    }
    // card img text components end
    .card{
        &.insurance{
            background: #FFFFFF;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
            .cta-row{
                background: $btn-bg;
            a{
                color: $danger;
                .icomoon{
                    color: $danger;
                    }
                }
            }
            .popup-over{
                background: $blue_haze_light;
            .cta-row a{
                color: $gun_powder;
            }
                .contact-row{
                    border-top: 1px solid $white;

                    a.btn-link{
                    color: $gun_powder;
                    }
                }
            }
        }
    }
    .table-offers-wrap{
        .table-offers{
            thead{
                border-top: 1px solid white;
                border-bottom: 1px solid white;
            }
        }
    }
    // card insurance component end
    .card{
        &.partners{
            background: #FFFFFF;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
            .logo-wrap{
                background: $white;
            }
            .cta-row{
                background: $btn-bg;
            a{
                color: $gun_powder;
            }
            a.btn{
                color: $danger;
            }
                & + .cta-row{
                    a{
                        border-top: 1px solid $white;
                    }
                }
            }
        }
    }
    // card partenrs component end
    .card{
        &.simple{
            background: #FFFFFF;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
            border-top: 5px solid $lavender-grey;
            .date{
                color: $blue_bell;
            }
            h4{
                color: $lucky_point;
            }
            p{
                color: $gun_powder;
            }
        }
    }
    // card simple component end
    .card {
        .card-img-top {
            border-top: 5px solid $blue_bell;
        }
        .card-body {
            h5.card-title{
                color: $lucky_point;
            }
            p.card-text{
                color: $scarpa_flow;
            }
        }
    }
    .simple-card {
        background-color: $white;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
        .card-img-top {
            border-top: 5px solid $blue_bell;
        }
        .card-body {
            h5.card-title{
                color: $lucky_point;
            }
            hr{
                border-top: 1px solid $blue_haze;
            }
            h5.card-data{
                color: $lucky_point;
            }
            .search-link-wrap{
                .btn{
                &.btn-danger{
                    border: 1px solid $danger;
                }
                    &.btn-danger-outline{
                        border: 1px solid $danger;
                    }
                }
            }
        }
    }
   .card{
        &.contact{
            .contact-txt{
                .label-wrap{
                    color: $lucky_point;
                }
                .contact-num{
                    color: $lucky_point;
                }
            }
        }
    }
    .contact-box-wrap{
        .contact-wrap{
            border-top: 5px solid $lavender-grey;
        }
    }
    .ns-card {
        .card-img-top {
            border-top: 1px solid $blue_bell;
            border-right: 1px solid $blue_bell;
            border-left: 1px solid $blue_bell;
        }
        .card-body {
            h5.card-title{
                color: $white;
                background-color: $blue_bell;
            }
            p.card-text{
                color: $white;
                background-color: $lavender-grey;
            }
        }
    }
//  card component end

.hero-slider{

    .prev-arrow,.next-arrow{
        color: #fff;
    }

    .prev-arrow{
      background-color:  rgba($white,0.5);
    }
    .next-arrow{
      background-color:  rgba($white,0.5);
    }
    .slide-arrow{
      .iconmoon {
          color: $blue_bell;
      }
    }
}
.hero-header{


    .mark-danger{
            background-color: $danger;
            color: $white;
        }
        label{
            color : $scarpa_flow;
        }

    &.hero-header-sm{

        .hero-title{
            h3{
                color : $lucky_point;
            }
            p{
                color : $lucky_point;
            }
            h2{
                color : $lucky_point;
            }
            h4{
               color : $lucky_point;
            }
        }

    }
    &.hero-header-md{
         .hero-title{
            h2{
                color : $lucky_point;
            }
            p{
                 color : $lucky_point;
            }
        }
    }
}
.card-slider{
    .prev-arrow,.next-arrow{
        background-color:  rgba($blue_haze, 0.3);
        color: $blue_bell;
    }
}
.simple-card-slider{
    .prev-arrow,.next-arrow{
        background-color:  rgba($blue_haze, 0.3);
        color: $blue_haze_1;
    }
}
.hero-banner-md{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
// carousel component end
    .checkbox-group label:before {
        border: 1px solid $athens_gray;
    }
    .checkbox-group input:checked + label:after {
        border: solid $kimberly;
    }
    .checkbox-flex label {
        color : $gun_powder;
    }
    .checkbox-flex label:before {
        background-color: $white;
        border: 1px solid $athens_gray;
    }
    .checkbox-flex input:checked + label:after {
        border: solid $danger;
        border-width: 0 3px 3px 0;
    }
    .checkbox-flex{
        &.checkbox-flex-body{
            border-top: 1px solid $white;
            background-color: #f1f5f6;
        }
        .value{
            color : $danger;
        }
        .val-note{
            .note{
                color : $white;
                background-color: $blue_bell;
                border: 1px solid $white;
            }
        }
    }
    // check box component end
    .checkbox-panel{
        background-color: $snuff;
        border-top: 5px solid $lavender-grey;
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            color: $gun_powder;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            border: 1px solid $blue_haze_1;
            background: $white;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            background: $danger;
        }
    }
    // checkbox panel
    .content{
        .featured-image{
            border-top: 5px solid $blue_bell;
        }
    }
    .inner-content{
        .content-body{
            h4.highlight{
                color: $lucky_point;
            }
        }
    }
    // content component end
    .counter-up{
        .icon-wrap{
            color: $white;
        }
        span{
            color: $white;
        }
        .caption{
            color: $white;
            h4{
                color: $lavender-grey;
            }
        }
    }
    // counterup component end
    .thumbnail-bordered{
      border-top: 5px solid $blue_bell;
      border-bottom: 1px solid $white;
        .fig-overlay{
            color : $lucky_point;
        }
    }
    // figure component end
    .form-panel{
        background: $blue_haze;
        border-top: 5px solid $lucky_point;
        .form-group{
            .form-control{
                &::placeholder{
                    color: $gun_powder !important;
                }
            }
        }
    }
    .form-panel {
        background: $light-border;
    }
    .form-section{
        &.left-fill{
            &:before{
                background-color: $blue-chalk;
            }
        }
    }
    // form panel component end
    .grid-lay-out{
        .grid-img-sm,.grid-img-md,.grid-img-xxs,.grid-img-xs{
            border-bottom: 2px solid $white;
            &:before{
                background-color: rgba($black, 0.1);
            }
        }
        .grid-img-xxs,.grid-img-xs{
            &:nth-child(odd){
                border-right: 2px solid $white;
            }
        }
        .grid-img-sm,.grid-img-md{
            .grid-bg{
                background-color: rgba($black,1);
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                &:before{
                    background-color: rgba($black,1.1);
                }
            }
        }
        .grid-img-xs,.grid-img-xxs{
            .grid-bg{
                background-color: rgba($black,1);
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                &:before{
                    background-color: rgba($black,1.1);
                }
            }
        }
    }
    // grid component end
    .icon-head-desc{
        .icon-wrap{
            color: $lucky_point;
        }
        p{
            color : $gun_powder;
        }
    }
    // icon head desc component end
    .thumbnail-icons{
        color: $lucky_point;
        &.bordered{
            border: 1px solid $athens_gray;
        }
        &.active{
            background-color: $blue_bell;
            color: $white;
        }
    }
    .social-icons{
        a{
            background-color: #f1f5f6;
            color: $scarpa-flow;
            &:hover{
                color: $danger;
            }
        }
    }
    .list-outline{
        a{
            background-color: $lucky_point;
            border: 1px solid $blue_bell;
            color: $white;
            &:hover{
                background-color: $danger;
            }
        }
    }
    .share-icons{
        border: 1px solid $athens_gray;
        background-color: $white;
        a{
            color: $black;
        }
    }
    .share-icons-trigger{
        &.active{
            background-color: $white;
            color: $black;
        }
    }
    .icon-wrap{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    // icons component end
    ul.thumbnail-wrap{
        background-color: $white;
        li{
            // border: solid $athens_gray;
            a{
                color : $lucky_point;
            }
        }
    }
    ul.login-button{
        background-color: #f1f5f6;
        li{
            border: solid $athens_gray;
            border-width: 1px;
            & +  li {
                    border-width: 1px 1px 1px 0;
                }
            a{
                color : $gun_powder;
                &.active{
                    color: $lucky_point;
                }
            }
        }
    }
    ul.mobile-login-button{
        background-color: #f1f5f6;
        li{
            border: 1px solid $athens_gray;
            & + li{
                border-width: 1px 1px 1px 0;
            }
            a{
                color : $lucky_point;
                &.active{
                    color: $lucky_point;
                }
            }
        }
    }
    .sidebar-link{
        border-top: 5px solid  $blue_bell;
        li{
            color: $white;
            &.active{
                a{
                    background-color: $danger;
                    }
                }
                a{
                    color: $white;
                    background-color: $lucky_point;
            }
            & + li{
                border-top: 1px solid $white;
            }
        }
    }
    // list component end
    .logo-thumbnail{
        background-color: $white;
    }
    .thumbnail-slider{
    .slick-slide{
        margin: 0 15px;
        @media(max-width: 736px){
            margin: 0 8px;
        }
    }
    .slick-list{
        margin: 0 -15px;
    }
    .slide-arrow{
      position: absolute;
      top: 50%;
      margin-top: -16px;
      font-size: 30px;
      @media(max-width: 736px){
          margin-top: -20px;
      }
    }
    .prev-arrow,.next-arrow{
        color: $lucky_point;
    }
}
    // logo thumbnails component end
    .address-map{
        color : $gun_powder;
    }
    .lc-wrap{
        border: 2px solid $white;
    }
    // map component end
    .nav-tab-wrap{
        margin-top: -72px;
        padding: 0;
        @media(max-width: 768px){
            margin-top: 0;
        }
    }
    .nav-tabs{
        .nav-link{
            background-color: $blue_bell;
            border-top: 5px solid transparent;
            &:hover{
                border-top: 5px solid $lucky_point;
            }
            &.active{
                background-color: $blue_haze;
                color: $lucky_point;
                border-top: 5px solid $lucky_point;
            }
        }
    }
    .container{
        &.tab-pane{
            &.active{
                background-color: $blue_haze;
            }
            label{
                color: $gun_powder;
            }
            .form-control,.form-control-md{
                &::placeholder{
                    color: $gun_powder !important;
                }
            }
        }
        .select2-container--default{
            .select2-selection--single{
                .select2-selection__rendered{
                    color: $gun_powder;
                }
            }
        }
    }
        // nav tabs component end
    .ot-data{
        background-color: $lucky_point;
    }
    .ot-output{
        h3{
            color : $white;
        }
    }
    // ot data component end
    nav{
        ul.pagination{
            li{
                &.active{
                    a{
                        &.page-link{
                            color: $white;
                            border-color: $blue_bell;
                            background: $blue_bell;
                        }
                    }
                }
                a{
                    &.page-link{
                        color: $blue_bell;
                    }
                }
            }
        }
    }
    // pagination component end
    .plain-data-block{
        .data-block{
            border-bottom: 1px solid $light-border;
        }
        h4{
            color: $lucky_point;
        }
        .breadcrumb{
            li{
                color: $lucky_point;
            }
            a{
                color: $lucky_point;
            }
        }
    }
    // plain data component end
    .popup-wrap{
        background: $blue_haze;
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
        border-top: 5px solid $blue_bell;
        .close-btn{
            color: $blue_bell;
        }
        .popup-body{
            .affliate-popup-img{
            background: $white;
            }
        }
        .popup-footer{
            border-top: 1px solid $white;
            .contact{
            color: $lucky_point;
            }
        }
    }
    // popup component end
    .sidebar-cols .content-col .content{
        .nav-link{
            .count{
                color: $white;
            }
            h3{
                color: $white;
            }
            &.shade1{
                background:$lucky_point;
                &.active{
                    &:after{
                        border-left-color: $lucky_point;
                        @media(max-width: 1200px){
                        border-left-color: transparent;
                        border-top-color: $lucky_point;
                        }
                    }
                }
            }
            &.shade2{
                background:$lucky_point1;
                &.active{
                    &:after{
                        border-left-color: $lucky_point1;
                        @media(max-width: 1200px){
                            border-left-color: transparent;
                            border-top-color: $lucky_point1;
                        }
                    }
                }
            }
        &.shade3{
            background:$lucky_point2;
            &.active{
                &:after{
                    border-left-color: $lucky_point2;
                        @media(max-width: 1200px){
                            border-left-color: transparent;
                            border-top-color: $lucky_point2;
                        }
                }
            }
            .count{
                color: $white;
            }
        }
            &.active{
                &:after{
                    border-color: rgba(97, 91, 140, 0);
                    border-left-color: #615B8C;
                }
            }
        }
        .tab-pane{
            background: $white;
        }
    }
    // profile switcher component end
    .contrast-switch-btn{
        &:hover{
            [type="radio"]:not(:checked) + label:before,[type="radio"]:checked + label:before{
                border: 2px solid $danger;
            }
            [type="radio"]:checked + label:after{
                background: $danger;
            }
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            color: #666;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            border: 2px solid $blue_bell;
            background: $lucky_point;

        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            background: $blue_bell;
        }
    }
    .contrast-switch{
        &:before{
            background-color: $blue_bell;;
        }

    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        color: $gun_powder;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        border: 1px solid $scarpa_flow;
        background: $snuff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        background: $scarpa_flow;
    }
    // radio component end
    .reCapta{
        background-color: $white;
        border: solid 1px $athens_gray;
    }
    // recapta component end
    .search-wrap{
        .input-group-text {
            background-color: $blue_bell ;
            border: 1px solid transparent;
        }
        .form-control{
            background-color: $blue_bell ;
            border: 1px solid transparent;
            &::placeholder{
                color: $white !important;
            }
        }
    }
    .mobile-search-wrap{
        .input-group-text {
            background-color: $blue_bell ;
            border: 1px solid transparent;
        }
        .form-control{
            background-color: $blue_bell ;
            border: 1px solid transparent;
            height: 55px;
            &::placeholder{
                color: $white !important;
            }
        }
    }
    // search input component end
    .share-wrap{
        .btn-share{
            color: $white;
            color: $white;
            &.btn-facebook{
                background: #5e5e5e;
            }
            &.btn-whatsapp{
                background: #5e5e5e;
            }
            &.btn-more{
                background: $danger;
            }
        }
    }
    // share component end
    .sidebar-cols{
        .title-col{
            &:before{
                background-color: $blue-chalk;
            }
            h2{
                color: $lucky_point;
                border-top: 5px solid $lucky_point;
            }
            h4{
                color: $blue_bell;
            }
            h5{
                color: $danger;
            }
        }
        .content-col{
            .content{
                h3{
                    color: $lucky_point;
                }
                ul{
                    li{
                        &:before{
                            color: $danger;
                        }
                    }
                }
            }
        }
    }
    // sidebar cols end
    .tab-selector-wrap{
        background-color: $blue_bell;
    }
    .tab-selector{
        li{
            border-right: 1px solid $blue_haze;
            &:last-child{
                border-right: 1px solid transparent;
            }
            &:after{
                border-right: 1px solid $blue_haze;
            }
            a{
                color: $white;
            }
        }
    }
    .nav-content-tab{
        .nav-tabs{
            border-bottom: 5px solid $blue_bell;
            &.gun-powder{
                .nav-item{
                    a.nav-link{
                        color: $gun_powder;
                    }
                }
            }
            .nav-item{
            border-left: 1px solid $white;
                a.nav-link{
                        background: $blue_haze;
                        color: $lucky_point;
                    &.active{
                        background: $blue_bell;
                        border-color: $lavender-grey;
                        color: $white;
                    }
                }
            }
        }
        .tab-pane{
                background: transparent;
            &.active{
                background: transparent;
            }
        }
    }
    // tabs component end
    .top-borderd-table{
        border-top: 5px solid $blue_bell;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
        .update-icon{
            color: $gun_powder;
        }
    }
    .table-md-reg{
        th{
            color: $lucky_point;
            a{
                color: $lucky_point;
            }
        }
        td,th{
            border-top: 1px solid $blue_haze_1;
        }
        td{
            color : $gun_powder;
        }
        th{
            color : $lucky_point;
        }
        .no-top-border{
            td,th{border-top: 1px solid transparent;}
        }
    }
    .table-sm-reg{
        tbody{
            border-bottom: 1px solid $blue_haze_1;
        }
        th{
            color: $lucky_point;
        }
        td,th{
            border-top: 1px solid $blue_haze_1;
        }
        td{
            color : $gun_powder;
        }
        th{
            color : $lucky_point;
        }
        .no-top-border{
            td,th{border-top: 1px solid transparent;}
        }
    }
    .table{
        .danger{
            color: $danger;
        }
        .primary{
            color: $lucky_point;
        }
        .success{
            color: $success;
        }
        .warning{
            color: $warning;
        }
    }
    // table component end
    .text-over-img{
        .over-text{
            h2{
                color : $white;
            }
            .desc{
                p{
                    color : $white;
                }
            }
        }
    }
    .text-over-img-overlay{
        &:before{
            background: linear-gradient(0deg,rgba(35, 32, 117,0.7),rgba(35, 32, 117,0.7));
        }
        .over-text{
            .text-btn{
                h2{
                    color : $white;
                }
            }
            .desc{
                p{
                    color : $white;
                }
            }
        }
    }
    .over-count-up{
        .counter-up{
            .counter{
                color : $lucky_point;
            }
            .caption{
                color : $lucky_point;
            }
            span {
                color: $lucky_point;
            }
        }
    }
    .text-over-img-overlay-bordered{
        &:before{
            background: linear-gradient(0deg,rgba(35, 32, 117,0.7),rgba(35, 32, 117,0.7));
        }
        .over-text{
            .text-btn{
                h2{
                    color : $lucky_point;
                }
            }
            .desc{
                p{
                    color : $lucky_point;
                }
            }
        }
    }

    .text-over-img-overlay-bordered{
        border-top:5px solid $blue_bell;
    }
    .overlay-card{
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
        .over-text{
            .text-btn{
                h2{
                    color : $lucky_point;
                }
            }
            .desc{
                p{
                    color : $lucky_point;
                }
            }
        }
        .over-count-up{
            .counter-up{
                .counter{
                    color : $lucky_point;
                }
                .caption{
                    color : $scarpa_flow;
                }
                span {
                    color: $lucky_point;
                }
            }
        }
    }
    // text over image component end
    .thumbnail-caption{
        .sl-num{
            h2{
                color : $white;
            }
        }
        .caption-wrap{
            h5{
                color : $white;
            }
            p{
                color : $white;
            }
        }
        &.color-code-1{
            background-color: $lucky_point;
        }
        &.color-code-2{
            background-color:  $lucky_point1;
        }
        &.color-code-3{
            background-color:  $lucky_point2;
        }
        &.color-code-4{
            background-color:  $lucky_point;
        }
    }
    // thumbnail caption component end
    .tool-tip{
        background: $blue_bell;
        color : $white;
        &:after{
            border-style: solid;
            border-color: $blue_bell transparent transparent transparent;
        }
    }
    // tool tip component end
    .video-wrapper {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        .caption{
            h3{
                color: $white;
            }
            h4{
                color: $white;
            }
        }
    }
    #video-slider{
        .slide-arrow .iconmoon{
            color: $blue_haze_1;
        }
        .prev-arrow,.next-arrow{
            color: $white;
        }
        .prev-arrow{
            background-color:  rgba($white,0.5);
        }
        .next-arrow{
            background-color:  rgba($white,0.5);
        }
    }
    // video slider component end
    .well{
    &.calender{
        background: $grey-bg;
        .well-title{
            background: $blue_bell;
            h3{
                color: $white;
            }
        }
        .well-content{
        color: $lucky_point;
            .info-row{
                border-bottom: 1px solid $white;
                span{
                    color: $lucky_point;
                }
            }
        }
    }
        &.well-simple{
            border-top: 5px solid $blue_bell;
            background: $grey-bg;
            color: $gun_powder;
        }
    }
    // well component end
    .bg-image{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    // bg image component end
    .title{
        color: $lucky_point;
    }
    .title-md{
        h2{
            color: $lucky_point;
        }
    }
    // title component end
    .accordion{
        background: transparent;
        .card{
            background: $blue_haze;
            &.show{
                border-top: 5px solid $lavender-grey;
                border-bottom: 5px solid $white;
            }
        }
        .card-header{
            color: $lucky_point;
            &.collapsed{
                color: $gun_powder;
                .icomoon{
                    color: $danger;
                }
                &:after{
                    color: $blue_bell;
                }
            }
            &:before{
                border-top: 1px solid $lucky_point;
            }
            &:after{
                // border: 1px solid $lucky_point;
            }
        }
        .collapse, .collapsing{
            .collapse-body{
                h5{
                    color : $gun_powder;
                }
                h4{
                    color : $gun_powder;
                }
            }
        }
    }

    .accordion{
        background: transparent;
        &.accordion-checkbox{
            .card{
            background: $blue_haze;
            &.show{
                border-top: 10px solid $white;
                border-bottom: 10px solid $white;
                background: rgba($lavender-grey, .4);
            }
        }
        .card-header{
            background: transparent;
            color: $lucky_point;
            &.collapsed{
                color: $gun_powder;
                .icomoon{
                    color: $danger;
                }
                &:after{
                    color: $lucky_point;
                }
                &.show{
                    border: 1px solid #000;
                }
            }
            &:before{
                border-top: 1px solid $lucky_point;
            }
            &:after{
                // border: 1px solid $blue_bell;
            }
        }
            .collapse, .collapsing{
                .collapse-body{
                    h5{
                        color : $gun_powder;
                    }
                    h4{
                        color : $gun_powder;
                    }
                }
            }
        }
    }
    // accordian component end
    .videoWrapper {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    // video component end
    .card{
        &.partners{
            background: $white;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
            .logo-wrap{
            background: $white;
            }
            .cta-row{
                background: $btn-bg;
                a{
                    color: $gun_powder;
                }
                a.btn{
                    color: $danger;
                    .icomoon{
                        color: $danger;
                    }
                }
                & + .cta-row{
                    a{
                        border-top: 1px solid $white;
                    }
                }
            }
        }
    }
    // card partners component end
    .color-icon{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    .img-icon{
        &.icon-datepicker{
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }
    // icon component end
    .switcher{
        background-color: $snuff;
        .switch .toggle-inside {
            background: $danger;
            border: 6px solid $white;
        }
        .switch--horizontal label {
            color : $lucky_point;
        }
        .switch--horizontal .toggle-outside {
            background: $blue_bell;
        }
        [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
            border: 1px solid transparent;
            background:  transparent;
        }
        [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
            background: transparent;
        }
    }
    // switcher component end
    .iframeWrap{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    img {
        -webkit-filter: grayscale(100%) !important;
        filter: grayscale(100%) !important;
    }
    // fixes 2-12-2019
    .nav-dropdown.active{
	    background-color: transparent;
    }
}
