    .grid-img-layout{
        @media(max-width: 736px){
            padding-top: 40px;
            height: auto;
        }
        .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
            padding: 0;
        }
        .col-md-8{
            @media(max-width: 1200px){
                max-width: 100%;
                flex: 0 0 100%;
            }
        }
        .col-md-4{
            & > .grid-lay-out{
                border-left: 2px solid $white;
                @media(max-width: 736px){
                    border-left: none;
                }
            }
            @media(max-width: 1200px){
                max-width: 100%;
                flex: 0 0 100%;
            }
        }
    }
    .grid-lay-out{
        display: flex;
        flex-wrap: wrap;
        @media(max-width: 736px){
            flex-flow: column;
        }
        .grid-img-sm,.grid-img-md,.grid-img-xxs,.grid-img-xs{
            position: relative;
            height: 602px;
            overflow: hidden;
            border-bottom: 2px solid $white;
            @media(max-width: 736px){
                border-bottom: none;
            }
            &:before{
                background-repeat: repeat;
                background-color: rgba($black, 0.1);
                position: absolute;
                width: 100%;
                height: 100%;
                content: "";
            }
            .search-link-wrap{
                position: absolute;
                bottom: 30px;
                padding: 0 30px;
                width: 100%;
                color: $white;
                @media(max-width: 1200px) and (orientation: landscape){
                    padding: 0 15px;
                }
                h5{
                    max-width: 250px;
                    font-size: 18px;
                    font-family: $open_sanssemibold;
                    font-weight: 600;
                }
                .icomoon{
                    font-size: 20px;
                }

            }
            img{
                object-fit: cover;
                transition: all 0.5s ease-in-out;
                transform-origin: center;
            }
            &:hover{
              img{
                transform: scale(1.1);
              }
            }
        }
        .grid-img-xxs,.grid-img-xs{
            height: 200px;
            width: 100%;
            &:nth-child(odd){
                border-right: 2px solid $white;
                @media(max-width: 736px){
                    border-right: none;
                }

            }
            @media(max-width: 1200px){
                height: 300px;
            }
            @media(max-width: 736px){
                height: 250px;
            }
        }
        .grid-img-sm,.grid-img-md{
            height: 300px;
            width: 100%;
            .grid-bg{
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top left;
                background-color: rgba($black,1);
                @include transition (all, 0.3s, ease-in-out);
                position: relative;
                &:before{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($black,1.1);
                }
            }
            &:hover{
                .grid-bg{
                    transform: scale(1.1);
                }
            }
            &:nth-child(odd){
                border-right: 2px solid $white;
                @media(max-width: 736px){
                    border-right: none;
                }
            }
            @media(max-width: 736px){
                height: 230px;
            }
        }
        .grid-img-sm{
            width: 30%;
            @include transition (all, 0.3s, ease-in-out);
            @media(max-width: 1200px){
                width: 40%;
            }
            @media(max-width: 736px){
                width: 100%;
            }
            img{
               min-width: 500px;
               width: 100%;
               @media(max-width: 736px){
                   min-width: 400px;
               }
            }

        }
        .grid-img-md{
            width: 70%;
            @media(max-width: 1200px){
                width: 60%;
            }
            @media(max-width: 736px){
                width: 100%;
            }
            img{
               min-width: 900px;
               width: 100%;
               @media(max-width: 736px){
                   min-width: 600px;
               }
            }
        }
        .grid-img-xs,.grid-img-xxs{
            .grid-bg{
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 20%;
                background-color: rgba($black,1);
                @include transition (all, 0.3s, ease-in-out);
                position: relative;
                &:before{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($black,1.1);
                }
            }
            &:hover{
                .grid-bg{
                    transform: scale(1.1);
                }
            }
        }
        .grid-img-xxs{
            width: 40%;
            @media(max-width: 736px){
                width: 100%;
            }
            img{
               min-width: 350px;
               @media(max-width: 768px){
                   min-width: 500px;
               }
               @media(max-width: 736px){
                   min-width: 400px;
               }
            }
        }
        .grid-img-xs{
            width: 60%;
            @media(max-width: 736px){
                width: 100%;
            }
            img{
               min-width: 600px;
               @media(max-width: 768px){
                   min-width: 900px;
               }
               @media(max-width: 736px){
                   min-width: 400px;
               }
            }
        }


    }
