.hero-banner-md{
    .hero-banner-inner{
        height: 400px;
        background-size: auto 100%;
        background-position: center center;
        @media(max-width: 1200px){
            // background-size: cover;
            background-position: bottom;
        }
        @media(max-width: 736px){
            height: 300px;
        }
    }
}
.hero-header{
    &.hero-header-inner-sm{
        margin-top: 20px;
        max-width: 372px;
        transform: scale(.9);
        transform-origin: left;
        position: relative;
        left: 60%;
         @media(max-width: 991px){
             margin-top: 50px;
             margin-right: auto;
             position: unset;
             transform: scale(1);
         }
        @media(max-width: 736px){
            margin-top: 26px;
        }
        .hero-title{
            h3{
                font-family : $gotham_Book;
                font-size : 34px;
                color : $lucky_point;
                line-height: 34px;
            }
            p{
                font-family : $gotham_Book;
                font-size : 16px;
                color : $lucky_point;
                line-height: 18px;
                padding-top: 10px;
                margin-bottom: 0;
            }
            h1{
                font-family: $open_sanssemibold;
                font-weight: 600;
                color : $lucky_point;
                font-size : 30px;
                    line-height: 26px;
                    padding-top: 20px;
            }
            h4{
                font-family : $gotham_Book;
                font-size : 28px;
               color : $lucky_point;
               line-height: 22px;
               padding-top: 10px;
            }
        }

    }
    &.hero-header-inner-md{
        margin-top: 100px;
        max-width: 620px;
        position: relative;
        left: 50%;
        @media(max-width: 1400px){
            max-width: 520px;
        }
        @media(max-width: 1200px){
            margin-top: 60px;
            max-width: 400px;
        }
        @media(max-width: 991px){
            margin-top: 26px;
            left: 0;
            margin-right: auto;
        }
         .hero-title{
            // max-width: 500px;
            h1{
                color: $lucky_point;
                font-family: $open_sansbold;
                font-weight: 700;
                font-size : 48px;
                line-height: 52px;
                @media(max-width: 1200px){
                    font-size: 40px;
                    line-height: 44px;
                }
                @media(max-width: 991px){
                    margin-top: 40px;
                    margin-bottom: 15px;
                    font-size: 35px;
                }
            }
            p{
                padding-top: 18px;
                padding-bottom: 25px;
                margin-bottom: 0;
                font-family : $gotham_Book;
                font-size : 18px;
                line-height: 24px;
                 color : $lucky_point;
                max-width: 600px;
                 @media(max-width: 991px){
                    font-size : 16px;
                    line-height: 20px;
                }
            }
        }
        .btn-wrap{
            margin-top: 0;
            display: flex;
            // justify-content: space-between;
            @media(max-width:991px){
                margin-top: 18px;
            }
        }
    }
}


@media(max-width: 991px) {
    .hero-banner-md{
        display: none;
    }
    .hero-banner-sm{
        display: block;
    }
}
