.icon-head-desc{
    display: flex;
    flex-wrap: wrap;
    .icon-wrap{
        color: $lucky_point;
        font-size: 54px;
        padding-right: 25px;
        width: 25%;
        @media(max-width: 991px){
            width: 10%;
        }
        @media(max-width: 736px){
            width: 100%;
        }
    }
    .head-desc{
        width: 75%;
        @media(max-width: 991px){
            width: 90%;
        }
    }
    p{
        font-family : $open_sansregular;
        font-weight: 400;
        font-size : 16px;
        color : $gun_powder;
        line-height: 28px;
        margin-top: 5px;
        margin-bottom: 0;;
    }
    & + .icon-head-desc{
        padding-top: 50px;
         @media(max-width: 991px){
            padding-top: 28px;
        }
    }
}
