
.thumbnail-icons{
    display: flex;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $lucky_point;
    font-size: 25px;
    padding: 8px;
    &.space{
        margin-left: 15px;
        @media(max-width: 768px){
            margin-left: 8px;
        }
    }
    &.bordered{
        border: 1px solid $athens_gray;
    }
    &.active{
        background-color: $blue_bell;
        color: $white;
    }
    span{
        display: block;
        // width: 45px;
    }
}
.social-icons{
    a{
        display: flex;
        width: 50px;
        height: 50px;
        background-color: $mischka;
        align-items: center;
        justify-content: center;
        margin-left: 2px;
        border-radius: 3px;
        color: $scarpa-flow;
        font-size: 22px;
        text-decoration: none;
        &:hover{
          color: $white;
          background-color: $danger;
        }
        @media(max-width: 991px){
            width: 40px;
            height: 40px;
        }
        @media(max-width: 736px){
            width: 50px;
            height: 50px;
        }
        @media(max-width: 320px){
            width: 40px;
            height: 40px;
        }
    }
}
.accessibility{
    .list-outline{
        li{
            margin-right: 0;
            & + li{
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
.list-outline{
    a{
        display: flex;
        width: 50px;
        height: 40px;
        background-color: $astral;
        border: 1px solid $anakiwa;
        align-items: center;
        justify-content: center;
        margin-left: 2px;
        border-radius: 3px;
        color: $white;
        font-size: 16px;
        font-family:$open_sansregular !important;
        font-weight: 400;
        &:hover{
            @include transition (all, 0.3s, ease-in-out);
            background-color: $danger !important;
        }
        @media(max-width: 1200px){
            width: 40px;
            height: 30px;
        }
        @media(max-width: 991px){
            width: 50px;
            height: 40px;
        }
    }
}
.share-icons-parent{
    position: relative;
}
.share-icons{
    position: absolute;
    border: 1px solid $athens_gray;
    right: 37px;
    top: -14px;
    background-color: $white;
    height: 58px;
    padding: 15px;
    display: flex;
    align-items: center;

    li{
        & + li{
            margin-left: 15px;
        }
    }
    a{
        display: flex;
        width: 28px;
        height: 28px;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        font-size: 25px;
        color: $black;
    }
}
.share-icons-parent{
  li{
      height: 30px;
    }
}
.share-icons-trigger{
  .share-icons{
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
  &.active{
      height: 58px;
      width: 58px;
      background-color: $white;
      color: $black;
      display: flex;
      .share-icons{
        visibility: visible;
        opacity: 1;
      }
  }
}
