
.info-box-slider{
    .slide-arrow{
      position: absolute;
      top: 52%;
      margin-top: -12px;
      font-size: 20px;
      @media(max-width: 1200px){
        font-size: 24px;
      }
    }
    .prev-arrow,.next-arrow{
        border: none;
        border-radius: 0;
        outline: none;
        background-color:  $blue_bell;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0;
        color: $white;
        width: 35px;
        height: 35px;
        z-index: 1;
        top: 100px;
        opacity: 0;
        visibility: hidden;
        font-size: 16px;
        text-align: center;
        transition: 0.3s all ease-in-out;
        @media(max-width: 1200px){
            width: 45px;
            height: 45px;
        }
    }
    &:hover{
      .prev-arrow,.next-arrow{
        opacity: 1;
        visibility: visible;
      }
    }
    .prev-arrow{
      left: 0px;
      /*
      @media(max-width: 1400px){
          left: -65px;
      }
      @media(max-width: 1200px){
          left: -30px;
      }
      */
    }
    .next-arrow{
      right: 0px;
      /*
      @media(max-width: 1400px){
          right: -65px;
      }
      @media(max-width: 1200px){
          right: -30px;
      }
      */
    }
}

