//list styles go here
ul.thumbnail-wrap{
    display: flex;
    background-color: $athens_gray_1;
    &.space{
        margin-left: 30px;
    }
    li{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: solid $athens_gray;
        border-width: 1px;
        height: 45px;
        width: 115px;
        @media(max-width: 768px){
            width: 100px;
        }
        a{
            font-family : $gotham_medium;
            font-size : 15px;
            color : $lucky_point;
            font-weight: 600;
        }
        & + li{
            border-width: 1px 1px 1px 0;
        }
    }
}
ul.login-button{
    display: flex;
    background-color: $athens_gray_1;
    &.space{
        margin-left: 30px;
    }
    li{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: solid $athens_gray;
        border-width: 1px;
        // width: 115px;

        @media(max-width: 768px){
            width: 100px;
        }
        & + li{
            border-width: 1px 1px 1px 0;
        }
        a{
            padding: 16px 20px;
            font-size : 16px;
            color : $gun_powder;
            font-family: $open_sansregular;
            font-weight: 400;
            line-height: 14px;
            &.active{
                color: $lucky_point;
            }
        }
    }
}

ul.mobile-login-button{
    display: flex;
    background-color: $athens_gray_1;
    &.space{
        margin-left: 30px;
    }
    li{
        border: 1px solid $athens_gray;
        & + li{
            border-width: 1px 1px 1px 0;
        }
        a{
            height: 35px;
            padding: 0 10px;
            font-size : 14px;
            line-height: 16px;
            color : $lucky_point;
            font-family: $open_sansregular;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: space-around;
            &.active{
                color: $lucky_point;
            }
        }
    }
}

ul.arrow-points{
    margin-top: 15px;
    li{
        padding-left: 35px;
        position: relative;
        margin-bottom: 10px;
        &:before{
            font-size: 18px;
            position: absolute;
            font-family: "icomoon";
            color: $danger;
            content: "\e911";
            display: block;
            left: 0px;
            top: 0px;
        }
        ul{
            margin-top: 10px;
        }
    }
    li.haveChild{
        position: unset;
        &:before{
            position: unset;
        }
    }
}

.sidebar-link{
  border-top: 5px solid  $blue_bell;
  @media(max-width: 991px){
    border-top: 0px;
  }
  li{
    display: inline-block;
    width: 100%;
    color: $white;
    //padding-left: 50px;
    &.active{
         a{
            font-family: $open_sanssemibold;
            font-weight: 600;
            background-color: $danger;
            padding-left: 15px;
                &:before{
                    right: 15px;
                    left: auto;
                }
            }
        }
        a{
            display: inline-block;
            width: 100%;
            color: $white;
            font-size: 16px;
            position: relative;
            padding: 12px 15px;
            padding-left: 50px;
            background-color: $lucky_point;
            @media(max-width: 768px){
                font-size: 15px;
            }
      &:before{
          font-family: 'icomoon' !important;
          position: absolute;
          content: "\e911";
          font-size: 22px;
          left: 15px;
          line-height: 22px;
      }
    }
    & + li{
      border-top: 1px solid $white;
    }
  }
}

.sidebar-cols .content-col .content{
  .no-margin{
    ul{
      margin-top: 0px;
    }
  }
}
ol.list-table{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    @media(max-width: 736px){
        flex-flow: column;
    }
    li{
        border-top: 1px solid $blue_bell;
        border-right: 1px solid $blue_bell;
        border-bottom: 1px solid $blue_bell;
        padding: 15px;
        @media(max-width: 736px){
            border-top: none;
            border-left: 1px solid $blue_bell;
        }
        &:first-child{
            border-left: 1px solid $blue_bell;
            @media(max-width: 736px){
            border-top:  1px solid $blue_bell;
        }
        }
        img{
            max-width: 100%;
            margin: auto;
            display: block;
        }

    }
}
ol.note-list{
    font-family: $open_sansregular;
    font-weight: 400;
    font-size: 16px;
    color: $white;
    margin-bottom: 20px;
    padding-left: 20px;
    li{
        & + li{
            margin-top: 8px;
        }
    }
}
