.logo-thumbnail{
    background-color: $white;
    padding: 20px;
    height: 90px;
    // max-width: 210px;
    @media(max-width: 991px){
        height: 60px;
        padding: 10px;
    }
    @media(max-width: 736px){
        height: 70px;
    }
}
