.address-map{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media(max-width: 736px){
        flex-flow: column;
    }
    .address-cta{
        display: flex;
        justify-content: space-between;
        flex-flow: column;
            .btn{
            max-width: 220px;
            @media(max-width:1200px){
                margin-top: 15px;
            }
            @media(max-width:736px){
                margin-top: 0;
                margin-bottom: 15px;
            }
        }
    }
    address, address a{
        font-family : $open_sansregular;
        font-weight: 400;
        font-size : 18px;
        color : $gun_powder;
        @media(max-width:1200px){
            width: 40%;
        }
         @media(max-width:1200px){
            width: 100%;
        }
        @media(max-width:991px){
            margin-bottom: 30px;
        }

    }
    .lc-wrap{
        border: 2px solid $white;
        overflow: hidden;
        @media(max-width:1200px){
            width: 60%;
        }
         @media(max-width: 736px){
            width: 100%;
        }
        iframe{
            width: 660px;
            height: 315px;
            @media(max-width:1200px){
                width: 100%;
            }
            @media(max-width: 736px){
                height: 180px;
            }
        }
    }
}
