.nav-tab-wrap{
    margin-top: -72px;
    padding: 0;
    @media(max-width: 768px){
        margin-top: 0;
    }
}
.nav-tabs{
    border-bottom: 1px solid transparent;
    width: 100%;
    justify-content: space-between;
    .nav-item{
        width: 33.33%;
    }
    .nav-link{
        background-color: $blue_bell;
        color: $white;
        font-size: 22px;
        border: none;
        border-radius: 0;
        border-top: 5px solid transparent;
        text-align: center;
        font-family: $open_sanssemibold;
        font-weight: 600;
        padding: 18px 8px 25px;
        line-height: 24px;
        @media(max-width: 768px){
            font-size: 18px;
            line-height: 18px;
        }
        &:hover{
            border-top: 5px solid $lucky_point;
        }
        &.active{
            background-color: $blue_haze;
            color: $lucky_point;
            border-top: 5px solid $lucky_point;
        }
    }
}
.container{
    &.tab-pane{
        padding: 54px 60px;
        @media(max-width: 991px){
            padding: 25px 15px;
        }
        &.active{
            background-color: $blue_haze;
        }
        label{
            display: block;
            font-family: $open_sanssemibold;
            font-weight: 600;
            color: $gun_powder;
            width: auto;
        }
        .form-control,.form-control-md{
            &::placeholder{
                color: $gun_powder !important;
                font-family: $open_sanssemibold;
                font-weight: 600;
            }
            &:focus{
                outline: 0px !important;
                box-shadow: none !important;
            }
        }
        // button.btn{
        //     &.btn-danger{
        //         height: 60px;
        //         line-height: 16px;
        //         padding: 20px 40px;
        //     }
        // }
        .search-wrap{
            padding-top: 25px;
            max-width: 380px;
            justify-content: space-between;
            align-items: center;
            @media(max-width: 991px){
                padding-top: 0;
            }
            @media(max-width: 736px){
                display: block;
            }
            .search-btn-wrap{
                // padding-top: 15px;
                a{
                    display: block;
                    // line-height: 55px;
                    @media(max-width: 736px){
                        text-align: left;
                        padding-top: 8px;
                    }
                }
            }
        }
        .row{
            @media(max-width: 768px){
                // flex-flow: column;
                display: block;
            }
            .col-md-8{
                @media(max-width: 1200px){
                    max-width: 100%;
                    flex: 0 0 100%;
                }
                .col-md-6{
                     @media(max-width: 991px){
                        max-width: 100%;
                        flex: 0 0 100%;
                    }
                }
            }
            .col-md-8 + .col-md-4{
                @media(max-width: 991px){
                    max-width: 100%;
                    flex: 0 0 100%;
                }
            }
            .col-md-6{
                @media(max-width: 768px){
                    max-width: 100%;
                }
            }
            .col-md-8{
                @media(max-width: 768px){
                    max-width: 100%;
                }
            }
            .col-md-4{
                @media(max-width: 1200px){
                    max-width: 50%;
                    flex: 0 0 50%;
                }
                @media(max-width: 768px){
                    max-width: 100%;
                }
            }
            .pull-bottom{
                position: unset;
                padding-top: 18px;
                .form-flex{
                    max-width: 330px;
                }
                @media(max-width: 768px){
                    padding-top: 0;
                    margin-bottom: 15px;
                }
            }
            &.space{
                padding-top: 32px;
                @media(max-width: 991px){
                    padding-top: 15px;
                }
            }
        }
        .select2-container--default{
            .select2-selection--single{
                .select2-selection__rendered{
                    color: $gun_powder;
                    font-family : $open_sanssemibold;
                    font-weight: 600;
                    font-size : 18px;
                    line-height: 60px;
                    @media(max-width: 991px){
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
