.ot-data{
    padding: 40px 20px;
    background-color: $lucky_point;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 736px){
       padding:    20px;
    }
    & + .top-space-md{
        @media (max-width: 991px){
            padding-top: 30px;
        }
    }
    & + .btn-wrap{
        display: flex;
        justify-content: space-between;
        // @media(max-width: 736px){
        //     flex-flow: column;
        // }
    }
}
.ot-output{
    h3{
    font-family : $open_sansregular;
    font-weight: 400;
    font-size : 32px;
    color : $white;
    line-height: 32px;
     @media(max-width: 736px){
        font-size : 26px;
    }
    strong{
        font-family : $open_sansbold;
        font-weight: 700;
     }
    }
}
