nav{
  ul.pagination{
    margin-top: 40px;
    display: flex;
    &.align-right{
      justify-content: flex-end;
    }
    li{
      margin: 0px;
      padding: 0px !important;
      &.active{
        a{
          &.page-link{
            color: white;
            border-color: $blue_bell;
            background: $blue_bell;
          }
        }
      }
      a{
        border-radius: 0px !important;
        &.page-link{
          padding: 4px;
          height: 30px;
          width: 30px;
          text-align: center;
          color: $blue_bell;
          &:focus{
            box-shadow: none;
          }
        }
      }
      & + li{
        margin-left: 5px;
      }
      &:before{
        display: none !important;
      }
    }
  }
}

.sidebar-cols .content-col .content ul{
  &.pagination{
    margin-top: 60px;
    @media(max-width: 991px){
      margin-top: 30px;
    }
  }
}
// .page-link:focus{
//   box-shadow: none;
// }