.plain-data-block{
    .data-block{
        border-bottom: 1px solid $light-border;
        padding-bottom: 40px;
        margin-top: 46px;
        @media(max-width: 991px){
            margin-top: 0;
            padding-bottom: 30px;
        }
        & + .data-block{
            margin-top: 32px;
            @media(max-width: 991px){
                margin-top: 22px;
            }
        }
    }
    h4{
        font-size: 21px;
        line-height: 29px;
        color: $lucky_point;
        font-family: $open_sanssemibold;
        font-weight: 600;
    }
    .breadcrumb{
        font-size: 16px;
        line-height: 24px;
        margin: 20px 0;
        li{
            color: $lucky_point;
        }
        a{
            color: $lucky_point;
            font-family: $open_sansregular;
            font-weight: 400;
        }
    }
}
