.popup-wrap{
  //display: none;
  background: $blue_haze;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
  border-top: 5px solid $blue_bell;
  width: 420px;
  height: 520px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-top: -250px;
  margin-left: -210px;
  .close-btn{
    font-size: 28px;
    color: $blue_bell;
    position: absolute;
    right: 8px;
    top: 5px;
    .icon-add-thin{
      transform: rotate(45deg);
      display: inline-block;
    }
  }
  .popup-body{
    padding: 40px;
    padding-bottom: 20px;
    .affliate-popup-img{
      min-height: 180px;
      background: $white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    .affliate-offers{
      margin-top: 30px;
    }
  }
  .popup-footer{
    padding: 40px;
    padding-top: 0px;
    border-top: 1px solid $white;
    padding: 20px 40px;
    .contact{
      font-size: 16px;
      line-height: 24px;
      font-family: $open_sanssemibold;
      font-weight: 600;
      display: flex;
      justify-content: left;
      align-items: center;
      color: $lucky_point;
      .img-icon{
        margin-right: 15px;
        margin-left: -5px;
      }
    }
  }
  &.affliate-popup-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}