.sidebar-cols .content-col .content{
  .profile-switcher{
    .nav{
      width: 200px;
      padding-top: 30px;
      @media(max-width: 1200px){
        display: flex;
        flex-flow: row !important;
        width: 100%;
        flex-wrap: nowrap;
        .nav-link{
          width: 100%;
        }
      }
      @media(max-width: 600px){
        max-width: 100%;
        overflow: scroll;
        padding-bottom: 28px;
        overflow-y: hidden;
      }
    }
    .nav-link{
      width: 100%;
      height: 170px;
      padding: 20px;
      border-radius: 0px;
      position: relative;
      @media(max-width: 600px){
        padding: 15px;
        min-width: 180px;
        height: 140px;
      }
      .count{
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-family: $open_sansregular;
        font-weight: 400;
        font-size: 32px;
        color: $kimberly;
        letter-spacing: 0;
        line-height: 38px;
        @media(max-width: 600px){
          font-size: 26px;
          line-height: 30px;
          bottom: 15px;
          left: 15px;
        }
      }
      h3{
        font-family: $open_sansbold;
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 24px;
        @media(max-width: 600px){
          font-size: 15px;
        }
      }
      &.shade1{
        background:$lucky_point;
        &.active{
          &:after{
            border-left-color: #232075;
            @media(max-width: 1200px){
              border-left-color: transparent;
              border-top-color: #232075;
            }
          }
        }
      }
      &.shade2{
        background:$lucky_point1;
        &.active{
          &:after{
            border-left-color: #3D3971;
            @media(max-width: 1200px){
              border-left-color: transparent;
              border-top-color: #3D3971;
            }
          }
        }
      }
      &.shade3{
        background:$lucky_point2;
        &.active{
          &:after{
            border-left-color: #615B8C;
            @media(max-width: 1200px){
              border-left-color: transparent;
              border-top-color: #615B8C;
            }
          }
        }
        .count{
          color: #8884A9;
        }
      }
      &.active{
        &:after{
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(97, 91, 140, 0);
          border-left-color: #615B8C;
          border-width: 20px;
          margin-top: -20px;
          z-index: 999;
          @media(max-width: 1200px){
            top: 100%;
            left: 50%;
            margin-left: -20px;
            margin-top: 0px;
          }
        }
      }
    }
    .tab-pane{
      background: $light-border;
      .featured-image{
        margin: 0px;
        border-top: transparent;
        img{
          max-width: 100%;
          width: 100%;
        }
      }
      .tab-content{
        display: flex;
        flex-flow: columns;
        padding: 30px;
        @media(max-width: 600px){
          padding: 15px;
        }
        ul{
          margin: 0px;
          li:before{
            color: $gun_powder;
          }
        }
      }
    }
  }
}

@media(max-width: 1200px){
  .profile-switcher{
    .row{
      .col-3, .col-9{
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}

@media(max-width: 1200px){
  .sidebar-cols .content-col .content {
    .profile-switcher .nav{
      padding-top: 0px;
    }
  }
  .profile-switcher.top-space-xs{
    padding-top: 0px;
  }
}
