
// [type="radio"]:checked,
// [type="radio"]:not(:checked) {
//     position: absolute;
//     left: -9999px;
// }
// [type="radio"]:checked + label,
// [type="radio"]:not(:checked) + label
// {
//     position: relative;
//     padding-left: 28px;
//     cursor: pointer;
//     line-height: 20px;
//     display: inline-block;
//     color: #666;
// }
// [type="radio"]:checked + label:before,
// [type="radio"]:not(:checked) + label:before {
//     content: '';
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 24px;
//     height: 24px;
//     border: 1px solid #ddd;
//     border-radius: 100%;
//     background: #fff;
// }
// [type="radio"]:checked + label:after,
// [type="radio"]:not(:checked) + label:after {
//     content: '';
//     width: 14px;
//     height: 14px;
//     background: $blue_haze;
//     position: absolute;
//     top: 5px;
//     left: 5px;
//     border-radius: 100%;
//     -webkit-transition: all 0.2s ease;
//     transition: all 0.2s ease;
// }
// [type="radio"]:not(:checked) + label:after {
//     opacity: 0;
//     -webkit-transform: scale(0);
//     transform: scale(0);
// }
// [type="radio"]:checked + label:after {
//     opacity: 1;
//     -webkit-transform: scale(1);
//     transform: scale(1);
// }

///////////////////////////////////////////////
.contrast-switch-btn{
    display: block;
    height: 65px;
    &:hover{
        [type="radio"]:not(:checked) + label:before,[type="radio"]:checked + label:before{
            @include transition (all, 0.3s, ease-in-out);
            border: 2px solid $danger;
        }
        [type="radio"]:checked + label:after{
            @include transition (all, 0.3s, ease-in-out);
            background: $danger;
         }
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: block;
        color: #666;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        border: 2px solid $anakiwa;
        border-radius: 100%;
        background: $astral;

    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 36px;
        height: 36px;
        background: $anakiwa;
        position: absolute;
        top: 7px;
        left: 7px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.accessibility{
    .contrast-switch{
        li{
            & + li{
                margin-left: 25px;
                margin-right: 0;
            }
        }
    }
}
    .contrast-switch{
        justify-content: space-between;
        position: relative;
        li{
            a{
                width: 50px;
                text-align: center;
                display: block;
                font-family: $open_sansregular;
                font-weight: 400;
            }
        }
        // width: 50px;

        &:before{
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            top: 25px;
            background-color: $anakiwa;
        }

    }

//////////////////////
// .radio-btn-right{

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    line-height: 24px;
    display: inline-block;
    color: $gun_powder;
    margin-bottom: 0;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid $scarpa_flow;
    border-radius: 100%;
    background: #9597ab;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $scarpa_flow;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
// }

