.reCapta{
    width: 100%;
    height: auto;
    background-color: $white;
    border: solid 1px $athens_gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../../contents/robot.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 6px;
    @media(max-width: 991px){
        width: 324px;
    }
     @media(max-width: 736px){
        width: 100%;
        background-color: unset;
        padding: 0;
        border: none;
    }
     @media(max-width: 320){
        height: 80px;
    }
}

