.search-wrap-input{
    position: absolute;
    right: 0;
    width: 540px;
    opacity: 0;
    visibility: hidden;
    @media(max-width:991px){
        display: none;
    }
    &.active{
       opacity: 1;
        visibility: visible;
    }
    .input-group-text {
        display: flex;
        align-items: center;
        padding: 15px;
        margin-bottom: 0;
        text-align: center;
        white-space: nowrap;
        background-color: $blue_bell ;
        border: 1px solid transparent;
        border-radius: 0;
        height: 70px;
        color: $white;
        font-size: 25px;
    }
    .form-control{
        background-color: $blue_bell ;
        border: 1px solid transparent;
        height: 70px;
        color: $white;
        &::placeholder{
            color: $white !important;
        }
    }
}
// for mobile
.mobile-search-wrap{
    position: unset;
    right: 0;
    left: 0;
    top: 0;
    width: 80%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    @media(min-width:992px){
        display: none;
    }
    &.active{
       opacity: 1;
        visibility: visible;
    }
    .input-group-text {
        display: flex;
        align-items: center;
        padding: 15px;
        margin-bottom: 0;
        text-align: center;
        white-space: nowrap;
        background-color: $blue_bell ;
        border: 1px solid transparent;
        border-radius: 0;
        height: 55px;
        color: $white;
    }
    .form-control{
        background-color: $blue_bell ;
        border: 1px solid transparent;
        height: 55px;
        color: $white;
        &::placeholder{
            color: $white !important;
        }
    }
}
.mobile-search-form{
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}