.share-wrap{
  display: flex;
  padding: 100px 0px 0px;
  @media(max-width: 1200px){
    padding: 60px 0px 0px;
  }
  @media(max-width: 736px){
    flex-flow: column;
    padding: 40px 0px 0px;
  }
  .btn-share{
    color: white;
    font-family: $open_sansregular;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    .icomoon{
      font-size: 22px;
      margin-right: 15px;
    }
    &.btn-facebook, &.btn-whatsapp{
      min-width: 270px;
      @media(max-width: 1200px){
          min-width: 230px;
      }
    //   @media(max-width: 768px){
    //     min-width: 100%;
    //   }
    }
    &.btn-facebook{
      background: #0054A5;
      margin-right: 30px;
      @media(max-width: 1200px){
          margin-right: 5px;
      }
      @media(max-width: 768px){
          margin-right: 0;
          margin-bottom: 5px;
      }
    }
    &.btn-whatsapp{
      background: #62D363;
      @media(max-width: 991px){
          margin-left: 15px;
      }
      @media(max-width: 736px){
          margin-left: 0;
      }
    }
    &.btn-more{
      margin-left: auto;
      background: $danger;
      width: 50px;
      padding: 0px;
      margin-right: 0;
      @media(max-width: 1200px){
        padding: 15px;
      }
      @media(max-width: 736px){
          margin: 15px auto;
      }
      .icomoon{
        margin: 0px;
      }
    }
  }
}
