.sidebar-cols{
  min-height: 100px;
  display: flex;
  padding-top: 100px;
  // margin-top: 100px;
  justify-content: space-between;
  @media(max-width: 1200px){
    padding-top: 60px;
    position: relative;
    & + .sidebar-cols{
      z-index: 1;
    }
  }
  @media(max-width: 991px){
    width: 100%;
    padding: 0px;
    flex-flow: column;
    margin-top: 50px;
  }
  &:last-child{
    .content-col{
      margin-bottom: 100px;
      @media(max-width: 1200px){
          margin-bottom: 60px;
      }
      @media(max-width: 768px){
          margin-bottom: 50px;
      }
    }
  }
  .title-col{
    width: 350px;
    padding-right: 50px;
    position: relative;
    @media(max-width: 991px){
      width: 100%;
      padding: 0px 0px 0px 0px;
    }
    &.title-col-sm{
        &:before{
            top: -100px;
            @media(max-width: 1200px){
                top: -60px;
            }
        }
    }
    &:before{
      content: "";
      display: block;
      position: absolute;
      width: 1000px;
      right: 0px;
      top: -170px;
      bottom: 0px;
      background-color: $blue-chalk;
      z-index: 0;
      @media(max-width: 1200px){
        top: -98px;
      }
      @media(max-width: 991px){
        display: none;
      }
    }
    h2, h3, h4, h5, img{
      position: relative;
      z-index: 2;
    }
    h2{
      font-size: 36px;
      color: $lucky_point;
      font-family: $open_sansregular;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 42px;

      border-top: 5px solid $lucky_point;
      padding-top: 26px;
      @media(max-width: 1200px){
          font-size: 30px;
      }
      @media(max-width: 736px){
          font-size: 24px;
          margin-bottom: 0px;
          line-height: 26px;
      }
      & + img{
        margin-top: 30px;
      }
    }
    h4{
      font-family: $open_sansregular;
      font-weight: 400;
      font-size: 21px;
      color: $blue_bell;
      letter-spacing: 0;
      line-height: 30px;
      margin-top: 30px;
      @media(max-width: 736px){
        font-size: 17px;
        line-height: 20px;
        margin-top: 15px;
      }
    }
    h5{
      font-family: $open_sansregular;
      font-weight: 400;
      font-size: 21px;
      color: $danger;
      letter-spacing: 0;
      line-height: 30px;
      margin-top: 30px;
      @media(max-width: 736px){
          font-size: 17px;
          line-height: 22px;
          margin-top: 15px;
      }
    }
    img{
      width: 100%;
    }
  }
  .content-col{
    width: 770px;
    @media(max-width: 1200px){
        width: 550px;
    }
    @media(max-width: 991px){
      width: 100%;
      padding: 0px;
      //margin-top: 30px;
      //margin-bottom: 30px;
    }
    .content{
      @media(max-width: 736px){
        // padding-top: 20px;
      }
      &.plain-content{
          h3{
              margin-bottom: 50px;
              @media(max-width: 736px){
                  margin-bottom: 20px;
              }
          }
          p{
            margin-bottom: 30px;
            &:last-child{
            margin-bottom: 0px;
            }
        }
      }
      p{
        margin-top: -6px;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0px;
        }
      }
      h3{
        font-size: 32px;
        line-height: 38px;
        margin-top: -8px;
        color: $lucky_point;
        font-family: $open_sansregular;
        font-weight: 400;
        margin-bottom: 20px;
        @media(max-width: 1200px){
          font-size: 28px;
          line-height: 32px;
        }
        @media(max-width: 991px){
          font-size: 26px;
          line-height: 30px;
        }
        @media(max-width: 736px){
            font-size: 22px;
            line-height: 26px;
        }
      }
      h5{
        font-size: 16px;
        font-family: $open_sanssemibold;
        font-weight: 600;
        margin-top: 30px;
      }
      h5.wot-margin{
          margin-top: 0;
      }
      ul{
        margin-top: 30px;
        li{
          padding-left: 35px;
          position: relative;
          margin-bottom: 10px;
          &:before{
            font-size: 18px;
            position: absolute;
            font-family: "icomoon";
            color: $danger;
            content: "\e911";
            display: block;
            left: 0px;
            top: 0px;
          }
          ul{
              margin-top: 10px;
          }
        }
        li.haveChild{
            position: unset;
            &:before{
              position: unset;
            }
        }
      }
    }
  }
  .btn-wrap{
    & + .sidebar-menu{
      margin-top: 18px;
    }
  }
}
