.ch-packages{
   margin-top: -62px;
   @media(max-width: 991px){
       margin-top: 0;
   }
    & + .top-space{
        padding-top: 122px;
    }
}
.switcher{
    background-color: $snuff;
    padding: 45px 30px;
    display: flex;
    align-items: center;
    @media(max-width: 1200px){
        padding: 30px;
    }
    @media(max-width: 991px){
        flex-wrap: wrap;
            flex-flow: column;
        }
        @media(max-width: 736px){
            padding: 20px;
        }
        .input-group{
            @media(max-width: 991px){
                margin-top: 28px;
            }
            .form-control{
                &::placeholder{
                    color: $gun_powder !important;
                }
            }
        }
        .col-md-7,.col-md-5{
            padding: 0;
            @media(max-width: 991px){
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

.switch {
  width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}
.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.switch input:checked {
  z-index: 1;
}
.switch input:checked + label {
  opacity: 1;
  cursor: default;
}
.switch input:not(:checked) + label:hover {
  opacity: 0.5;
}
.switch label {
  color: $white;
  opacity: 0.9;
  transition: opacity 0.25s ease;
  cursor: pointer;
}
.switch .toggle-outside {
  height: 100%;
  border-radius: 2rem;
  transition: 0.25s ease all;
}
.switch .toggle-inside {
  border-radius: 5rem;
  background: $danger;
  position: absolute;
  border: 6px solid $white;
  transition: 0.25s ease all;
}

.switch--horizontal input {
  height: 15px;
    width: 62px;
    left: 206px;
  margin: 0;
  @media(max-width: 1200px){
      left: 182px;
  }
  @media(max-width: 736px){
        left: 104px;
        top: 6px;
  }
}
.switch--horizontal label {
    font-family : $open_sanssemibold;
    font-weight: 600;
    font-size : 21px;
    color : $lucky_point;
    line-height: 15px;
    text-align: left;
    display: inline-block;
    height: 100%;
    margin: 0;
    @media(max-width: 1200px){
        font-size: 19px;
    }
    @media(max-width: 768px){
        font-size: 17px;
    }
}
.switch--horizontal label:last-of-type {
  margin-left: 100px;
}
.switch--horizontal .toggle-outside {
  background: $blue_bell;
  position: absolute;
  width: 60px;
  left: 32%;
  height: 10px;
  @media(max-width: 1200px){
      left: 36%;
  }
  @media(max-width: 991px){
      left: 28%;
  }
  @media(max-width: 768px){
      left: 26%;
  }
  @media(max-width: 736px){
      left: 35%;
  }
}
.switch--horizontal .toggle-inside {
  height: 28px;
  width: 28px;
}
.switch--horizontal input:checked ~ .toggle-outside .toggle-inside {
  left: 0;
  top: -10px;
}
.switch--horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 35px;
}
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: transparent;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid  transparent;
    border-radius: 100%;
    background:  transparent;
}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    padding-left: 0;
}


}
