.tab-selector-wrap{
    background-color: $blue_bell;
    z-index: 1;
    position: relative;
    top: -35px;
      @media(max-width: 1200px){
      overflow-x: scroll;
      margin-top: -35px; 
      top: auto;
  }
    // top: -12px;
}
.tab-selector{
  margin-top: -30px;
  padding: 15px;
  display: flex;
  @media(max-width: 1200px){
    position: relative;
    z-index: 1;
    margin-top: 0;
    padding: 15px 0;
  }
  @media(max-width: 736px){
    padding: 15px;
  }
  li{
    position: relative;
    display: flex;
    align-items: center;
    border-right: 1px solid $blue_haze;
    flex-wrap: wrap;
    &:last-child{
      border-right: 1px solid transparent;
    }
    // @media(max-width: 1200px){
    //     // min-width: 195px;
    //     display: inline-block;
    // }
    // @media(max-width: 991px){
    //   position: relative;
    //   display: flex;
    //   align-items: center;
    //   flex-wrap: wrap;
    // }
    &:after{
      border-right: 1px solid $blue_haze;
    //   content: "";
      display: block;
      position: absolute;
      right: 0px;
      top: 12px;
      @media(max-width: 1200px){
        right: 13px;
        top: 22px;
      }
      height: 40px;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
    a{
      padding: 8px 20px;
      font-family: $open_sanssemibold;
      font-weight: 600;
      display: inline-block;
      color: white;
      @media(max-width: 1200px){
        width: max-content;
        // word-wrap: break-word;
      }
    }
  }
}


.inner-tab{
  .nav-tab-wrap{
    margin: 0px;
  }
}

.nav-content-tab{
        // .nav-tabs-wrap{
    //     width: 600px;
    // }
  .nav-tabs{
    margin-top: 0px !important;
    border-bottom: 5px solid $blue_bell;
    flex-wrap: nowrap;
    @media(max-width: 1200px){
      overflow: scroll;
    }
    &.gun-powder{
        .nav-item{
            a.nav-link{
                color: $gun_powder;
            }
        }
      }
    .nav-item{
      padding: 0px !important;
      margin: 0px 0px 0px 0px!important;
      border-left: 1px solid $white;
      width: 100%;

      &:first-child{
        border-left: 0px;
      }
      &:before{
        display: none !important;
        content: "";
      }
      a.nav-link{
        padding: 10px 15px;
        background: $blue_haze ;
        // height: 50px;
        font-family: $open_sansregular;
        font-weight: 400;
        font-size: 16px;
        color: $lucky_point;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &.active{
          background: $blue_bell;
          border-color: $lavender-grey;
          color: $white;
        }
      }
    }
  }
  .tab-pane{
    background: transparent;
    &.active{
      background: transparent;
    }
  }
  .tab-content{
    margin-top: 40px;
  }
}
