.top-borderd-table{
    // border: 1px solid ;
    border-top: 5px solid $blue_bell;
    padding: 40px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
    @media(max-width: 1200px){
        padding: 20px;
    }
    @media(max-width: 736px){
        overflow: scroll;
    }
    .update-icon{
        color: $gun_powder;
        &.btn-transparent{
            line-height: 0;
        }
    }
}
.table-md-reg{
    th{
        color: $lucky_point;
        a{
            color: $lucky_point;
            font-family: $open_sanssemibold;
            font-weight: 600;
        }
    }
    td,th{
        border-top: 1px solid $blue_haze_1;
    }
    td:first-child,th:first-child{
        padding: 15px 15px 15px 0;
    }
    td:last-child{
        padding: 15px 0 15px 15px;
    }
    td{
        font-family : $open_sansregular;
        font-weight: 400;
        font-size : 18px;
        color : $gun_powder;
        line-height: 20px;
        padding: 15px;
        @media(max-width: 1200px){
            font-size : 14px;
        }
    }
    th{
        font-family : $open_sanssemibold;
        font-size : 18px;
        color : $lucky_point;
        line-height: 20px;
        padding: 15px;
        font-weight: 600;
        @media(max-width: 1200px){
            font-size : 14px;
        }
    }
    .no-top-border{
        td,th{border-top: 1px solid transparent;}
    }
}
.table-sm-reg{
    tbody{
        border-bottom: 1px solid $blue_haze_1;
    }
    th{
        color: $lucky_point;
    }
    td,th{
        border-top: 1px solid $blue_haze_1;
    }
    td:first-child,th:first-child{
        padding: 15px 15px 15px 0;
    }
    td:last-child{
        padding: 15px 0 15px 0;
        text-align: right;
        @media(max-width: 736px){
            padding: 15px 15px 15px 0;
        }
    }
    td{
        font-family : $open_sansregular;
        font-weight: 400;
        font-size : 16px;
        color : $gun_powder;
        line-height: 20px;
        padding: 15px;
        @media(max-width: 1200px){
            font-size : 12px;
        }
        @media(max-width: 991px){
            font-size : 14px;
        }
        @media(max-width: 736px){
            font-size : 13px;
        }
    }
    th{
        font-family : $open_sanssemibold;
        font-size : 16px;
        color : $lucky_point;
        line-height: 20px;
        padding: 15px;
        font-weight: 600;
        @media(max-width: 1200px){
            font-size : 12px;
        }
        @media(max-width: 991px){
            font-size : 14px;
        }
        @media(max-width: 736px){
            font-size : 12px;
        }
    }
    .no-top-border{
        td,th{border-top: 1px solid transparent;}
    }
}
.table{
     .default,.primary,.success,.info,.warning,.danger{
        font-family: $open_sanssemibold;
        font-weight: 600;
        font-size : 16px;
        @media(max-width: 1200px){
            font-size : 12px;
        }
        @media(max-width: 991px){
            font-size : 14px;
        }
        @media(max-width: 736px){
            font-size : 12px;
        }
    }
    .danger{
        color: $danger;
        &.right-arrow{
            text-decoration: none;
            i{
                // position: absolute;
                font-size: 18px;
                padding-left: 10px;
                top: 2px;
                position: relative;
            }
        }
    }
    .primary{
        color: $lucky_point;
    }
    .success{
        color: $success;
    }
    .warning{
        color: $warning;
        font-family: $open_sanssemibold;
        font-weight: 600;
    }
}
