
.text-over-img{
    position: relative;
    @media(max-width: 320px){
        height: 210px;
    }
    img{
        max-width: 100%;
        width: 100%;
        @media(max-width: 320px){
           height: 100%;
        }
    }
    .over-text{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        padding: 0 40px;
        top: 60px;
        width: 100%;
        @media(max-width: 1200px){
            padding: 0 15px;
        }
        @media(max-width: 991px){
            padding: 0 30px;
            top: 80px;
        }
        @media(max-width: 736px){
            top: 20px;
        }
        // @media(max-width: 320px){
        //     top: 60px;
        // }
        .btn{
            min-height: auto;
            height: auto;
            font-size: 16px;
            line-height: 15px;
            font-family: $open_sanssemibold;
            font-weight: 600;
            padding: 12px 30px;
        }
        h2{
            font-family : $gotham_medium;
            font-weight : bold;
            font-size : 36px;
            color : $white;
            width: 110px;
            line-height: 32px;
            letter-spacing: 2px;
            @media(max-width: 1200px){
                font-size : 28px;
            }
            @media(max-width: 736px){
                 width: 100%;
                 font-size : 22px;
            }
        }
        .desc{
            width: 310px;
            padding-left: 65px;
            @media(max-width: 1200px){
                padding-left: 30px;
            }
            @media(max-width: 736px){
                padding-left: 0;
                width: 100%;
            }
            p{
                font-family : $open_sansregular;
                font-weight: 400;
                font-size : 16px;
                color : $white;
                margin-bottom: 30px;
                @media(max-width: 1200px){
                    font-size : 14px;
                }
                @media(max-width: 736px){
                    margin-bottom: 10px;
                    line-height: 16px;
                }
            }
        }
    }
}
.text-over-img-overlay{
    position: relative;
    @media(max-width: 736px){
        overflow: hidden;
    }
    img{
        max-width: 100%;
        @media(max-width: 736px){
            height: 380px;
            max-width: none;
        }
    }
    &:before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg,rgba(35, 32, 117,0.7),rgba(35, 32, 117,0.7));

    }
    .over-text{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 60px;
        top: 25px;
        width: 100%;
        @media(max-width: 1200px){
            padding: 0 15px;
            top: 15px;
        }
        @media(max-width: 991px){
            padding: 0 30px;
            top: 30px;
        }
        @media(max-width: 736px){
            top: 20px;
        }
        // @media(max-width: 736px){
        //     padding: 0 30px;
        //     top: 30px;
        // }
        .text-btn{
            width: 147px;
            @media(max-width: 736px){
                width: 100%;
            }
            h2{
                font-family : $open_sansregular;
                font-weight: 400;
                font-size : 40px;
                color : $white;
                margin-bottom: 10px;
                 @media(max-width: 1200px){
                    font-size : 28px;
                }
                @media(max-width: 736px){
                    margin-bottom: 15px;
                }
                @media(max-width: 736px){
                    font-size : 26px;
                }

            }
        }
        .desc{
            width: 310px;
            padding-left: 65px;
            @media(max-width: 1200px){
                padding-left: 30px;
            }
            p{
                font-family : $open_sansregular;
                font-weight: 400;
                font-size : 16px;
                color : $white;
                margin-bottom: 30px;
            }
        }
    }
}

.over-count-up{
    padding-left: 60px;
    @media(max-width: 1200px){
        padding-left: 30px;
    }
    @media(max-width: 736px){
        padding-left: 0;
    }
    .counter-up{
        max-width: 360px;
        text-align: left;
        @media(max-width: 736px){
            padding-top: 10px;
        }
        & + .counter-up{
            border-left: none;
            padding-top: 15px;
            @media(max-width: 1200px){
                padding-top: 0;
            }
            @media(max-width: 736px){
                padding-top: 10px;
            }
        }
        .counter{
            font-family : $gotham_medium;
            font-size : 40px;
            color : $white;
            line-height: 45px;
            @media(max-width: 1200px){
                font-size : 28px;
                line-height: 45px;
            }
        }
        .caption{
            font-family : $open_sansregular;
            font-weight: 400;
            font-size : 14px;
            color : $white;
            line-height: 20px;
            max-width: 235px;
            margin: 0;
            @media(max-width: 1200px){
                line-height: 18px;
            }
        }
        span {
            font-size: 40px;
            color: $white;
            line-height: 45px;
            font-family: $gotham_medium;
            @media(max-width: 1200px){
                font-size : 28px;
                line-height: 45px;
            }
        }
    }
}
///////////////////////////////
.text-over-img-overlay-bordered{
    position: relative;
    &:before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg,rgba(35, 32, 117,0.7),rgba(35, 32, 117,0.7));

    }
    .over-text{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 60px;
        top: 25px;
        width: 100%;
        @media(max-width: 736px){
            padding: 20px;
            top: 20px;
        }
        @media(max-width: 320px){
            padding: 10px;
            top: 0;
        }
        .text-btn{
            width: 147px;
            @media(max-width: 1200px){
              width: 100%;
            }
            h2{
                font-family : $open_sansregular;
                font-weight: 400;
                font-size : 40px;
                color : $white;
                margin-bottom: 10px;
                 @media(max-width: 736px){
                     font-size: 28px;
                 }
            }
        }
        .desc{
            width: 310px;
            padding-left: 65px;
            p{
                font-family : $open_sansregular;
                font-weight: 400;
                font-size : 16px;
                color : $white;
                margin-bottom: 30px;
            }
        }
    }
    .over-count-up{
        .counter-up{
            .counter{
                @media(max-width: 320px){
                    font-size: 24px;
                }
            }
        }
    }
}

.text-over-img-overlay-bordered{
  border-top:5px solid $blue_bell;
  overflow: hidden;
  max-height: 285px;
  @media(max-width: 1200px){
    max-height: auto;
  }
  img{
    width: 100%;
    @media(max-width: 736px){
        width: fit-content;
        height: 365px;
    }
  }
  .over-text{
    padding-top: 25px;
    @media(max-width: 1200px){
      padding-top: 0px;
    }
    @media(max-width: 320px){
      padding-top: 10px;
    }
  }
  .over-count-up{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media(max-width: 1200px){
      max-width: 100%;
      padding-left: 0px;
    }
    // @media(max-width: 736px){
    //     align-items: center;
    // }
    .counter-up{
      padding: 0px;
      max-width: 50%;
      @media(max-width: 736px){
          padding-bottom: 10px;
      }
      &:nth-child(1n+3){
        margin-top: 30px;
        @media(max-width: 736px){
            margin-top: 0;
        }
      }
      &:first-child, &:nth-child(3){
        min-width: 260px;
        @media(max-width: 736px){
            min-width: 50%;;
        }
      }
    }
  }
}
/////////////////////////
.overlay-card{
    // position: relative;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    @media(max-width: 991px){
        height: auto;
    }
    @media(max-width: 736px){
        overflow: hidden;
        height: auto;
    }
    .over-text{
        // position: absolute;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 60px;
        width: 100%;
        @media(max-width: 1200px){
            padding: 0 15px;
        }
        @media(max-width: 991px){
            padding: 30px;
        }
        @media(max-width: 768px){
            padding: 30px;
        }
        .btn{
            min-height: auto;
            height: auto;
            font-size: 16px;
            line-height: 15px;
            font-family: $open_sanssemibold;
            font-weight: 600;
            padding: 12px 30px;
            }
        .text-btn{
            width: 147px;
            @media(max-width: 736px){
                width: 100%;
            }
            h2{
                font-family : $open_sanssemibold;
                font-weight: 600;
                font-size : 36px;
                color : $lucky_point;
                margin-bottom: 30px;
                line-height: 36px;
                 @media(max-width: 1200px){
                    font-size : 28px;
                }
                @media(max-width: 736px){
                    margin-bottom: 15px;
                }
                @media(max-width: 736px){
                    font-size : 26px;
                }

            }
        }
        .desc{
            width: 310px;
            padding-left: 65px;
            @media(max-width: 1200px){
                padding-left: 30px;
            }
            p{
                font-family : $open_sansregular;
                font-weight: 400;
                font-size : 16px;
                color : $lucky_point;
                margin-bottom: 30px;
            }
        }
    }
    .over-count-up{
        padding-left: 60px;
        @media(max-width: 1200px){
            padding-left: 30px;
        }
        @media(max-width: 736px){
            padding-left: 0;
        }
        .counter-up{
            max-width: 360px;
            text-align: left;
            @media(max-width: 736px){
                padding-top: 10px;
            }
            & + .counter-up{
                border-left: none;
                padding-top: 15px;
                @media(max-width: 1200px){
                    padding-top: 0;
                }
                @media(max-width: 736px){
                    padding-top: 10px;
                }
            }
            .counter{
                font-family : $gotham_medium;
                font-size : 40px;
                color : $lucky_point;
                line-height: 45px;
                @media(max-width: 1200px){
                    font-size : 28px;
                    line-height: 45px;
                }
            }
            .caption{
                font-family : $open_sansregular;
                font-weight: 400;
                font-size : 14px;
                color : $scarpa_flow;
                line-height: 20px;
                max-width: 235px;
                margin: 0;
                @media(max-width: 1200px){
                    line-height: 18px;
                }
            }
            span {
                font-size: 40px;
                color: $lucky_point;
                line-height: 45px;
                font-family: $gotham_medium;
                @media(max-width: 1200px){
                    font-size : 28px;
                    line-height: 45px;
                }
            }
        }
    }
}
