.thumbnail-caption{
    display: flex;
    position: relative;
    align-items: center;
    height: 190px;
    overflow: hidden;
    margin-top: 30px;
    @media(max-width: 1200px){
        height: 135px;
    }
    @media(max-width: 991px){
        flex-flow: column;
        height: 397px;
        overflow: visible;
        margin-top: 0;
    }
    &:hover{
        img{
            @include transition (all, 0.3s, ease-in-out);
            opacity: 0.8;
        }
    }
    .img-wrap{
        @media(max-width: 1200px){
            width: 35%;
        }
         @media(max-width: 991px){
             width: 100%;
         }
        img{
            @media(max-width: 1200px){
                width: 100%;
            }
        }
    }
    .sl-num{
        position: absolute;
        left: 25px;
        bottom: 18px;
         @media(max-width: 991px){
             left: 15px;
             bottom: 268px;
         }
        h2{
            font-family : $open_sansregular;
            font-weight: 400;
            font-size : 60px;
            color : $white;
            @media(max-width: 991px){
                font-size: 40px;
            }
        }
    }
    .caption-wrap{
        padding: 30px;
        @media(max-width: 1200px){
            padding: 16px 20px 20px;
            width: 65%;
        }
        @media(max-width: 991px){
            width: 100%;
        }
        h5{
            font-family : $open_sanssemibold;
            font-weight: 600;
            font-size : 21px;
            line-height: 24px;
            color : $white;
             @media(max-width: 1200px){
                font-size: 19px;
            }
            @media(max-width: 768px){
                font-size: 17px;
            }
        }
        p{
            font-family : $open_sansregular;
            font-weight: 400;
            font-size : 16px;
            color : $white;
            margin-bottom: 0;
            padding-top: 10px;
            @media(max-width: 1200px){
                font-size : 14px;
                padding-top: 5px;
            }
        }
    }
    & + .thumbnail-caption{
        @media(max-width: 991px){
            margin-top: 30px;
        }
    }
    &.color-code-1{
        background-color: $lucky_point;
    }
    &.color-code-2{
        background-color:  $lucky_point1;
    }
    &.color-code-3{
        background-color:  $lucky_point2;
    }
    &.color-code-4{
        background-color:  $blue_bell;
    }

}
