
.tool-tip{
    position: absolute;
    padding: 20px;
    background: $blue_bell;
    width: 300px;
    z-index: 1;
    font-family : $open_sansregular;
    font-weight: 400;
    color : $white;
    font-size : 14px;
    top: auto;
    bottom: 40px;
    right: -40px;
    opacity: 0;
    transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);
    visibility: hidden;
     @media(max-width: 320px){
        padding: 10px;
        width: 280px;
        top: -145px;
    }
    @media(max-width: 736px){
        right: -30px;
    }
    &:after{
        position: absolute;
        content: "";
        bottom: -20px;
        right: 30px;
        border-style: solid;
        border-width: 20px 20px 0 20px;
        border-color: $blue_bell transparent transparent transparent;
        @media(max-width: 736px){
            right: 20px;
        }
    }
}
.val-note{
    position: relative;
    .note{
       &:hover{
            .tool-tip{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
