.fancybox-slide{
    background-color: $primary;
    padding: 140px 0 40px 0;
}
.fancybox-bg{
    background: $primary;
}
.fancybox-slide--video .fancybox-content {
    background: $primary;
    width: 100% !important;
    height: 800px;
}
.fancybox-caption{
    background: unset;
    text-align: left;
    font-size: 32px;
    color: $white;
    position: relative;
    padding: 40px;
    @media(max-width: 736px){
        font-size: 20px;
        padding: 20px;
    }
}
.fancybox-caption--separate{
    margin-top: 0;
}
.fancybox-button, .fancybox-button:visited, .fancybox-button:link {
    color:$white;
    border: 1px solid $white;
    background: transparent;
    margin-right: 40px;
    margin-top: 40px;
    @media(max-width: 736px){
        margin-right: 20px;
        margin-top: 20px;
    }
}
.video-title{
    display: none;
}