#testimonials{
    display: none;
}
.loaded{
    #testimonials{
        display: block;
    }
}

.ytp-expand-pause-overlay .ytp-pause-overlay  {
  display:none !important;
}

#testimonials {
    .slick-slide{
        height: auto !important;
    }
    .video-wrapper {
        position: relative;
        padding-bottom: 39.4%;
        /* 16:9 */
        padding-top: 25px;
        height: 0;
        min-height: 774px;
        background-color: $black;
        @media(max-width: 1200px){
            min-height: auto;
        }
    }

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    .caption {
        z-index: 1;
        position: absolute;
        bottom: 100px;
        transition: all 0.3s ease-in-out;
        &.hide{
          opacity: 0;
        }
        @media(max-width: 1200px) {
            bottom: 60px;
        }

        @media(max-width: 736px) {
            left: auto;
            bottom: 22px;
        }

        @media(max-width: 560px) {
            bottom: 10px;
        }

        h3 {
            font-family: $open_sansregular;
            font-weight: 400;
            font-size: 36px;
            color: $white;
            letter-spacing: 0;

            @media(max-width: 1200px) {
                font-size: 32px;
            }

            @media(max-width: 736px) {
                font-size: 30px;
            }

            @media(max-width: 560px) {
                font-size: 20px;
                font-family: $open_sanssemibold;
                font-weight: 600;
            }
        }

        h4 {
            font-family: $open_sansregular;
            font-weight: 400;
            font-size: 24px;
            color: $white;
            letter-spacing: 0;
            line-height: 25px;

            @media(max-width: 736px) {
                font-size: 20px;
            }

            @media(max-width: 560px) {
                font-size: 16px;
            }
        }
    }


    &:hover {

        .prev-arrow,
        .next-arrow {
            opacity: 1;
            visibility: visible;
        }
    }

    .prev-arrow,
    .next-arrow {
        border: none;
        border-radius: 0;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        // margin: 0;
        padding: 0;
        color: #fff;
        width: 60px;
        height: 60px;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        @include transition(all, 0.3s, ease-in-out);

        @media(max-width: 736px) {
            width: 40px;
            height: 40px;
        }
    }

    .prev-arrow {
        left: 40px;
        background-color: rgba($white, 0.5);
        z-index: 1;

        @media(max-width: 736px) {
            left: 20px;
        }
    }

    .next-arrow {
        right: 40px;
        background-color: rgba($white, 0.5);
        z-index: 1;

        @media(max-width: 736px) {
            right: 20px;
        }
    }

    @media(max-width: 736px) {

        .prev-arrow,
        .next-arrow {
            opacity: 1;
            visibility: visible;
        }
    }

    .slide-arrow {
        position: absolute;
        top: 50%;
        margin-top: -50px;
        font-size: 30px;
        @media(max-width: 736px){
            margin-top: -17px;
        }
        .iconmoon {
            color: $blue_bell;
        }
    }
}
