.sidebar-cols .content-col .content.plain-content {
  .well.calender .well-title h3{
    margin-bottom: 0px;
  }
}

.well{
  &.calender{
    padding: 0px;
    background: $grey-bg;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-top: none;
    .well-title{
      display: inline-block;
      width: 100%;
      background: $blue_bell;
      padding: 15px 30px;
      @media(max-width: 768px){
        padding: 15px;
      }
      h3{
        margin: 0px;
        font-family: $open_sanssemibold;
        font-weight: 600;
        font-size: 21px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 29px;
        margin-bottom: 0px;
      }
    }
    .well-content{
      //padding: 15px 30px;
      color: $lucky_point;
      display: inline-block;
      width: 100%;
      & > span{
        display: flex;
        justify-content: left;
        align-items: center;
      }
      .info-row{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 10px 30px;
        border-bottom: 1px solid $white;
        @media(max-width: 768px){
          padding: 8px 15px;
        }
        .icon{
            font-size: 34px;
            line-height: 50px;
        }
        .img-icon{
          height: 50px;
          width: 50px;
        }
        span{
          font-family: $open_sanssemibold;
          font-weight: 600;
          font-size: 18px;
          color: $lucky_point;
          letter-spacing: 0;
          line-height: 26px;
          margin-left: 30px;
        }
        .img-icon{

        }
        &.date{

        }
        &.time{

        }
      }
      .btn-wrap{
        padding: 30px 30px;
        @media(max-width: 768px){
          padding: 15px;
        }
        .btn{
          width: 100%;
        }
      }
    }
  }
  &.well-simple{
    border-top: 5px solid $blue_bell;
    background: $grey-bg;
    padding: 30px;
    color: $gun_powder;
  }
}

.sidebar-cols .content-col .content{
  .well.well-simple ul{
    margin-top: 0px;
  }
}
