.mobile-nav, .close-menu-trigger{
  display: none;
}
@media(max-width: 991px){
  .nav-dropdown:hover > a{
    color: white !important
  }
  .nav-dropdown{
    position: relative;
    a:hover, a:focus{
      color: $white !important;
    }
    &:after, &:before{
      position: absolute;
    }
    &:before{
      display: none;
    }
    &:after{
      position: absolute;
      right: 15px;
      top: 13px;
      border: 0px;
      color: rgba($white,0.5);
      font-family: 'icomoon';
      content: '\e910';
      font-size: 15px;
    }
    .dropdown-menu-items a{
      font-size: 13px;
    }
    // &.active{
    //   &:before{
    //     top: 22px;
    //     right: 19px;
    //     border-top: 1px solid rgba($white,0.5);
    //     height: 1px;
    //     width: 12px;
    //     content: "";
    //     // display: block;
    //     display: none;
    //   }
    //   &:after{
    //     height: 21px;
    //     width: 21px;
    //     display: block;
    //     right: 15px;
    //     top: 12px;
    //     border: 1px solid rgba($white,0.5);
    //     content: "";
    //   }
    // }
  }
  .simple-dropdown, .wide-dropdown{
    &.active{
      &:before{
        top: 22px;
        right: 19px;
        border-top: 1px solid rgba($white,0.5);
        height: 1px;
        width: 12px;
        content: "";
        display: block;
      }
      &:after{
        height: 21px;
        width: 21px;
        display: block;
        right: 15px;
        top: 12px;
        border: 1px solid rgba($white,0.5);
        content: "";
      }
    }
  }
  .nav-dropdown.active{
    .nav-dropdown-row, .nav-dropdown-row-bg{
      display: flex;
    }
  }
  .nav-dropdown-row{
    top: 0px;
    padding: 0px;
    .container{
      padding: 0px;
      .nav-items li {

      }
    }
    .dropdown-menu-items{
      padding: 15px 0px;
      padding-bottom: 25px;
      li{
        padding: 3px 15px;
        &.menu-title{
          font-size: 16px;
          margin: 10px 0px;
          color: white;
          font-family: $open_sanssemibold;
          font-weight: 600;
        }
        a{
          padding: 0px;
          line-height: 22px;
        }
      }
    }
    .row{
      display: block;
      margin: 0px;
    }
  }
  .nav-dropdown.active > a:after, .nav-dropdown-full-panel.active > a:after, .nav-dropdown-row-bg .menu-bg-img-2{
    display: none;
  }
  .nav-dropdown-row-bg .dropdown-menu-items, .nav-dropdown-row-bg {
    left: 0px;
    top: 0px;
    padding: 0px;
    min-width: 100%;
  }
  .nav-dropdown-row-bg{
    padding: 15px;
    .menu-title{
      font-size: 16px;
      margin: 10px 0px;
      color: white;
      font-family: $open_sanssemibold;
      font-weight: 600;
    }
    .dropdown-menu-items{
      padding: 0px;
      a{
        padding: 0px !important;
      }
      li + li{
        margin: 0px;
        padding: 0px;
      }
    }
  }
  .top-header{
    padding-top: 15px;
    // padding-bottom: 15px;
    padding-bottom: 60px;
    .container{
      position: relative;
    }
    .col-md-6{
      position: static;
    }
  }
  .close-menu-trigger{
    display: inline;
    transform: rotate(45deg);
    font-size: 22px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
  }
  .share-icons-trigger + .search-trigger{
    display: none;
  }
  .contact-info, .logo-wrap .member-logo{
    position: absolute;
    top: 62px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    right: 15px;
    left: auto;
    .img-fluid{
        @media(max-width: 991px){
            max-width: 140px;
        }
    }
  }
  .contact-info{
    top: 66px;
    left: 15px;
    right: auto;
  }
  .thumbnail-icons.search-trigger{
    margin-left: 0px;
    padding: 0px;
    width: auto;
    &.active{
      background: unset;
    }
  }
  ul.thumbnail-wrap.space, .share-icons-trigger, .accessibility{display: none;}
  .navbar-default{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: $primary;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    padding: 50px 0px;
    overflow-y: scroll;
    @include transition(all, 0.3s, ease-in-out);
    transform: translateX(-100%);
    //transform: scale(0.5);
    &.active{
      display: inline-block;
      transform: translateX(0px);
      visibility: visible;
      opacity: 1;
      //transform: scale(1);
    }
  }
  .mobile-nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    align-items: center;
    .humburger-trigger{
      padding: 8px 0px;
    }
  }
  .nav-items{
    display: block;
    width: 100%;
    li{
      width: 100%;
      display: block;
      .nav-dropdown-row, .nav-dropdown-row-bg{
        position: relative;
        display: none;
      }
      & + li{
        margin-left: 0px !important;
      }
      a{
        padding: 8px 15px;
        font-family: $open_sanssemibold;
        font-weight: 600;
        width: 100%;
        &:hover, &:focus{
          color: white !important;
        }
      }
    }
  }
  .close-menu-trigger{
    color: white !important;
    &:hover, &:focus{
      color: white !important;
    }
  }
  .nav-items > li{
    & > a{
      padding: 10px 15px;
      position: relative;
      &:before{
        position: absolute;
        bottom: 0px;
        left: 15px;
        right: 15px;
        content: "";
        display: block;
        border-bottom: 1px solid rgba($white, 0.1);
        // width: 100%;
      }
    }
    li:last-child{
      a:after{
        display: none;
      }
    }
  }
  #search-trigger{
    display: none;
  }
  .simple-dropdown .nav-dropdown-row .row{
    margin-left: 0;
  }
}
@media(max-width: 736px){
    .top-header{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
