@media(max-width: 1200px){
  .content-with-right-sidebar .sidebar-right{
    max-width: 250px;
  }
  .content-with-right-sidebar .content-left{
    max-width: 660px;
  }
}

@media(max-width: 991px){
  .package-detail-header{
    flex-flow: column;
    .detail-hero {
      max-width: 100%;
      img{
        width: 100%;
      }
    }
    .detail-info{
      // margin-top: 30px;
      margin-left: 0px;
    }
  }
  .appintment-cta-wrap{
    padding: 15px 0px;
    flex-flow: column;
    .cta-wrap{
      margin-left: 0px;
      margin-top: 15px;
    }
  }
  .date-picker-wrap, .cta-wrap{
    min-width: auto !important;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .content-with-right-sidebar{
    flex-flow: column;
    .content-left, .sidebar-right{
      max-width: 100%;
    }
  }
  .content-with-right-sidebar {
    .content-left .tab-content{
      padding: 30px 15px;
    }
    .nav-content-tab .nav-tabs {
      .nav-item a.nav-link{
        min-width: auto !important;
      }
    }
  }
}

@media(max-width: 768px) {
  .content-with-right-sidebar .content-left {
    .nav-content-tab .nav-tabs {
      overflow: auto;
      max-width: 100%;
      .nav-item a.nav-link{
        min-width: 200px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  .appintment-cta-wrap .date-picker-wrap{
    display: flex;
    flex-flow: column;
    .label-wrap{
      margin-bottom: 15px;
    }
  }
  .appintment-cta-wrap {
    .label-wrap{
      margin: 15px 0px;
    }
    .cta-wrap{
      flex-flow: column;
    }
  }
}

@media(max-width: 560px){
  .content-with-right-sidebar .content-left .nav-content-tab .nav-tabs .nav-item a.nav-link {
    min-width: 200px !important;
  }
}