@media(max-width: 991px){
  .nav-tabs {
    .nav-item{
      max-width: 100% !important;
      a, a.active{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 12px;
      }
    }
    .nav-link{
      font-size: 18px;
    }
  }
}
@media(max-width: 736px){
  .nav-tabs {
    display: flex;
    align-items: center;
    // justify-content: center;
    border-bottom: 0px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 100%;
    .nav-item{
      width: 100%;
      max-width: 150px;
    }
    .nav-link{
      padding: 4px 10px;
      font-size: 15px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active{

      }
    }
  }
}
