.quotes{
    &.quotes-space{
        margin: 40px 0;
        @media(max-width: 736px){
            margin: 30px 0;
        }
    }
    h4{
        color: $lucky_point;
        font-size: 21px;
        line-height: 28px;
        @media(max-width: 991px){
            font-size: 19px;
        }
        @media(max-width: 768px){
            font-size: 17px;
        }
    }
}
.author{
    h6{
        color: $lucky_point;
        font-size: 18px;
        line-height: 28px;
        @media(max-width: 991px){
            font-size: 16px;
        }
        @media(max-width: 768px){
            font-size: 15px;
        }
    }
}
