.access-care{
    .accordion{
        margin-top: 60px;
        @media(max-width: 991px){
            margin-top: 40px;
        }
        .collapse{
            .collapse-body{
                margin-bottom: 50px;
                @media(max-width: 991px){
                    margin-bottom: 40px;
                }
            }
        }
    }
}
.sidebar-cols{
    .content-col{
        .content{
            h5 {
                & + ul{
                    margin-top: 15px;
                }
            }

        }
    }
}
