.aha-training{
  .calender-row{
    .col-md-6{
      @media(max-width: 1200px){
        flex: 0 0 100%;
        max-width: 100%;
        & + .col-md-6{
          margin-top: 30px;
          @media(max-width: 768px){
            margin-top: 15px;
          }
        }
      }
    }
  }
}

@media(max-width: 768px){
  .sidebar-cols .content-col .content{
    .add-info{
      h5{
        margin-top: 0px;
        & + h5{
          margin-top: 15px;
        }
      }
      & + .inner-content{
        .content-title{
          h3{
            margin-top: 0px;
          }
        }
      }
    }

  }
}