.events-list{
  margin-top: 40px;
  @media(max-width: 768px){
    margin-top: 15px;
  }
  .col-md-6{
    &:nth-child(1n+3){
      .events{
        margin-top: 30px;
      }
    }
  }
  @media(max-width: 1200px){
    .col-md-6{
      flex: 0 0 100%;
      max-width: 100%;
      & + .col-md-6{
        margin-top: 30px;
        @media(max-width: 768px){
          margin-top: 15px;
        }
      }
    }
  }
}

@media(max-width: 768px){
  .meet-speakers{
    .col-md-6{
      margin-bottom: 15px;
    }
  }
  .topics, .meet-speakers{
    .top-space-xxs{
      padding-top: 0px;
    }
  }
}
#cme-detals{
    .sidebar-cols{
        @media(max-width: 991px){
            margin-top: 10px;
        }
    }
}
