.contact-section-wrap{
  background: $grey-bg;
  display: flex;
  @media(max-width: 991px){
    flex-flow: column;
  }
  .address, .contact-info-block{
    width: 100%;
  }
  .address{
    padding: 50px;
    // border: 1px solid $snuff;
    h4{
      font-family: $open_sanssemibold;
      font-weight: 600;
      font-size: 21px;
      color: $lucky_point;
      letter-spacing: 0;
      line-height: 29px;
    }
    p{
      font-family: $open_sansregular;
      font-weight: 400;
      font-size: 18px;
      color: $gun_powder;
      letter-spacing: 0;
      line-height: 26px;
      margin-top: 20px;
    }
    @media(max-width: 1200px){
      padding: 30px;
    }
    @media(max-width: 768px){
      padding: 20px 15px;
    }
  }
  .contact-info-block{
    background: $blue_bell;
    max-width: 300px;
    display: flex;
    flex-flow: column;
    @media(max-width: 1200px){
      min-width: 260px;
      display: block;
    }
    @media(max-width: 991px){
      max-width: 100%;
    }
    .contact-row{
      border-top: 1px solid white;
      display: flex;
      align-items: center;
      justify-content: left;
      height: 100%;
      padding: 40px 50px;
      font-family: $open_sansbold;
      font-weight: 700;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0;
      a{
        font-family: $open_sansbold;
        font-weight: 700;
        color: $white;
      }
      @media(max-width: 1200px){
        padding: 30px;

      }
      @media(max-width: 991px){
        padding: 15px 30px;
      }
      @media(max-width: 768px){
        padding: 15px;
        height: 80px;
      }
      .img-icon{
        margin-right: 15px;
        &.icon-phone{
            &:before{
                display: none;
            }
        }
        &.icon-fax{
            &:before{
                display: none;
            }
        }
      }
    }
  }
}
 .iframeWrap{
   iframe{
     height: 370px;
    //  height: 100%;
     width: 100%;
   }
 }
