.simple-form-wrap{
    .col-md-8{
        @media(max-width: 991px){
            max-width: 100%;
            flex: 0 0 100%;
        }
    }
}
.simple-form{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    .form-group{
        margin-bottom: 30px;
        @media(max-width: 736px){
            margin-bottom: 15px;
        }
        &.single-item{
            margin-top: 20px;
        }
    }
    .btn-wrap{
        margin-top: 50px;
        @media(max-width: 991px){
            margin-top: 20px;
        }
        .btn{
            & + .btn{
                margin-left: 26px
            }
        }
    }
    .col-md-push-6 {
        margin-right: 50%;
        @media(max-width: 736px){
             margin-right: 0;
        }
    }
}
.sm-form-label{
    padding-bottom: 60px;
    @media(max-width: 991px){
        padding-bottom: 15px;
    }
}
.your-packages{
    .col-md-6{
        & + .col-md-6{
            @media(max-width: 736px){
                padding-top: 30px;
            }
        }
    }
}
section.banner{
    &.packages-banner{
        @media(max-width: 1200px){
            background-position: 50%;
        }
        @media(max-width: 736px){
            background-position: 100%;
        }
        .banner-header-wrap{
            @media(max-width: 1200px){
                max-width: 600px;
            }
            @media(max-width: 991px){
                max-width: 500px;
            }
        }
        .btn-wrap{
            padding-top: 60px;
            @media(max-width: 1200px){
                padding-top: 20px;
            }
            @media(max-width: 991px){
                padding-top: 0;
            }
        }
    }
}
