.sidebar-cols{
    &.sh-side-panel{
        .title-col{
            &:before{
                top: -100px;
                @media(max-width: 1200px){
                    top: -60px;
                }
            }
        }
    }
}

.doctors-detail{
    .doctors-detail-title{
        h1{
            font-family: $open_sansregular;
            font-weight: 400;
            font-size: 36px;
            color: #232075;
            letter-spacing: 0;
            line-height: 32px;
            @media(max-width: 991px){
                font-size: 26px;
            }
        }
        h2{
            font-family: $open_sansregular;
            font-weight: 400;
            font-size: 21px;
            color: #515062;
            letter-spacing: 0;
            line-height: 32px;
            margin-top: 10px;
            @media(max-width: 991px){
                font-size: 16px;
                margin-top: 0px;
            }
        }
    }
  h2{
    font-family: $open_sansregular;
    font-weight: 400;
    font-size: 36px;
    color: #232075;
    letter-spacing: 0;
    line-height: 32px;
    @media(max-width: 991px){
      font-size: 26px;
    }
  }
  h4{
    font-family: $open_sansregular;
    font-weight: 400;
    font-size: 21px;
    color: #515062;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 10px;
    @media(max-width: 991px){
      font-size: 16px;
      margin-top: 0px;
    }
  }
  .doctor-detail-head-wrap{
    display: flex;
    margin-top: 35px;
    @media(max-width: 1200px){
      flex-wrap: wrap;
      margin-top: 0px;
      .thumb-wrap, .doctor-info{
        width: 100%;
        padding: 30px 0px 0px 0px;
        @media(max-width: 768px){
          padding-top: 15px;
        }
      }
    }
    .thumb-wrap{
      @media(max-width: 1200px){
        img{
          width: 100%;
        }
      }
    }
    .doctor-info{
      padding-left: 30px;
      @media(max-width: 1200px){
        padding-left: 0px;
      }
      .info-row{
        display: flex;
        justify-content: left;
        border-top: 2px solid $lavender-grey;
        align-items: center;
        padding: 15px 0px;
        @media(max-width: 768px){
          padding: 10px 0px;
        }
        &:first-child{
          padding-top: 0px;
          border-top: 0px;
        }
        &:last-child{
          padding-bottom: 0px;

        }
        p{
          margin-bottom: 0px;
        }
        .ico-label{
          display: flex;
          min-width: 150px;
          justify-content: left;
          align-items: center;
          .icon-nationality{
            &:before{
                display: none;
            }
          }
          .img-icon{
            margin-right: 15px;
          }
        }
        .info-content{
          display: flex;
          justify-content: left;
          align-items: center;
          img{
            margin-left: 30px;
          }
        }
      }
      .btn{
        min-height: 55px;
        margin-top: 10px;
        line-height: 30px;
      }
    }
  }
}
