.doctors-list{
  & > div{
    @media(max-width: 768px){
      margin-top: 15px;
      &:first-child{
        margin-top: 0px;
      }
    }
    &:nth-child(1n+4){
      margin-top: 30px;
      @media(max-width: 768px){
        margin-top: 15px;
      }
    }
  }
  &.column-3{
      & > div{
        @media(max-width: 768px){
            margin-top: 0;
        }
        @media(max-width: 736px){
            margin-top: 15px;
            &:first-child{
                margin-top: 0;
            }
        }
        // &:first-child{
        //     @media(max-width: 768px){
        //         margin-top: 15px;
        //     }
        // }
        &:nth-child(1n+4){
        margin-top: 0;
            .card{
                @media(max-width: 768px){
                    margin-top: 15px;
                }
            }
        }
    }
  }
}
