.doctors-list{
  &.column-3{
    .card{
      .card-body{
        padding: 15px;
        h5.card-title{
          font-size: 18px !important;
        }
        .search-link-wrap{
          .btn-danger{
            padding: 10px;
            min-width: 110px;
            line-height: 25px;
            font-size: 15px;
            @media(max-width: 1200px){
                min-width: 100%;
            }
          }
          .btn-icon{
            font-size: 16px;
            &.right-icon .icomoon{
              margin-left: 5px;
              font-size: 20px;
            }
          }
          .btn-primary{
            min-width: 82px;
            line-height: 25px;
            padding: 10px;
            font-size: 16px;
              @media(max-width: 1200px){
                min-width: 100%;
            }
          }
        }
        .col-md-4:nth-child(1n+4){
            .card{
                margin-top: 0;
            }
        }
      }
    }
  }
}
