.sidebar-cols .content-col .content {
  .group-title{
    h3{
      margin-bottom: 0px;
    }
  }
}

.governance-group{
  .top-space-sm{
    @media(max-width: 991px){
      padding-top: 0px;
    }
  }
  .group-title{
    h3{
      // margin-bottom: 0px;
      text-align: center;
    }
    @media(max-width: 768px){
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  .col-md-4:nth-child(1n+4) .card{
    margin-top: 60px;
    @media(max-width: 991px){
      margin-top: 30px;
    }
  }
  .card{
    @media(max-width: 991px){
      margin-top: 30px;
    }
    @media(max-width: 768px){
      margin-top: 15px;
    }
  }
  .members-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px -15px;
    @media(max-width: 600px){
      margin-left: 0px;
      margin-right: 0px;
    }
    .members{
      margin-left: 13px;
      margin-right: 13px;
      margin-top: 50px;
      @media(max-width: 1200px){
        margin-top: 30px;
      }
      @media(max-width: 991px){
        margin-top: 30px;
      }
      @media(max-width: 768px){
        margin-top: 15px;
      }
      @media(max-width: 600px){
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }
  .members{
    background: #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
    @media(max-width: 600px){
      width: 100%;
    }
    .featured-image{
      margin: 0px;
      border-top: 5px solid $blue_bell;
      img{
        max-width: 100%;
        width: 100%;
      }
    }
    .card-body{
      text-align: center;
      padding: 30px 20px;
    }
    &.large-member{
      @media(max-width: 768px){
        margin-top: 0px;
      }
      h2{
        font-family: $open_sansregular;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        @media(max-width: 1200px){
          font-size: 28px;
          line-height: 30px;
        }
      }
      .designation{

      }
    }
    h2{
      font-family: $open_sanssemibold;
      font-weight: 600;
      font-size: 21px;
      line-height: 29px;
      color: $lucky_point;
      letter-spacing: 0;
      text-align: center;
      @media(max-width: 1200px){
        font-size: 18px;
        line-height: 26px;
      }
    }
    .designation{
      font-family: $open_sansregular;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: $gun_powder;
      letter-spacing: 0;
      text-align: center;
      margin-top: 15px;
      display: inline-block;
      @media(max-width: 1200px){
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
.governance-group{
    &.hilite{
        .card{
            &.members{
                background-color: $blue_haze;
                box-shadow: none;
            }
        }
    }
}
