.multyple-color-bg{
    position: relative;
    padding-bottom: 90px;
    @media(max-width: 991px){
        padding-bottom: 40px;
    }
    @media(max-width: 736px){
        padding-bottom: 40px;
    }
    .title{
        &.space{
            padding: 75px 0 65px;
            @media(max-width: 991px){
                padding: 45px 0 35px;
            }
            @media(max-width: 736px){
                padding: 40px 0 20px;
            }
            @media(max-width: 320px){
                display: block;
            }
        }
        &.flex-row{
            justify-content: space-between;
        }
    }
    &:before{
        position: absolute;
        content: "";
        border-top: 239px solid $blue_haze_light;
        border-bottom: 131px solid $blue_haze_ex_light;
        @media(max-width: 991px){
                border-top-width: 164px;
                border-bottom-width: 66px;
        }
        @media(max-width: 736px){
            border-top-width: 147px;
            border-bottom-width: 73px;
        }
        @media(max-width: 320px){
            border-top-width: 180px;
        }
        width: 100%;
    }
}
.stay-up{
    background-color: $blue_bell;
    padding: 60px 0 45px;
    @media(max-width: 736px){
        padding: 40px 0 25px;
    }
    .row{
        @media(max-width: 991px){
            display: block;
        }
        .col-md-6,.col-md-5{
            // min-height: 100%;
            @media(max-width: 991px){
                max-width: 100%;
            }
        }
    }
    .title{
        h4{
            font-family: $open_sansregular;
            font-weight: 400;
        }
        & + .content{
            padding-top: 8px;
        }
    }
    .form-group{
        &.flex-row{
            // @media(max-width: 736px){
            //     flex-flow: column;
            // }
            @media(max-width: 320px){
                display: block;
            }
            button{
                @media(max-width: 1200px){
                   padding: 10px;
                   width: 200px;
                }
                @media(max-width: 1200px) and (orientation: landscape){
                    margin-left: 15px;
                    padding: 10px;
                   width: 200px;
                }
                @media(max-width: 736px){
                    margin-left: -2px;
                    //margin-top: 20px;
                }
                @media(max-width: 320px){
                    margin-left: 0;
                    margin-top: 5px;
                    //margin-top: 20px;
                }
            }
        }
    }
}
.pull-bottom{
    position: absolute;
    width: 100%;
    bottom: 15px;
    @media(max-width: 768px){
        position: unset;
    }
}
section.second-opinion{
    .sop-wrap{
        & + .btn-wrap{
            position: absolute;
            right: 15px;
            top: 15%;
            @media(max-width: 1200px){
                position: unset;
            }
            @media(max-width: 991px){
                padding-bottom: 40px;
            }
            @media(max-width: 736px){
                padding-bottom: 0;
                text-align: center;
            }
        }
        @media(max-width: 736px){
            text-align: center;
        }
    }
    .title{
        & + .content{
            padding-top: 17px;
        }
    }
    .content{
        &.flex-content{
            @media(max-width: 1200px){
                flex-flow: column;
            }
            p{
                max-width: 430px;
            }
        }
    }
    &.top-space-sm{
        @media (max-width: 991px){
            padding-top: 50px;
        }
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $gun_powder;
  opacity: 1; /* Firefox */
}

.animated{
    &:hover{
            color: $primary;
        .icon-arrow:before{
            position: relative;
            animation-name: iconanimation;
            animation: iconanimation 3s infinite;
            animation-fill-mode: backwards;
            left: 0;

        }
        @keyframes iconanimation{
            0%{left: 0;}
            25%{left: 20px;}
            26%{left: 20px;opacity: 0;}
            50%{left: -20px;opacity: 0;}
        }
    }
}


