.insurance-wrap{
  & .col-md-6:nth-child(1n+3){
    margin-top: 30px;
  }
  .card{
    box-shadow: none;
    border: 1px solid $light-border;
    .cta-row{
      display: flex;
      align-items: center;
      justify-content: center;
      background: $light-border;
    }
  }
}
.form-panel{
    &.form-inline {
        &.insurance-form-panel{
            width: 100%;
            @media(max-width: 1200px){
                flex-wrap: wrap;
            }
            .form-group{
                @media(max-width: 1200px){
                    width: 60%;
                    padding-right: 25px;
                    margin-right: 0;
                }
                @media(max-width: 736px){
                    width: 100%;
                    padding-right: 0;
                    margin-right: 0;
                }
            }
            .form-btn{
                @media(max-width: 1200px){
                    width: 40;
                }
                 @media(max-width: 736px){
                    width: 100%;
                }
            }
        }
    }
}
