.simgle-header{
  h2{
    font-family: $open_sansregular;
    font-size: 32px;
    color: $lucky_point;
    letter-spacing: 0;
    line-height: 38px;
    margin-bottom: 60px;
    @media(max-width: 991px){
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 34px;
    }
    @media(max-width: 768px) {
      font-size: 22px;
      line-height: 28px;
    }
  }
  .date{
    font-family: $open_sansregular;
    font-weight: 400;
    font-size: 16px;
    color: $blue_bell;
    letter-spacing: 0;
    line-height: 24px;
    margin: 15px 0px;
  }
}
.blockquote-simple{
    & + .btn-wrap{
        &.back-btn-wrap{
            padding: 40px 0;
        }
    }
}


[data-mh="upcoming-events"]{
  min-height: 186px;
}