.form-wrap{
    &.patient-radio-wrap{
        margin-top: 80px;
        @media(max-width: 991px){
            margin-top: 35px;
        }
        .form-content-md{
            .title{
                h4{
                    margin-bottom: 0;
                }
            }
             .form-group{
                 margin-bottom: 0;
             }
        }
        &.form-wrap{
            .form-content{
                .form-group{
                    margin-top: 0;
                }
                .col-md-6{
                    & + .col-md-6{
                        @media(max-width: 1200px){
                            margin-top: 30px;
                        }
                        @media(max-width: 736px){
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
    }

}
.form-desc{
    padding-top: 5px;
    p{
        margin-bottom: 0 !important;
    }
    label{
        font-family : $open_sansregular;
        font-weight: 400;
        font-size : 16px;
        color : $gun_powder;
    }
}
.danger{
    color: $danger;
    font-size: 16px;
}
.tab-content{
    &.form-wrap-tab{
        margin-top: 0;
        .form-wrap{
            border-top: none;
            margin-top: 0;
            .form-content{
                padding-top: 0;
                .form-group{
                    margin-top: 0;
                    padding-top: 36px;
                    @media(max-width: 768px){
                      padding-top: 15px;
                    }
                    &.single-item{
                        padding-top: 44px;
                        @media(max-width: 768px){
                          padding-top: 30px;
                        }
                        label{
                            width: auto;
                        }
                    }
                    &.btn-group{
                        justify-content: space-between;
                        display: flex;
                        @media(max-width: 736px){
                            flex-flow: column;
                            align-items: center;
                        }
                        &.pull-right{
                            .btn{
                                margin-left: auto;
                            }
                        }
                        &.btn-wrap{
                            padding-top: 60px;
                            @media(max-width: 736px){
                                padding-top: 30px;
                            }
                        }
                        .btn{
                            height: auto;
                            line-height: 0px;
                            padding: 12px 40px;
                            @media(max-width: 736px){
                                width: 100%;
                            }
                            & + .btn{
                                @media(max-width: 736px){
                                    margin-top: 10px;
                                }
                            }
                            &.btn-icon{
                                line-height: 27px;
                                padding-left: 0px;
                                padding-right: 0px;
                            }
                            &.btn-danger{
                                @media(max-width: 736px){
                                    padding: 20px 40px;
                                }
                            }
                        }
                    }
                }
                .row{
                    margin: 0 -20px;
                    .col-md-6{
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}

@media(max-width: 768px){
  .form-desc label{
    // margin-top: 30px;
    font-size: 14px;
  }
}
