.our-patients-card{
    padding: 0px 0 100px;
    @media(max-width: 991px){
      padding: 0px 0 60px;
    }
    @media(max-width: 768px){
      padding-top: 40px;
    }
    .col-md-4{

        &:first-child{
            .card-img-text{
                @media(max-width: 736px){
                    padding-top: 0px;
                }
            }
        }
    }
    .card-img-text{
      padding-top: 100px;
      @media(max-width: 991px){
        padding-top: 60px;
      }
      @media(max-width: 768px){
        padding-top: 20px;
      }
      @media(max-width: 736px){
        padding-top: 40px;
      }
    }
    .card-img-text .card-img-text-body .btn.btn-icon{
      height: auto;
    }
    .title-space {
      min-height: 162px;
      @media(max-width: 768px){
        min-height: auto;
      }
    }
}


@media(max-width: 768px) {
  .our-patients-card{
    & + section {
      .grid-img-layout{
        padding-top: 0px;
      }
    }
  }
}
