.text-over-img-top-space{
    padding-bottom: 120px;
    @media(max-width: 991px){
        padding: 30px 0 50px;
    }
    .row{
        @media(max-width: 991px){
            display: block;
        }
    }
    .col-md-6{
        @media(max-width: 991px){
            max-width: 100%;
            margin: auto;
        }
        & + .col-md-6{
            @media(max-width: 991px){
                margin-top: 40px;
            }
        }
    }

}
.simple-card-booking{
    &.wot-flex{
        direction: block;
        margin: 0;
    }
    .simple-card-slider{
        .slick-slide{
            margin: 30px 15px 15px 15px;
            @media(max-width: 768px){
              margin-top: 15px;
            }
        }
    }
    .simple-card{
        .card-body{
            .search-link-wrap{
                .btn{
                    padding: 10px;
                    min-width: 110px;
                    line-height: 25px;
                    font-size: 15px;
                }
                .btn-icon{
                    font-size: 16px;
                }
            }
        }
    }
}
.all-packages{
    padding-top: 103px;
    @media(max-width: 991px){
        padding-top: 20px;
    }
}
.customize-your-package{
    margin-top: 135px;
    .tp-image{
        img{
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}
#package{
    .contact-info{
        @media(max-width: 991px){
            display: none;
        }
    }
    .top-header{
        @media(max-width: 991px){
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: $white;
        }
    }
    .col-md-7{
         @media(max-width: 991px){
             display: none;
         }
    }
    .bg-primary{
        @media(max-width: 991px){
            background-color: rgba($gray-suit, 0.1) !important;
        }
    }
    .mobile-login-switcher{
        @media(min-width: 991px){
            display: none;
        }
        @media(max-width: 991px){
            padding: 15px;
        }
    }
    .mobile-nav{
      padding: 0px;
        @media(max-width: 991px){
          background-color:$lucky-point;
        }
        .humburger-trigger{
            padding: 20px;
        }
    }
    .mobile-row{
        @media(max-width: 991px){
            display: flex;
            align-items: center;
            margin: 0 -15px;
            justify-content: space-between;
        }
    }
    // .mobile-nav{
    //     width: 40px;
    //     margin-left: auto;
    // }
    .col-md-5{

        @media(max-width: 1200px){
            flex: 0 0 30%;
            max-width: 30%;
        }
        @media(max-width: 991px){
            flex: 0 0 1000%;
            max-width: 100%;
        }
    }
    .col-md-7{
        @media(max-width: 1200px){
            flex: 0 0 70%;
            max-width: 70%;
        }
    }
}
