.product-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    p{
        margin-bottom: 0;
    }
}
.simple-card-booking{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    &.columns-3{
        .simple-card{
            max-width: 370px;
            margin: 0 15px;
            @media(max-width: 1200px){
                max-width: 290px;
            }
            @media(max-width: 991px){
                max-width: 330px;
            }
            @media(max-width: 736px){
                max-width: 100%;
            }
            &:nth-child(1n+4){
                margin-top: 30px;
            }
            &:nth-child(1n+3){
                @media(max-width: 991px){
                    margin-top: 15px;
                }
            }
            &:nth-child(1n+2){
                @media(max-width: 736px){
                    margin-top: 15px;
                }
            }
        }
    }
    &.columns-4{
        .simple-card{
            max-width: 270px;
            margin: 0 15px;
            width: 100%;
            @media(max-width: 1200px){
                max-width: 290px;
                width: 100%;
            }
            @media(max-width: 991px){
                max-width: 330px;
                width: 100%;
            }
            // @media(max-width: 768px){
            //     max-width: 240px;
            // }
            @media(max-width: 736px){
                max-width: 100%;
                width: 100%;
            }
            &:nth-child(1n+5){
                margin-top: 30px;
            }
            &:nth-child(1n+4){
                @media(max-width: 1200px){
                    margin-top: 15px;
                }
            }
            &:nth-child(1n+3){
                @media(max-width: 991px){
                    margin-top: 15px;
                }
            }
            &:nth-child(1n+2){
                @media(max-width: 736px){
                    margin-top: 15px;
                }
            }
        }
    }
}

