.package-detail-header{
  display: flex;
  width: 100%;
  .detail-hero{
    max-width: 570px;
    @media(max-width: 1200px){
        width: 45%;
        img{
            max-width: 100%;
        }
    }
    @media(max-width: 1200px){
        width: 100%;
    }

  }
  .detail-info{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-left: 30px;
    border-top: 5px solid $blue_bell;
    padding-top: 25px;
    @media(max-width: 1200px){
        width: 55%;
    }
    @media(max-width: 991px){
        width: 100%;
    }
    .header-top{
      h2, h4{
        color: $lucky_point;
      }
      h2{
        font-size: 32px;
        line-height: 38px;
        font-family: $open_sansregular;
        font-weight: 400;
        @media(max-width: 1200px){
          font-size: 28px;
          line-height: 28px;
        }
        @media(max-width: 768px){
          font-size: 24px;
          line-height: 26px;
        }
      }
      h4{
        font-size: 21px;
        line-height: 29px;
        font-family: $open_sanssemibold;
        font-weight: 600;
        margin-top: 8px;
        @media(max-width: 768px){
          font-size: 18px;
          line-height: 22px;
        }
      }
      p{
        font-size: 16px;
        line-height: 24px;
        color: $gun_powder;
        margin-top: 20px;
      }
    }
    .additional-info{
      font-size: 16px;
      line-height: 26px;
      font-family: $open_sanssemibold;
      font-weight: 600;
      border-bottom: 1px solid $light-border;
      padding: 18px 0px;
      display: flex;
      @media(max-width: 1200px){
        padding: 12px 0px;
    }
    @media(max-width: 991px){
        padding: 18px 0px;
    }
      .info-wrap{
        min-width: 124px;
        color: $lucky_point;
      }
    }
  }
}

.appintment-cta-wrap{
  display: flex;
  border-bottom: 1px solid $light-border;
  padding: 25px 0px;
  .date-picker-wrap{
    min-width: 570px;
    align-items: center;
    display: flex;
    .label-wrap{
      font-size: 18px;
      line-height: 26px;
      color: $lucky_point;
      font-family: $open_sanssemibold;
      font-weight: 600;
    }
    .form-group{
      position: relative;
      margin: 0px;
      .form-control{
          height: 43px;
          width: 280px;
          margin-left: 30px;
          padding: 12px;
          font-size: 16px;
          line-height: 24px;
          border: 1px solid $light-border;
          z-index: 1;
          background-color: transparent;
        position: relative;
        &::placeholder{
          color: $gun_powder !important;
        }
        @media(max-width: 991px){
            margin-left: 0;
        }
      }
      i{
        position: absolute;
        right: 5px;
        top: 5px;
        &.icon{
            font-size: 34px;
            line-height: 34px;
            color: $lucky_point;
        }
        &.img-icon{
            &.icon-datepicker{
                width: 40px;
            }
        }
      }
    }
  }
  .cta-wrap{
    margin-left: 15px;
    display: flex;
    @media(max-width: 1200px){
        flex-wrap: wrap;
    }
    .cta-items{
      .btn + .btn{
        margin-left: 20px;
      }
    }
    .label-wrap{
      font-size: 21px;
      line-height: 29px;
      color: $lucky_point;
      font-family: $open_sanssemibold;
      font-weight: 600;
       & + .cta-items {
            margin-left: 30px;
            @media(max-width: 1200px){
                margin-left: 0;
            }
       }
    }
    .label-wrap, .cta-items{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}

.content-with-right-sidebar{
  display: flex;
  justify-content: space-between;
  .content-left{
    max-width: 870px;
    .tab-content{
      margin: 0px;
      padding: 50px 30px;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.10);
      p, ul{
        color: $gun_powder;
        font-size: 16px;
        line-height: 24px;
      }
      ul{
        margin-top: 25px;
        li{
          padding-left: 35px;
          position: relative;
          margin-bottom: 10px;
          &:before{
            font-size: 18px;
            position: absolute;
            font-family: "icomoon";
            color: $danger;
            content: "\e911";
            display: block;
            left: 0px;
            top: 0px;
          }
        }
        li.haveChild{
            position: unset;
            &:before{
              position: unset;
            }
        }
      }
      h4{
        font-size: 21px;
        line-height: 29px;
        margin-bottom: 20px;
        color: $lucky_point;
        @media(max-width: 991px){
          margin-top: 15px;
          margin-bottom: 0px;
        }
        @media(max-width: 768px){
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
    .nav-content-tab{
      margin: 0px;
      .nav-tabs {
        justify-content: flex-start;
        .nav-item{
          width: auto;
          a.nav-link{
            padding-left: 30px;
            padding-right: 30px;
          }
        }
      }
    }
  }
  .sidebar-right{
    max-width: 270px;
  }
}

.customize-package{
  background: $light-border;
  @media(max-width: 736px){
      margin-top: 100px;

  }
  .tp-image{

        img{
            margin-left: 0;
            margin-right: auto;
            display: block;
            padding-left: 70px;
             @media(max-width: 991px){
                 padding-left: 0;
             }
            @media(max-width: 736px){
                margin-left: 0;
                margin-right: 0;
                margin: auto;
            }
        }
    }
  &.top-space-sm{
      @media(max-width: 991px){
        padding-top: 60px;
        margin-top: 10px;
      }
      @media(max-width: 736px){
        padding-top: 60px;
        margin-top: 70px;
      }
  }
  .title, .content{
    max-width: 550px;
  }
  .tp-image {
    margin-top: -150px;
    @media(max-width: 991px){
        margin-top: -110px;
    }
    @media(max-width: 736px){
        margin-top: -150px;
    }
  }
  .content{
    padding-top: 15px;
    margin-bottom: 50px;
    @media(max-width: 991px){
        margin-bottom: 25px;
    }
    .btn{
      margin-top: 15px;
    }
  }
}
