
.patient-experience{
    .blockquote-img{
        &.space{
            margin: 40px 0;
            @media(max-width: 736px){
                margin: 20px 0;
            }
        }
    }
    .desc{
        padding-top: 30px;
        @media(max-width: 736px){
            padding-top: 20px;
        }
        p{
            font-family : $open_sansregular;
            font-weight: 400;
            font-size : 16px;
            color : $gun_powder;
        }
    }
}
