.patients-stories{
    &.column-3{
        .col-md-4{
            &:nth-child(1n+2){
                .card{
                    @media(max-width: 736px){
                        margin-top: 30px;
                    }
                }
            }
        }
    }
} 