.my-account{
    .col-md-6{
        @media(max-width: 991px){
            flex: 0 0 100%;
            max-width: 100%;
        }
        & + .col-md-6{
            @media(max-width: 991px){
                margin-top: 30px;
            }
        }
    }
}
.table-title{
    &.flex-row{
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        @media(max-width: 1200px){
            margin-bottom: 20px;
        }
        h5{
            line-height: 16px;
        }
        button{
            line-height: 0;
        }
    }
}
.reg-form{
    display: flex;
    flex-wrap: wrap;
    .form-group{
        margin-bottom: 30px;
        @media(max-width: 991px){
            margin-bottom: 15px;
        }
    }
    .btn-wrap{
        margin-top: 10px;
    }
}
.register{
    .col-md-4{
        @media(max-width: 991px){
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .col-md-8{
        @media(max-width: 991px){
            flex: 0 0 100%;
            max-width: 100%;
        }
        .reg-form{
             @media(max-width: 991px){
                 margin: 0 -15px;
             }
        }
    }
}
