.srh-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
    .col-frm{
        padding: 0 15px;
        @media(max-width: 768px){
            width: 100%;
        }
        .title{
            width: 370px;
            @media(max-width: 768px){
                width: 100%;
            }
            @media(max-width: 1200px){
                padding-bottom: 15px;
            }
        }
        .btn{
            @media(max-width: 768px){
                margin-top: 15px;
            }
        }
        input{
            width: 595px;
            @media(max-width: 991px){
                width: 495px;
            }
            @media(max-width: 768px){
                width: 100%;
            }
        }

    }
}

