.request-works{
    .col-md-6{
        & + .col-md-6{
            @media(max-width: 736px){
                margin-top: 30px;
            }
        }
    }
    .form-content{
        .col-md-8{
            @media(max-width: 991px){
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    .form-wrap{
        @media(max-width: 1200px){
            padding: 20px;
        }
        // padding: 20px;
        .form-content{
            @media(max-width: 1200px){
                padding: 0;
            }
            .form-group{
                @media(max-width: 1200px){
                    margin-top: 14px;
                }
                .reCapta{
                    margin-top: 50px;
                    @media(max-width: 1200px){
                        margin-top: 14px;
                    }
                }
            }
            .btn-wrap{
                &.top-space-sm{
                    @media(max-width: 1200px){
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}
.your-doubts{
    .accordion{
        margin-top: 38px;
    }
}
.thumbnail-caption-wrap{
    @media(max-width: 991px){
        column-count: 2;
        padding-top: 30px;
    }
}
