#cardSpecialists{
    @media(max-width: 1200px){
        // width: 650px;
        // margin-left: auto;
    }
    .slick-slide {
        margin: 0 15px 0 15px;
    }
    &:hover{
        .slick-arrow{
            opacity: 1;
            visibility: visible;
        }
    }
    .slick-arrow{
        background-color: $blue_haze_new;
        opacity: 0;
        visibility: hidden;
        &.next-arrow{
            right: 15px;
            top: 107px;
            @media(max-width: 1200px){
                right: -15px;
            }
        }
        &.prev-arrow{
            left: 15px;
            top: 107px;
            @media(max-width: 1200px){
                left: -15px;
            }
        }
    }
}

// .video-wrapper{
//   background-size: cover;
//   position: relative;
//   min-height: 650px;
//   overflow: hidden;
//   @media(max-width: 736px){
//       min-height: 220px;
//   }
//   img.video-bg{
//     max-width: 100%;
//     max-height: 100%;
//     min-width: 100%;
//     object-fit: cover;
//   }
//   .play-btn{
//     background: url('../images/play_round.png');
//     height: 72px;
//     width: 72px;
//     position: absolute;
//     z-index: 1;
//     left: 50%;
//     top: 50%;
//     margin-left: -36px;
//     margin-top: -35px;
//     @media(max-width: 768px){
//       height: 50px;
//       width: 50px;
//       margin-left: -25px;
//       margin-top: -25px;
//       background-size: 100% auto;
//     }
//   }
//   .container{
//     position: relative;
//     height: 650px;
//     @media(max-width: 736px){
//       height: 220px;
//     }
//   }
//   .caption{
//     z-index: 1;
//     position: absolute;
//     bottom: 85px;
//     left: 0px;
//     @media(max-width: 1200px){
//         bottom: 60px;
//     }
//     @media(max-width: 736px){
//         left: auto;
//         bottom: 22px;
//     }
//      @media(max-width: 560px){
//        bottom: 15px;
//      }
//     h3{
//       font-family: $open_sansregular;
//       font-weight: 400;
//       font-size: 36px;
//       color: #FFFFFF;
//       letter-spacing: 0;
//       @media(max-width: 1200px){
//         font-size: 32px;
//       }
//       @media(max-width: 736px){
//           font-size: 30px;
//       }
//       @media(max-width: 560px){
//           font-size: 20px;
//           font-family: $open_sanssemibold;
//       }
//     }
//     h4{
//       font-family: $open_sansregular;
//       font-weight: 400;
//       font-size: 24px;
//       color: #FFFFFF;
//       letter-spacing: 0;
//       line-height: 25px;
//       @media(max-width: 736px){
//           font-size: 20px;
//       }
//       @media(max-width: 560px){
//           font-size: 16px;
//       }
//     }
//   }
// }
.speciality-content{
    .sidebar-cols{
        .content-col{
            @media (max-width: 991px){
                margin-top: 30px;
            }
        }
    }
}
