// Color Variables
// $primary 				: 	#988a5b;
$default				:	#45c2f6;
$primary                :   #232075;
$white					: 	#ffffff;
$black					: 	#000000;
$athens_gray            :   #dfe2e7;
$athens_gray_1          :   #f3f4f6;
$blue_bell              :   #5f6179;
$blue_bell-1            :   #9A95C3;
$blue_haze_new          :   #EFEEF6;
$blue_haze              :   #F4F3F8;
$blue_haze_1            :   #8f91a5;
$blue_haze_light        :   #ecebf3;
$blue_haze_ex_light     :   #f4f3f9;
$lucky_point            :   #232075;
$lucky_point1          :    #3D3971;
$lucky_point2          :    #615B8C;
$danger                 :   #c4151c;
$scarpa_flow            :   #515062;
$gun_powder             :   #3a3850;
$gun_powder_1           :   #3f3e59;
$kimberly               :   #615b8c;
$mischka                :   #dedde1;
$scarpa-flow            :   #56555a;
$lavender-grey          :   #C6C4DE;
$blue-chalk             :   #FBFAFD;
$light-border           :   #E0DFEF;
$btn-bg                 :   #F4F3F8;
$snuff                  :   #E0DFEF;
$grey-bg                :   #F4F4F9;
$simple-border          :   #979797;
$gray-suit              :   #bab7cb;
$warning                :   #F5A623;
$success                :   #7ED321;
$astral                 :   #3474B4;
$anakiwa                :   #A3D0FF;

