// Common Styles
@media(min-width: 1200px) {
  body{
    opacity: 0;
    transition: 0.5s all ease-in-out;
  }
}

body.loaded{
  opacity: 1;
}

a, .btn, a:focus, .btn:focus{outline: 0;}
html, body{font-size: 100%; font-family: $open_sansregular; font-weight: 400; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background-color: $white;overflow-x: hidden; }
p {font-family: $open_sansregular; font-weight: 400; }
a, button{ @include transition(all, .2s, ease-in-out); font-family: $open_sansregular; font-weight: 400;}
a, a:hover, a:focus{color: $primary;}
b, label{margin: 0;}
h1, h2, h3, h4, h5, h6{ font-family: $open_sanssemibold; font-weight: 600; margin: 0; padding: 0;}
h2{@include rem('font-size', 44px);}
h3{@include rem('font-size', 35px);}
address{
    margin-bottom: 0;
    font-family: $open_sansregular;
    font-weight: 400;
    font-size: 16px;
    @media(max-width: 991px){
        font-size: 14px;
    }
}
em{font-size: 21px;color: $lucky_point;letter-spacing: 0;line-height: 29px;font-style: normal;}
textarea{resize: vertical}
ul{list-style: none; margin: 0;padding: 0}
figure{margin: 0; padding: 0;}
.rippler{overflow: hidden;}
.wrapper {float: left; width: 100%;}
h5.wt-margin{margin-top: 30px;}
@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
}
.top-space{
    padding-top: 100px;
    @media(max-width: 1200px){
        padding-top: 60px;
    }
    @media(max-width: 991px){
        padding-top: 30px;
    }
}
.top-space-xxs{
    padding-top: 10px;
}
.top-space-xs{
    padding-top: 30px;
    @media(max-width: 991px){
        padding-top: 15px;
    }
}
.top-space-sm{
    padding-top: 60px;
    @media(max-width: 991px){
        padding-top: 30px;
    }
}
.top-space-md{
    padding-top: 80px;
    @media(max-width: 1200px){
        padding-top: 60px;
    }
    @media(max-width: 991px){
        padding-top: 40px;
    }
}
.bottom-space{
    padding-bottom: 100px;
    @media(max-width: 1200px){
        padding-bottom: 90px;
    }
    @media(max-width: 991px){
        padding-bottom: 30px;
    }
}
.bottom-space-xxs{
    padding-bottom: 10px;
}
.bottom-space-xs{
    padding-bottom: 30px;
    @media(max-width: 991px){
        padding-bottom: 15px;
    }
}
.bottom-space-sm{
    padding-bottom: 60px;
    @media(max-width: 991px){
        padding-bottom: 30px;
    }
}
.bottom-space-md{
    padding-bottom: 80px;
    @media(max-width: 1200px){
        padding-bottom: 60px;
    }
    @media(max-width: 991px){
        padding-bottom: 40px;
    }
}
.search-link-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.white{
    color: $white !important;
}
.row{
    &.reverse{
        flex-direction: row-reverse;
    }
}
.flex-vertical{
    flex-wrap: wrap;
    align-content: space-between;
    display: flex;
}
.title-flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-row{
    a{
        & + a{
            margin-left: 18px;
        }
    }
}

button{
  outline: 0;
  cursor: pointer;
  &:hover, &:focus{
    outline: 0;
    box-shadow: none;
  }
}
b, strong{
    font-family: $open_sanssemibold !important;
    font-weight: 600 !important;
}
p.no-margin{
    margin: 0 !important;
}
@media(max-width: 768px){
  p, ul{
    font-size: 15px;
    line-height: 24px
  }
}
