@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?g06pj9');
  src:  url('../fonts/icomoon.eot?g06pj9#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?g06pj9') format('woff2'),
    url('../fonts/icomoon.ttf?g06pj9') format('truetype'),
    url('../fonts/icomoon.woff?g06pj9') format('woff'),
    url('../fonts/icomoon.svg?g06pj9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group:before {
  content: "\e90a";
}
.icon-accessibility:before {
  content: "\e901";
}
.icon-coffee:before {
  content: "\e90b";
}
.icon-date:before {
  content: "\e90f";
}
.icon-date-picker:before {
  content: "\e915";
}
.icon-dine:before {
  content: "\e916";
}
.icon-doctor:before {
  content: "\e917";
}
.icon-fax:before {
  content: "\e918";
}
.icon-insurance:before {
  content: "\e91a";
}
.icon-landphone:before {
  content: "\e91b";
}
.icon-language:before {
  content: "\e91c";
}
.icon-mail:before {
  content: "\e91d";
}
.icon-map:before {
  content: "\e91e";
}
.icon-nationality:before {
  content: "\e91f";
}
.icon-people:before {
  content: "\e920";
}
.icon-phone:before {
  content: "\e921";
}
.icon-print:before {
  content: "\e922";
}
.icon-search:before {
  content: "\e923";
}
.icon-share:before {
  content: "\e924";
}
.icon-smartphone:before {
  content: "\e925";
}
.icon-time:before {
  content: "\e927";
}
.icon-water:before {
  content: "\e928";
}
.icon-location:before {
  content: "\e912";
}
.icon-sound:before {
  content: "\e903";
}
.icon-tick:before {
  content: "\e908";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-accecibility:before {
  content: "\e900";
}
.icon-dropdown:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-pinterest:before {
  content: "\e909";
}
.icon-youtube:before {
  content: "\e90c";
}
.icon-whatsapp:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-add-thin:before {
  content: "\e910";
}
.icon-arrow:before {
  content: "\e911";
}





///////////////////////////////////////////////////////////////////////////
// @font-face {
//   font-family: 'icomoon';
//   src:  url('../fonts/icomoon.eot?z43ugx');
//   src:  url('../fonts/icomoon.eot?z43ugx#iefix') format('embedded-opentype'),
//     url('../fonts/icomoon.woff2?z43ugx') format('woff2'),
//     url('../fonts/icomoon.ttf?z43ugx') format('truetype'),
//     url('../fonts/icomoon.woff?z43ugx') format('woff'),
//     url('../fonts/icomoon.svg?z43ugx#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }

// [class^="icon-"], [class*=" icon-"] {
//   font-family: 'icomoon' !important;
//   speak: none;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;

//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }
// .icon-print:before {
//   content: "\e901";
// }
// .icon-sound:before {
//   content: "\e903";
// }
// .icon-tick:before {
//   content: "\e908";
// }
// .icon-arrow-left:before {
//   content: "\e905";
// }
// .icon-arrow-right:before {
//   content: "\e907";
// }
// .icon-accecibility:before {
//   content: "\e900";
// }
// .icon-dropdown:before {
//   content: "\e902";
// }
// .icon-instagram:before {
//   content: "\e904";
// }
// .icon-linkedin:before {
//   content: "\e906";
// }
// .icon-pinterest:before {
//   content: "\e909";
// }
// .icon-youtube:before {
//   content: "\e90c";
// }
// .icon-whatsapp:before {
//   content: "\e90d";
// }
// .icon-facebook:before {
//   content: "\e90e";
// }
// .icon-add-thin:before {
//   content: "\e910";
// }
// .icon-arrow:before {
//   content: "\e911";
// }



.share-icons-trigger{
  padding: 6px;
}

.icon.fas.fa-phone{
  content: "";
  background: url('../images/phone.svg');
  height: 26px;
  width: 26px;
  &:before{
    display: none;
  }
}
.icon.fas.fa-mail{
  content: "";
  background: url('../images/mail-sm.svg');
  height: 26px;
  width: 26px;
  &:before{
    display: none;
  }
}
.icon.fas.fa-question{
    content: "";
    background: url('../images/question.svg');
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-position: center;
    &:before{
        display: none !important;
    }
}
.icon.fas.fa-pencil{
    content: "";
    background: url('../images/pencil.svg');
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:before{
        display: none !important;
    }
}

.fas.fa-share-alt{
  height: 25px;
  width: 24px;
  background: url('../images/share.svg');
  background-repeat: no-repeat;
  background-position: center;
  &:before{
    display: none;
  }
}

.fas.fa-search{
  height: 25px;
  width: 24px;
  background: url('../images/search.svg');
  &:before{
    display: none;
  }
}

.img-icon{
  height: 50px;
  width: 50px;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  &.icon-medical{
    background-image: url('../images/medical.svg');
    height: 62px;
    width: 62px;
  }
  &.icon-safisfied{
    background-image: url('../images/safisfied.svg');
    height: 62px;
    width: 68px;
  }
  &.icon-coverage{
    background-image: url('../images/coverage.svg');
    height: 64px;
    width: 51px;
  }
  &.icon-nationality{
    background-image: url('../images/nationality.svg');
    height: 24px;
    width: 16px;
  }
  &.icon-languages{
    background-image: url('../images/languages.svg');
    height: 19px;
    width: 24px;
  }
  &.icon-datepicker{
    background-image: url('../images/date-picker.svg');
    height: 37px;
    width: 37px;
  }
  &.icon-calender{
    background-image: url('../images/date-picker.svg');
    height: 37px;
    width: 37px;
  }
  &.icon-time{
    background-image: url('../images/time.svg');
    height: 37px;
    width: 37px;
  }
  &.icon-coffee{
    background-image: url('../images/coffee.svg');
    height: 40px;
    width: 40px;
  }
  &.icon-lunch{
    background-image: url('../images/lunch.svg');
    height: 40px;
    width: 40px;
  }
  &.icon-water{
    background-image: url('../images/water.svg');
    height: 40px;
    width: 40px;
  }
  &.icon-landphone{
    background-image: url('../images/landphone.svg');
    height: 50px;
    width: 50px;
  }
  &.icon-smartphone{
    background-image: url('../images/smartphone.svg');
    height: 50px;
    width: 50px;
  }
  &.icon-mail{
    background-image: url('../images/mail.svg');
    height: 50px;
    width: 50px;
  }
  &.icon-recapta{
    background-image: url('../images/recapta.svg');
    height: 50px;
    width: 50px;
  }
  &.icon-phone{
    background-image: url('../images/phone-white.svg');
    height: 50px;
    width: 50px;
  }
  &.icon-location{
    background-image: url('../images/location.svg');
    height: 50px;
    width: 50px;
  }
  &.icon-people{
    background-image: url('../images/people.svg');
    height: 50px;
    width: 50px;
  }
  &.icon-fax{
    background-image: url('../images/fax.svg');
    height: 50px;
    width: 50px;
  }
  &.icon-date-white{
    background-image: url('../images/date-white.svg');
    height: 50px;
    width: 50px;
  }
  &.icon-location-white{
    background-image: url('../images/location-white.svg');
    height: 50px;
    width: 50px;
  }
  &.icon-people-white{
    background-image: url('../images/people.svg');
    height: 50px;
    width: 50px;
  }
  &.icon-time-white{
    background-image: url('../images/time-white.svg');
    height: 50px;
    width: 50px;
  }
  &.icon-lens-beaker{
    background-image: url('../images/lens-beaker.svg');
    height: 75px;
    width: 50px;
  }
  &.icon-report{
    background-image: url('../images/report.svg');
    height: 75px;
    width: 50px;
  }

}
.color-icon{
  height: 30px;
  width: 30px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  &.custom-icon-twitter{
    background-image: url(../images/twitter-color.svg);
  }
  &.custom-icon-facebook{
    background-image: url(../images/facebook-color.svg);
  }
  &.custom-icon-youtube{
    background-image: url(../images/youtube-color.svg);
  }
  &.custom-icon-instagram{
    background-image: url(../images/instagram-color.svg);
  }
  &.custom-icon-linkedin{
    background-image: url(../images/linkedin-color.svg);
  }
  &.custom-icon-pinterest{
    background-image: url(../images/pinterest-color.svg);
  }
}

.icon-set{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  a{
    color: white;
    text-decoration: none;
    max-width: 50px;
  }
  .icon-coffee{
        &:before{
            display: none;
        }
  }
  .icon-water{
        &:before{
            display: none;
        }
  }
  .icon-lunch{
        &:before{
            display: none;
        }
  }
  span{
    color: white;
    font-size: 14px;
    line-height: 24px;
  }
}


.img-icon.icon-nationality{
  min-width: 24px;
}
.icon-landphone{
    &:before{
        display: none;
    }
}
.icon-smartphone{
    &:before{
        display: none;
    }
}
.icon-mail{
    &:before{
        display: none;
    }
}
