.form-wrap{
    .form-content{
        .form-control,.form-control-md{
            &::placeholder{
                color: #3a3850 !important;
            }
            &:focus{
                outline: 0px !important;
                box-shadow: none !important;
            }
        }
    }
}
