.title{
    color: $lucky_point;
    h1,h2{
        font-family: $open_sansbold;
        font-weight: 700;
    }
    h3, h4, h5, h6{
        font-family: $open_sanssemibold;
        font-weight: 600;
    }
    h2{
        font-size: 60px;
        @media(max-width: 768px){
            font-size: 40px;
        }
    }
    h3{
        font-size: 36px;
        @media(max-width: 768px){
            font-size: 26px;
        }
    }
    h4{
        font-size: 24px;
        @media(max-width: 768px){
            font-size: 20px;
        }
    }
    h5{
        font-size: 21px;
        @media(max-width: 991px){
            font-size: 19px;
        }
        @media(max-width: 768px){
            font-size: 17px;
        }
    }
    // h4{
    //     font-size: 24px;
    // }
}
.title-thin{
    color: $lucky_point;
    h4{
        font-size: 21px;
        font-family: $open_sansregular;
        font-weight: 400;
        @media(max-width: 991px){
            font-size: 19px;
        }
        @media(max-width: 768px){
            font-size: 17px;
        }
    }
}
.title-md{
    h2{
        font-family : $open_sanssemibold;
        font-weight: 600;
        font-size : 48px;
        color: $lucky_point;
        line-height: 48x;
        @media(max-width: 991px){
            font-size: 34px;
        }
    }
}
.table-title{

}
