//Typography Rules Go Here
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Bold.otf')  format('opentype'),
	     url('../fonts/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham-Bold.ttf')  format('truetype'), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf')  format('truetype'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Book.otf')  format('opentype'),
	     url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf')  format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap');

//Fonts-Families
$alternate-font: Helvetica, Arial, sans-serif;
$Poppins: 'Poppins', $alternate-font;

$gotham_Bold: 'Gotham-Bold', $alternate-font;
$gotham_medium: 'Gotham-Medium', $alternate-font;
$gotham_Book: 'Gotham-Book', $alternate-font;

$open_sanslight: 'Open Sans', $alternate-font;
$open_sanslight_italic: 'Open Sans', $alternate-font;
$open_sansregular: 'Open Sans', $alternate-font;
$open_sanssemibold: 'Open Sans', $alternate-font;
$open_sansbold: 'Open Sans', $alternate-font;

//Font-Weight
$Thin 			: 100;
$Etralight  : 200;
$Light			: 300;
$Regular		: 400;
$Medium			: 500;
$Semibold		: 600;
$Bold       : 700;
$ExtraBold  : 800;
$Black			: 900;
